@keyframes left_forward {
	0% {
		width: 100%;
		transform: translate3d(0,0,0);
		left: 0;
	}
	39% {
		transform: translate3d(-110%,0,0);
		width: 100%;
		left: 0;
	}
	40% {
		width: 0;
		transform: translate3d(-110%,0,0);
		left: 0;
	}
	50% {
		width: 0;
		transform: translate3d(-50%,0,0);
		left: 50%;
	}
	59% {
		width: 0;
		transform: translate3d(-50%,0,0);
		left: 50%;
	}
	100% {
		width: 100%;
		transform: translate3d(-50%,0,0);
		left: 50%;
	}
}

@keyframes right_forward {
	0% {
		width: 100%;
		transform: translate3d(0,0,0);
		right: 0;
	}
	39% {
		transform: translate3d(110%,0,0);
		width: 100%;
		right: 0;
	}
	100% {
		transform: translate3d(110%,0,0);
		width: 100%;
		right: 0;
	}
}

.button {
	
	&.underlined {
		display: inline-block;
		vertical-align: top;
		height: 24px;
		line-height: 24px;
		color: #fff;
		text-transform: uppercase;
		font-size: 12px;
		font-family: $medium;
		text-decoration: none;
		letter-spacing: 1px;
		transition: color 250ms;
		position: relative;
		overflow: hidden;
		user-select: none;
		cursor: pointer;

		&:before {
			display: block;
			position: absolute;
			left: 0;
			height: 1px;
			background: #fff;
			bottom: 0;
			width: 100%;
			content: '';
			transition: background 250ms;
			animation: left_back 750ms forwards linear;
		}
		&:after {
			display: block;
			position: absolute;
			right: 0;
			height: 1px;
			background: #fff;
			bottom: 0;
			width: 51%;
			content: '';
			transition: background 250ms;
			transform: translate3d(0,0,0);
			animation: right_back 750ms forwards linear;
		}
		&:hover {

			@include no_touch {

				&:before {
					animation: left_forward 750ms forwards linear;
				}
				&:after {
					animation: right_forward 750ms forwards linear;
				}
			}
		}
	}
	&.white {
		background: #fff;
		padding: 0 40px;
		border: 1px solid $blue;
		font-size: 12px;
		text-transform: uppercase;
		color: $blue;
		text-decoration: none;
		cursor: pointer;
		font-family: $bold;
		transition: background 250ms;
		white-space: nowrap;
		display: inline-block;
		user-select: none;
		height: 42px;
		line-height: 40px;

		&:hover {

			@include no_touch {
				background: #f4f8ff;
			}
		}
		&.big {
			height: 48px;
			line-height: 46px;
		}
	}
	&.blue {
		height: 60px;
		display: inline-block;
		vertical-align: top;
		width: 479px;
		padding: 0 20px;
		text-align: center;
		line-height: 60px;
		color: #fff;
		background: $blue;
		cursor: pointer;
		text-decoration: none;
		text-transform: uppercase;
		transition: background 250ms;
		font-family: $bold;
		font-size: 12px;
		border: none;
		box-shadow: none;
		-webkit-appearance: none;
		white-space: nowrap;

		&:hover {

			@include no_touch {
				background: #2b60ad;
			}
		}
	}
	&.fb {
		height: 30px;
		line-height: 30px;
		color: #fff;
		font-family: $bold;
		font-size: 12px;
		padding: 0 20px;
		text-transform: uppercase;
		background: $blue;
		cursor: pointer;
		display: inline-block;
		vertical-align: top;
		transition: background 250ms;
		margin-bottom: 30px;
		
		&:hover {
			
			@include no_touch {
				background: #2b60ad;
			}
		}
		> span {
			position: relative;
			@include icon(fb);
			padding-left: 20px;

			&:before {
				display: block;
				position: absolute;
				left: 0;
				font-size: 15px;
			}
		}
	}
}