.cms_page {
	@extend .sidebar_layout;

	section.photos .side_pop {

		form {
			padding: 0;

			.photo_holder {
				transition: backround 250ms;
				cursor: pointer;

				&:hover {

					@include no_touch {
					    background: #f9f9f9;
					}
				}
			}
			.form_buttons > * {
				margin-bottom: 12px;
			}
			.label {
				font-size: 16px;
				color: #202020;
				margin-bottom: 12px;
				font-family: "Roboto-Medium";
			}
			.editor {
				margin-bottom: 16px;
			}
		}
	}
	.stats_holder {
		padding: 54px 66px 49px;
		display: block;
		width: 100%;
		margin: 0 auto;
		max-width: 1005px;
		position: relative;

		@include burger {
			padding: 54px 0 49px;
		}
		@include mobile {
			padding: 35px 0;
		}
		.label {
			font-size: 16px;
			color: #202020;
			margin-bottom: 12px;
			font-family: "Roboto-Medium";
		}
	}
}