.contacts_page {
	
	.wrapper {
		max-width: 1000px;
	}
	h1 {
		padding-bottom: 28px;

		@include mobile {
			padding-bottom: 24px;
		}
	}
	.director_card {
		display: flex;
		width: calc(100% - 70px);
		margin-left: 35px;
		background: #efefef;

		@include mobile {
			width: 100%;
			display: block;
			margin-left: 0;
		}
		.left,
		.right {
			display: inline-flex;
			vertical-align: top;
			width: 50%;
			min-height: 270px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;

			@include mobile {
				display: block;
				width: 100%;
				min-height: 0;
			}
			.contact {
				margin: auto;
				height: auto;
				padding: 35px;
				width: auto;
			}
		}
		.left {

			@include mobile {
				height: calc((100vw - 40px) * 0.69);
			}
		}
	}
	.contact {
		text-align: left;
		display: inline-block;
		vertical-align: top;
		margin-bottom: 66px;
		margin: 0 35px 66px 35px;
		width: 235px;

		@include mobile {
			width: 100%;
			margin: 0;
			margin-bottom: 30px;
		}
		.position {
			font-size: 16px;
			color: #202020;
			font-family: $medium;
			margin-bottom: 5px;
			font-style: italic;
		}
		.name {
			font-size: 16px;
			color: #202020;
			font-family: $medium;
			margin-bottom: 15px;
		}
		.phone,
		.email {
			font-size: 16px;
			color: $black;
			line-height: 153%;

			a {
				text-decoration: none;
				color: $blue;
				padding-left: 5px;
				font-family: $medium;

				&:hover {

					@include no_touch {
						text-decoration: underline;
					}
				}
			}
		}
	}
	.contacts_grid {
		margin-top: 66px;
		font-size: 0;
		text-align: center;

		@include mobile {
			margin-top: 35px;
			margin-bottom: 10px;
		}
		
	}
	.map_holder {
		position: relative;
		position: relative;
		height: 512px;

		@include mobile {
			height: auto;
		}
		#map {
			background: #ececec;
			height: 100%;
			width: 100%;

			@include mobile {
				height: 385px;
			}
		}
		.etiquette {
			background: #fff;
			position: absolute;
			height: 403px;
			width: 318px;
			top: 54px;
			left: 54px;
			z-index: 1;
			padding: 50px;

			@include mobile {
				position: static;
				width: 100%;
				height: auto;
				padding: 34px 0 0 0;
				max-width: 210px;
			}
			.logo {
				@include icon(logo);
				height: 21px;
				margin-bottom: 23px;

				&:before {
					display: block;
					height: 21px;
					line-height: 21px;
					font-size: 21px;
					color: #1b3e87;
				}
			}
			.name {
				color: #202020;
				font-size: 16px;
				font-family: $medium;
				line-height: 152%;
				margin-bottom: 22px;
			}
			.address {
				line-height: 152%;

				a {
					padding-left: 2px; 
					color: $blue;
					text-decoration: none;
					font-family: $medium;

					&:hover {

						@include no_touch {
							text-decoration: underline;
						}
					}
				}
			}
			.social_links {
				margin-top: 20px;

				@include mobile {
					margin-top: 20px;
				}

				.fb {
					text-decoration: none;
					cursor: pointer;
					@include icon(fb_2);
					line-height: 26px;
					height: 26px;
					display: inline-block;
					vertical-align: top;
					margin-right: 27px;

					&:before {
						height: 26px;
						line-height: 26px;
						font-size: 26px;
						color: #808080;
						transition: color 250ms;
					}
					&:hover {

						@include no_touch {
							
							&:before {
								color: $blue;
							}
						}
					}
				}
				.yt {
					text-decoration: none;
					cursor: pointer;
					@include icon(yt);
					line-height: 26px;
					height: 26px;
					display: inline-block;
					vertical-align: top;

					&:before {
						height: 26px;
						line-height: 26px;
						font-size: 21px;
						color: #808080;
						transition: color 250ms;
					}
					&:hover {

						@include no_touch {
							
							&:before {
								color: $blue;
							}
						}
					}
				}
			}
		}
	}
}