html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
}
body {
  font-family: $normal;
  color: $black;
}
main {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  transform: translate3d(0, 0, 0);

  &.hidden {
    @media screen and (min-width: 1001px) {
      overflow: hidden;
    }
  }
}
#scroller {
}
.simple_text {
  ul,
  ol {
    padding: 24px 0 24px 19px;
  }
}
.global_warning {
  display: none;
  position: relative;
  background: $blue;
  text-align: center;
  color: #fff;
  font-size: 12px;
  padding: 14px 20px;
  line-height: 140%;
  border-bottom: 1px solid #fff;
  z-index: 2;

  a {
    font-family: $bold;
    text-decoration: underline;
    cursor: pointer;
    color: #fff;
  }
  &.error {
    background: #d50000;
  }
}
.wrapper {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;

  &.smaller {
    max-width: 772px;
  }
  @include mobile {
    padding: 0 20px;
  }
}
h1 {
  font-size: 30px;
  color: #202020;
  font-family: $medium;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 18px;

  @include mobile {
    font-size: 24px;
  }
}
h2 {
  font-size: 30px;
  padding-top: 60px;
  padding-bottom: 35px;
  color: #202020;
  font-family: $medium;
  margin: 0;

  @include mobile {
    font-size: 24px;
    padding-bottom: 20px;
  }
}
h3 {
  color: #202020;
  margin-bottom: 30px;
  font-size: 24px;
  font-family: $medium;
}
.page {
  padding-top: 113px;
  min-height: calc(100vh - 24px);
  padding-bottom: 80px;
  background: #fff;
  transform: translate3d(0, 0, 0);

  @include mobile {
    padding-top: 85px;
    padding-bottom: 40px;
  }
  .global_warning {
    margin-top: -35px;
    margin-bottom: 35px;

    @include burger {
      margin-top: -53px;
      margin-bottom: 53px;
    }
    @include mobile {
      margin-top: -25px;
      margin-bottom: 25px;
    }
  }
  &.photos_page,
  &.news_page,
  &.sidebar_layout,
  &.cms_page {
    .global_warning {
      margin-top: -15px;
      margin-bottom: 15px;

      @include burger {
        margin-top: -13px;
        margin-bottom: 13px;
      }
      @include mobile {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
  &.login_page {
    .global_warning {
      margin-top: 78px;
      margin-bottom: -78px;

      @include burger {
        margin-top: 60px;
        margin-bottom: -60px;
      }
      @include mobile {
        margin-top: 60px;
        margin-bottom: -60px;
      }
    }
  }
  &.title_page {
    .global_warning {
      display: none !important;
    }
  }
  &.sidebar_layout.no_filter {
    .global_warning {
      margin-top: 0;
      margin-bottom: 0;

      @include burger {
        margin-top: 0;
        margin-bottom: 0;
      }
      @include mobile {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
  // &.sidebar_layout {

  // 	.global_warning {
  // 		margin-top: 0;
  // 		margin-bottom: 0;

  // 		@include burger {
  // 			margin-top: 0;
  // 			margin-bottom: 0;
  // 		}
  // 		@include mobile {
  // 			margin-top: 0;
  // 			margin-bottom: 0;
  // 		}
  // 	}
  // }
}
::-moz-selection {
  background: rgba($blue, 0.6);
}
::selection {
  background: rgba($blue, 0.6);
}

.has_photos {
  display: inline-block;
  vertical-align: top;
  margin-left: 9px;
  padding-left: 21px;
  color: $blue;
  font-size: 12px;
  position: relative;
  @include icon(camera);
  margin-top: -1px;

  &:before {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    color: $grey;
    font-size: 12px;
  }
}
.has_downloadable {
  display: inline-block;
  vertical-align: top;
  margin-left: 9px;
  padding-left: 21px;
  color: $blue;
  font-size: 12px;
  position: relative;
  @include icon(download);
  margin-top: -1px;

  &:before {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    color: $grey;
    font-size: 12px;
  }
}
.cookies_pop {
  position: fixed;
  z-index: 10;
  width: 100%;
  bottom: 0;
  left: 0;
  background: rgba(#fff, 0.8);
  padding: 10px 0;
  min-height: 80px;
  transition: transform 250ms, opacity 250ms;
  transform: translate3d(0, 0, 0);
  opacity: 1;

  &.gone {
    transform: translate3d(0, 120%, 0);
    opacity: 0;
  }
  .privacy_text {
    font-size: 12px;
    color: $black;
    line-height: 180%;
    position: relative;
    padding-right: 200px;

    @include mobile {
      padding-right: 0;
    }
    .button_holder {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 200px;
      display: flex;
      justify-content: flex-end;

      @include mobile {
        display: block;
        width: 100%;
        position: relative;
        margin-top: 10px;
      }
      .button {
        margin: auto 0;
        width: auto;
        height: 34px;
        line-height: 34px;
        padding: 0 40px;
      }
    }
  }
}
.go_back_to_list {
  text-transform: uppercase;
  color: $blue;
  font-size: 12px;
  @include icon(arrow_left);
  cursor: pointer;
  padding: 15px 0 15px 17px;
  position: absolute;
  top: 19px;
  text-decoration: none;
  display: block;

  @include mobile {
    position: relative;
    top: auto;
    margin-bottom: 10px;
  }
  &:before {
    display: block;
    position: absolute;
    left: 0;
    top: 16px;
    font-size: 10px;
  }
  &:hover {
    @include no_touch {
      text-decoration: underline;
    }
  }
  &.bottom {
    top: auto;
    bottom: 67px;

    @include mobile {
      bottom: auto;
      padding-top: 0;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
      display: inline-block;

      &:before {
        top: 1px;
      }
    }
  }
}
.remove_another {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $medium;
  font-size: 10px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
  cursor: pointer;
  transition: background 250ms;
  background: #d50000;
  margin-bottom: 20px;

  &:hover {
    @include no_touch {
      background: #b60101;
    }
  }
}
.error_message {
  color: #ff0000;
  font-size: 14px;
  margin-bottom: 16px;
  text-align: right;
}
.iframe_holder {
  width: 100%;
  margin-bottom: 30px;
  position: relative;
  padding-top: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
  }
}
#loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  transition: opacity 500ms;
  background: #fff;
  display: none;
  padding: 40px;
  color: #000;
  opacity: 0;
  pointer-events: none;

  &.show {
    opacity: 1;
    pointer-events: all;
  }
  .center {
    margin: auto;
    padding-top: 50px;
    text-align: center;
    width: 200px;
    position: relative;
    font-size: 16px;
    font-family: $medium;

    img {
      position: absolute;
      width: 32px;
      height: 32px;
      top: 0;
      margin-left: -16px;
      left: 50%;
    }
  }
}
.editor_iframe {
  width: 100%;
  margin-bottom: 22px;

  iframe {
    border: none !important;
    width: 100% !important;
    height: 636px !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    border-bottom: 1px solid #e5e5e5 !important;

    @media screen and (min-width: 1000px) and (max-width: 1017px) {
      border-bottom: 1px solid #e5e5e5 !important;
      border-top: 1px solid #e5e5e5 !important;
    }
    @media screen and (max-width: 840px) {
      border-bottom: 1px solid #e5e5e5 !important;
      border-top: 1px solid #e5e5e5 !important;
    }
  }
  input {
    visibility: hidden;
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    opacity: 0;
  }
}
.pt40 {
  padding-top: 40px !important;
}
.keywords_holder {
  margin: 15px 0;
  font-size: 0;
  text-align: left;

  .key {
    font-size: 10px;
    padding: 0 8px;
    display: inline-block;
    vertical-align: top;
    line-height: 18px;
    margin-right: 5px;
    margin-top: 5px;
    background: $grey;
    text-transform: uppercase;
    font-family: $medium;
    font-weight: 500;
    color: #fff;
  }
}
