.simple_dropdown {
	display: inline-block;
	vertical-align: top;
	position: relative;
	height: 36px;
	width: 100%;
	@include icon(bird);
	user-select: none;
	cursor: pointer;
	transform: translate3d(0,0,0);

	&:before {
		display: block;
		position: absolute;
		z-index: 1;
		pointer-events: none;
		font-size: 6px;
		color: #bbbbbb;
		right: 16px;
		top: 50%;
		margin-top: -3px;
		transform: translate3d(0,0,0) rotateZ(0);
		transition: transform 250ms;
	}
	input {
		border: 1px solid #efefef;
		height: 36px;
		line-height: 34px;
		text-transform: uppercase;
		color: #202020;
		opacity: 1;
		font-size: 12px;
		padding: 0 44px 0 20px;
		width: 100%;
		pointer-events: none;
		user-select: none;
		background: #fff;
		transition: border-color;

		@include placeholder {
			color: #bbbbbb;
			opacity: 1;
			font-size: 14px;
		}
		&.error {
			border-color: red !important;
		}
	}
	.content {
		position: absolute;
		width: 100%;
		top: 36px;
		left: 0;
		pointer-events: none;
		opacity: 0;
		transform: translate3d(0,10px,0);
		transition: transform 250ms, opacity 250ms;
		background: #fff;

		.option {
			color: #9c9c9c;
			font-size: 12px;
			text-transform: uppercase;
			border: 1px solid #efefef;
			border-top: none;
			padding: 10px 20px;
			transition: color 250ms;

			&.current {
				color: #202020;
			}
			&:hover {

				@include no_touch {
					color: #202020;
				}
			}
		}
	}
	&.bigger {
		height: 42px;
		margin-bottom: 16px;

		&:before {
			right: 20px;
		}
		input {
			height: 42px;
			line-height: 40px;
			text-transform: none;
			font-size: 14px;
			border-color: #e5e5e5;

			@include placeholder {
				text-transform: none;
			}
			&.error {
				border-color: red;
			}
		}
		.content {
			top: 42px;
			border-color: #e5e5e5;

			.option {
				padding: 14px 20px;
				border-color: #e5e5e5;
				text-transform: none;
				font-size: 14px;
			}
		}
	}
	&.open {
		z-index: 3;

		&:before {
			transform: translate3d(0,0,0) rotateZ(180deg);
		}
		.content {
			pointer-events: all;
			opacity: 1;
			transform: translate3d(0,0,0);
		}
	}
	&.smaller {
		height: 30px;
		margin-bottom: 12px;

		&:before {
			right: 10px;
		}
		input {
			height: 30px;
			line-height: 28px;
			font-size: 12px;
			text-transform: none;
			padding: 0 30px 0 10px;

			@include placeholder {
				font-size: 12px;
				text-transform: none;
			}
			&.error {
				border-color: red;
			}
		}
		.content {	
			top: 30px;

			.option {
				text-transform: none;
		    	padding: 7px 10px;
			}
		}
	}
}