.expected_page {
	
	.calendar {

		.month {
			font-size: 24px;
			font-family: $medium;
			color: #202020;
			text-align: center;
			padding: 18px;
			border-bottom: 1px solid #efefef;
		}
		.day {
			border-bottom: 1px solid #efefef;
			display: flex;

			@include mobile {
				display: block;
			}
			.day_controls {
				border-right: 1px solid #efefef;
				display: inline-block;
				vertical-align: top;
				width: 150px;
				padding: 20px;

				@include mobile {
					width: 100%;
					border-right: none;
					border-bottom: 1px solid #efefef;
					padding-top: 22px;
				}
				.number {
					font-size: 24px;
					color: $grey;
					font-family: $medium;   
					margin-bottom: 3px;

					@include mobile {
						display: inline-block;
						width: 31px;
					}
				}
				.day_name {
					color: $grey;
					font-size: 12px;
					margin-bottom: 18px;

					@include mobile {
						display: inline-block;
						width: 100px;
					}
				}
				.simple_checkbox.smaller {
					display: block;
				}
				.button {
					width: 100%;
					height: 24px;
					line-height: 22px;
					padding: 0;
					font-size: 10px;
					text-align: center;
					display: none;
				}
			}
			.day_list {
				display: inline-block;
				vertical-align: top;
				width: calc(100% - 150px);

				@include mobile {
					width: 100%;
					display: block;
				}
				.publication {
					border-bottom: 1px solid #efefef;
					min-height: 60px;
					padding: 6px 120px 6px 133px;
					position: relative;

					@include mobile {
						padding: 55px 20px;
					}
					&:last-child {
						border: none;
					}

					.simple_checkbox.smaller {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						margin-bottom: 0;

						.name {
							height: 24px;
							margin-top: -12px;
							top: 50%;
							position: absolute;
							left: 20px;

							@include mobile {
								top: 31px;
							}
						}
					}
					.time {
						line-height: 24px;
						height: 24px;
						position: absolute;
						margin-top: -12px;
						top: 50%;
						font-size: 16px;
						color: $grey;
						font-family: $medium;
						left: 65px;

						@include mobile {
							top: 32px;
						}
					}
					.publication_name {
						font-family: $medium;
						font-size: 16px;
						color: #202020;
						line-height: 152%;
						padding-bottom: 24px;

						.expandable {
							max-height: 50px;
							overflow: hidden;
							position: relative;
							pointer-events: none;

							&:before {
								display: block;
								position: absolute;
								z-index: 2;
								content: '...';
								background: #fff;
								height: 24px;
								bottom: 0;
								right: 0;
								width: 24px;
								padding-right: 5px;
								text-align: right;
							}
						}
						.expand {
							text-transform: uppercase;
							font-family: $normal;
							color: #9c9c9c;
							font-size: 12px;
							cursor: pointer;
							position: absolute;
							z-index: 3;
							user-select: none;
							padding: 10px;
							bottom: 1px;
							margin-left: -10px;

							@include mobile {
								bottom: 51px;
							}
							.off {
								display: none;

								&:before {
									display: block;
									position: absolute;
									content: '';
									width: 0;
									height: 0;
									border-style: solid;
									border-width: 0 3px 4px 3px;
									border-color: transparent transparent #9c9c9c transparent;
									margin-top: -2px;
									top: 50%;
									right: -13px;
								}
							}
							.on {

								&:before {
									display: block;
									position: absolute;
									content: '';
									width: 0;
									height: 0;
									border-style: solid;
									border-width: 4px 3px 0 3px;
									border-color: #9c9c9c transparent transparent transparent;
									margin-top: -2px;
									top: 50%;
									right: -13px;
								}
							}
							.on, 
							.off {
								line-height: 1;
								position: relative;
							}
						}
						&.smaller {
							padding-bottom: 0;

							.expand {
								display: none;
							}
							.expandable:before {
								display: none;
							}
						}
						&.opened {

							.expandable {
								max-height: none;
								overflow: visible;

								&:before {
									display: none;
								}
							}
							.expand {

								.off {
									display: block;
								}
								.on {
									display: none;
								}
							}
						}
					}
					.edit_link {
						position: absolute;
						width: 80px;
						text-align: center;
						right: 20px;
						height: 24px;
						line-height: 22px;
						margin-top: -12px;
						top: 50%;
						border: 1px solid #efefef;
						cursor: pointer;
						text-transform: uppercase;
						text-decoration: none;
						color: $grey;
						font-family: $medium;
						font-size: 10px;
						user-select: none;
						z-index: 2;
						transition: background 250ms, opacity 250ms, transform 250ms;
						pointer-events: none;
						opacity: 0;
						transform: translate3d(0, 7px, 0);

						&:hover {

							@include no_touch {
								background: #f9f9f9;
								pointer-events: all;
								opacity: 1;
								transform: translate3d(0, 0, 0);
							}
						}
						@include tablet {
							pointer-events: all;
							opacity: 1;
							transform: translate3d(0, 0, 0);
						}
						@include mobile {
							top: auto;
							bottom: 23px;
							left: 20px;
						}
					}
					&:hover {

						@include no_touch {
							
							.edit_link {
								pointer-events: all;
								opacity: 1;
								transform: translate3d(0, 0, 0);
							}
						}
					}
				}
			}
		}
	}
}