@font-face {
  font-family: 'Roboto-Bold';
  src: url('../media/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),  url('../media/fonts/Roboto-Bold.woff') format('woff'), url('../media/fonts/Roboto-Bold.ttf')  format('truetype'), url('../media/fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../media/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),  url('../media/fonts/Roboto-Regular.woff') format('woff'), url('../media/fonts/Roboto-Regular.ttf')  format('truetype'), url('../media/fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url('../media/fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),  url('../media/fonts/Roboto-Medium.woff') format('woff'), url('../media/fonts/Roboto-Medium.ttf')  format('truetype'), url('../media/fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}