header {
	position: fixed;
	left: 0;
	top: 0;
	height: 78px;
	padding: 0 40px;
	// overflow: hidden;
	z-index: 4;
	transition: opacity 250ms, border-color 250ms;
	opacity: 0;
	border-bottom: 1px solid rgba(#fff, .1);

	&.opacity {
		opacity: 1 !important;
	}
	@include burger {
		padding: 0;
		padding-left: 40px;
		height: 60px;
		border-bottom: 1px solid rgba(#fff, .1);
		transition: border-color 250ms;
	}
	@include mobile {
		padding-left: 20px;
	}
	&:before {
		position: absolute;
		display: block;
		width: 100%;
		height: 78px;
		content: '';
		background: #fff;
		top: 0;
		left: 0;
		transform: translate3d(0,-100%,0) scale(1);
		transition: transform 250ms, opacity 250ms;
		border-bottom: 1px solid rgba(#efefef,1);
		pointer-events: none;
		opacity: 0;

		@include burger {
			height: 60px;
		}
	}
	.create {
		display: inline-block;
		vertical-align: top;
		height: 42px;
		width: 175px;
		text-align: center;
		font-size: 12px;
		text-transform: uppercase;
		font-family: $bold;
		position: relative;
		margin-top: 18px;
		background: $blue;
		transition: background 250ms;
		cursor: pointer;
		line-height: 42px;
		color: #fff;
		text-decoration: none;
		padding: 0 15px;
		margin-left: 30px;

		&:hover {

			@include no_touch {
				background: #2b60ad;
			}
		} 
	}
	.create_menu {
		display: inline-block;
		vertical-align: top;
		height: 42px;
		text-align: center;
		width: 191px;
		font-size: 12px;
		text-transform: uppercase;
		font-family: $bold;
		position: relative;
		margin-top: 18px;

		> span.name {
			padding: 0 15px;
			text-align: center;
			color: #fff;
			display: block;
			line-height: 42px;
			width: 100%;
			height: 42px;
			background: $blue;
		}
		.content {
			width: 100%;
			top: 42px;
			max-height: 410px;
			left: 0;
			position: absolute;
			background: #fff;
			transition: transform 250ms, opacity 250ms;
			pointer-events: none;
			opacity: 0;
			transform: translate3d(0, 15px, 0);
			border-bottom: 1px solid #efefef;

			a {
				display: block;
				width: 100%;
				color: $blue;
				text-decoration: none;
				text-transform: uppercase;
				border-bottom: 1px solid #efefef;
				border-left: 1px solid #efefef;
				border-right: 1px solid #efefef;
				cursor: pointer;
				transition: background 250ms;
				padding: 13px 39px 13px 15px;

				&:first-child {
					border-top: 1px solid #efefef;
				}
				&:last-child {
					border-bottom: none;
				}
				&:hover {

					@include no_touch {
						background: #efefef;
					}
				}
			}
		}
		&.no_margin {
			width: 167px;

			.content {
				max-height: none;
				
				a {
					padding: 13px 15px 13px 15px;
				}
				.ps__rail-y {
					display: none !important;
				}
			}
		}
		&:hover {

			@include no_touch {

				.content {
					pointer-events: all;
					transform: translate3d(0, 0, 0);
					opacity: 1;
				}
			}
		}
	}
	.mobile_header {
		display: none;
		float: right;
		height: 60px;
		font-size: 0;

		@include burger {
			display: block;
		}
		.mobile_search_button {
			display: inline-block;
			vertical-align: top;
			height: 100%;
			cursor: pointer;
			width: 60px;
			@include icon(search);
			position: relative;
			transition: background 250ms;

			&:before {
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				text-align: center;
				top: 0;
				left: 0;
				color: #fff;
				font-size: 18px;
				transition: color 250ms;
				line-height: 60px;
			}
		}
		.mobile_login {
			display: inline-block;
			vertical-align: top;
			height: 100%;
			cursor: pointer;
			width: 60px;
			@include icon(person);
			position: relative;
			border-left: 1px solid rgba(#fff, .1);
			border-right: 1px solid rgba(#fff, .1);
			transition: background 250ms, border-color 250ms;

			&:before {
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				text-align: center;
				top: 0;
				left: 0;
				color: #fff;
				font-size: 20px;
				line-height: 60px;
				transition: color 250ms;
			}
		}
		.burger {
			display: inline-block;
			vertical-align: top;
			height: 100%;
			cursor: pointer;
			width: 60px;
			position: relative;
			transition: background 250ms;

			.plank {
				height: 2px;
				width: 20px;
				background: #fff;
				left: 20px;
				position: absolute;
				transition: background 250ms;

				&:nth-child(1) {
					top: 23px;
				    transition: transform .275s cubic-bezier(.68,-.55,.265,1.55);
				}
				&:nth-child(2) {
					top: 29px;
				    transition: opacity .125s ease .275s;
				}
				&:nth-child(3) {
					top: 35px;
				    transition: transform .275s cubic-bezier(.68,-.55,.265,1.55);
				}
			}
		}
		.burger_plus {
			display: inline-block;
			vertical-align: top;
			height: 100%;
			cursor: pointer;
			width: 60px;
			position: relative;
			transition: background 250ms;

			.plank {
				height: 2px;
				width: 20px;
				background: #fff;
				left: 20px;
				position: absolute;
				transition: transform .275s cubic-bezier(.68,-.55,.265,1.55);

				&:nth-child(1) {
					top: 29px;
					transform: translate3d(0,0,0) rotateZ(90deg);
				}
				&:nth-child(2) {
					top: 29px;
					transform: translate3d(0,0,0) rotateZ(0deg);
				}
			}
		}
	}
	#logo {
		display: inline-block;
		vertical-align: top;
		height: 100%;
		position: relative;
		@include icon(logo);
		text-decoration: none;
		z-index: 1;

		@include burger {
			margin-right: 0;
		}
		&:before {
			display: block;
			height: 100%;
			line-height: 78px;
			color: #fff;
			font-size: 21px;
			transition: color 250ms;

			@include burger {
				line-height: 60px;
			}
		}
	}
	.right_block {
		text-align: right;
		font-size: 0;
		display: inline-block;
		vertical-align: top;
		float: right;
		z-index: 1;
		position: relative;

		@include burger {
			display: none;
		}
		.header_toggler {
			display: inline-block;
			vertical-align: top;
			position: relative;	
			padding-right: 40px;
			padding-left: 20px;
			transition: border-color 250ms;
			border-left: 1px solid rgba(#fff, 0.1);

			@include smaller_header {
				padding-right: 30px;
				padding-left: 15px;
			}
			&:after {
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 4px 3px 0 3px;
				border-color: #ffffff transparent transparent transparent;
				position: absolute;
				right: 40px;
				margin-top: -2px;
				top: 50%;
				transition: transform 250ms, border-color 250ms;
				transform: translate3d(0,0,0) rotateZ(0deg);
				content: '';

				@include smaller_header {
					right: 30px;
				}
			}
			&.langs {
				margin-left: 55px;

				@include smaller_header {
					margin-left: 35px;
				}
			}
			&.person {
				margin-right: -40px;

				> span {
					max-width: 108px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}
			.submenu {
				position: absolute;
				top: 77px;
				left: -1px;
				border: 1px solid rgba(#fff, 0.1);
				border-top: none;
				margin: 0;
				display: block;
				width: calc(100% + 2px);
				height: auto;
				transition: opacity 250ms, transform 250ms, border-color 250ms;
				pointer-events: none;
				transform: translate3d(0,15px,0);
				opacity: 0;

				a {
					height: auto;
					display: block;
					color: #fff;
					text-decoration: none;
					text-align: center;
					text-transform: uppercase;
					font-size: 12px;
					font-family: $medium;
					letter-spacing: 1px;
					padding: 23px 20px;
					border-bottom: 1px solid rgba(#fff, 0.1);
					transition: background 250ms, border-color 250ms;

					&:last-child {
						border: none;
					}
					&:hover {

						@include no_touch {
							background: rgba(#fff, 0.1);
						}
					}
					&.active {
						background: rgba(#fff, 0.1);
						pointer-events: none;
					}
					@include smaller_header {
						letter-spacing: 0;
					}
				}
			}
			span {
				display: block;
				height: 78px;
				line-height: 78px;
				color: #fff;
				text-transform: uppercase;
				font-size: 12px;
				font-family: $medium;
				text-decoration: none;
				margin: 0 20px;
				letter-spacing: 1px;
				transition: color 250ms;
				position: relative;
				overflow: hidden;
				user-select: none;

				@include smaller_header {
					margin: 0 15px;
					letter-spacing: 0px;
				}
			}
			&:hover {

				@include no_touch {
					
					&:after {
						transform: translate3d(0,0,0) rotateZ(180deg);
					}
					.submenu {
						pointer-events: all;
						transform: translate3d(0,0,0);
						opacity: 1;
					}
				}
			}
		}
		.main_menu {
			display: inline-block;
			vertical-align: top;
			list-style-type: none;

			li {
				display: inline-block;
				vertical-align: top;
				position: relative;

				> a,
				span {
					display: block;
					height: 78px;
					line-height: 78px;
					color: #fff;
					text-transform: uppercase;
					font-size: 12px;
					font-family: $medium;
					text-decoration: none;
					margin: 0 20px;
					letter-spacing: 1px;
					transition: color 250ms;
					position: relative;
					overflow: hidden;
					user-select: none;

					@include smaller_header {
						margin: 0 15px;
						letter-spacing: 0px;
					}
					&:before {
						display: block;
						position: absolute;
						left: 0;
						height: 1px;
						background: #fff;
						bottom: 0;
						width: 51%;
						content: '';
						transition: transform 200ms, background 250ms;
						transform: translate3d(-110%,0,0);
					}
					&:after {
						display: block;
						position: absolute;
						right: 0;
						height: 1px;
						background: #fff;
						bottom: 0;
						width: 51%;
						content: '';
						transition: transform 200ms, background 250ms;
						transform: translate3d(110%,0,0);
					}
					&:hover {

						@include no_touch {
							
							&:before,
							&:after {
								transform: translate3d(0,0,0);
							}
						}
					}
					&.active {
						pointer-events: none;

						&:before,
						&:after {
							transform: translate3d(0,0,0);
						}
					}
				}
				.submenu {
					position: absolute;
					top: 77px;
					border: 1px solid rgba(#fff, 0.1);
					border-top: none;
					margin: 0;
					display: block;
					width: 100%;
					height: auto;
					transition: opacity 250ms, transform 250ms, border-color 250ms;
					pointer-events: none;
					transform: translate3d(0,15px,0);
					opacity: 0;

					a {
						height: auto;
						display: block;
						color: #fff;
						text-decoration: none;
						text-align: center;
						text-transform: uppercase;
						font-size: 12px;
						font-family: $medium;
						letter-spacing: 1px;
						padding: 23px 20px;
						border-bottom: 1px solid rgba(#fff, 0.1);
						transition: background 250ms, border-color 250ms;

						&:last-child {
							border: none;
						}
						&:hover {

							@include no_touch {
								background: rgba(#fff, 0.1);
							}
						}
						&.active {
							background: rgba(#fff, 0.1);
							pointer-events: none;
						}
						@include smaller_header {
							letter-spacing: 0;
						}
					}
				}
				&.toggler {
					position: relative;	
					padding-right: 20px;

					> span {

						&:before,
						&:after {
							display: none;
						}
					}
					@include smaller_header {
						padding-right: 15px;
					}
					&:after {
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 4px 3px 0 3px;
						border-color: #ffffff transparent transparent transparent;
						position: absolute;
						right: 20px;
						margin-top: -2px;
						top: 50%;
						transition: transform 250ms, border-color 250ms;
						transform: translate3d(0,0,0) rotateZ(0deg);
						content: '';

						@include smaller_header {
							right: 15px;
						}
					}
					&:hover {

						@include no_touch {
							
							&:after {
								transform: translate3d(0,0,0) rotateZ(180deg);
							}
							.submenu {
								pointer-events: all;
								transform: translate3d(0,0,0);
								opacity: 1;
							}
						}
					}
				}
				&:last-child {

					a {
						margin-right: 0;
					}
				}
			}
		}
		.search {
			margin-left: 30px;
			display: inline-block;
			vertical-align: top;
			margin-right: 30px;
			height: 78px;
			position: relative;
			overflow: hidden;
			width: 38px;
			font-size: 0;
			transition: width 250ms, margin 250ms;
			user-select: none;

			.search_button {
				width: 38px;
				height: 78px;
				position: absolute;
				left: 0;
				transition: opacity 250ms;
				padding: 0 10px;
				display: inline-block;
				vertical-align: top;
				@include icon(search);

				&:before {
					color: #fff;
					display: block;
					height: 78px;
					font-size: 18px;
					line-height: 78px;
					cursor: pointer;
					width: 100%;
					text-align: center;
					transition: color 250ms;
				}
				&:hover {

					@include no_touch {
						opacity: .6;
					}
				}
			}
			input {
				width: 140px;
				display: inline-block;
				vertical-align: top;
				border-bottom: 1px solid #fff;
				height: 25px;
				margin-top: 26px;
				background: none;
				font-size: 14px;
				color: #fff;
				transition: transform 250ms;
				transform: translate3d(100%,0,0);

				@include placeholder {
					color: #fff;
					opacity: .9;
				}
			}
			&.open {
				width: 178px;
				margin-left: 30px;

				input {
					transform: translate3d(0,0,0);
				}
			}
		}
		.login {
			display: inline-block;
			vertical-align: top;
			height: 78px;
			line-height: 78px;
			color: #fff;
			text-transform: uppercase;
			font-size: 12px;
			font-family: $medium;
			text-decoration: none;
			letter-spacing: 1px;
			transition: color 250ms;
			position: relative;
			overflow: hidden;
			user-select: none;

			@include smaller_header {
				letter-spacing: 0;
			}
			&:before {
				display: block;
				position: absolute;
				left: 0;
				height: 1px;
				background: #fff;
				bottom: 28px;
				width: 51%;
				content: '';
				transition: transform 200ms, background 250ms;
				transform: translate3d(0,0,0);
			}
			&:after {
				display: block;
				position: absolute;
				right: 0;
				height: 1px;
				background: #fff;
				bottom: 28px;
				width: 51%;
				content: '';
				transition: transform 200ms, background 250ms;
				transform: translate3d(0,0,0);
			}
			&:hover {

				@include no_touch {

					&:before {
						transform: translate3d(-110%,0,0);
					}
					&:after {
						transform: translate3d(110%,0,0);
					}
				}
			}
		}
	}
	&.white {
		border-bottom: 1px solid #efefef;

		&:before {
			transform: translate3d(0,0,0) scale(1);
			opacity: 1;
		}
		#logo {

			&:before {
				color: #1b3e87;
			}
		}
		.mobile_header {

			.mobile_search_button {
				
				&:before {
					color: #202020;
				}
			}
			.mobile_login {
				border-color: #efefef;

				&:before {
					color: #202020;
				}
			}
			.burger,
			.burger_plus {
				
				.plank {
					background: #202020;
				}
			}
		}
		.right_block {

			.main_menu {

				li {

					> a,
					span {
						color: $black;

						&:before,
						&:after {
							background: $blue;
						}
						&.active {
							pointer-events: none;
							color: $blue;

							&:before,
							&:after {
								transform: translate3d(0,0,0);
							}
						}
						&:hover {

							@include no_touch {
								color: $blue;
							}
						}
						&.active {
							color: $blue;
						}
					}
					&.toggler {

						&:after {
							border-color: $black transparent transparent transparent;	
						}
						&:hover {

							@include no_touch {

								&:after {
									border-color: $blue transparent transparent transparent;
								}
								> span {
									color: $blue;
								}
							}
						}
					}
					.submenu {
						border-color: #efefef;
						border-top: 1px solid #efefef;

						a {
							border-color: #efefef;
							background: #fff;
							color: $black;

							&:hover {

								@include no_touch {
									background: #efefef;
								}
							}
							&.active {
								pointer-events: none;
								background: #efefef;
							}
						}
					}
				}
			}
			.header_toggler {
				border-color: #efefef;

				> span {
					color: $black;
				}
				&:after {
					border-color: $black transparent transparent transparent;	
				}
				&:hover {

					@include no_touch {

						&:after {
							border-color: $blue transparent transparent transparent;
						}
						> span {
							color: $blue;
						}
					}
				}
				.submenu {
					border-color: #efefef;
					border-top: 1px solid #efefef;

					a {
						border-color: #efefef;
						background: #fff;
						color: $black;

						&:hover {

							@include no_touch {
								background: #efefef;
							}
						}
						&.active {
							background: #efefef;
						}
					}
				}
			}
			.search {

				.search_button {

					&:before {
						color: $black;
					}
					&:hover {

						@include no_touch {
							opacity: 1;

							&:before {
								color: $blue;
							}
						}
					}
				}
				input {
					border-color: $black;
					color: $black;

					@include placeholder {
						color: $black;
					}
				}
			}
			.login {
				color: $blue;

				&:before,
				&:after {
					background: $blue;
				}
				&:hover {

					@include no_touch {
						color: $black;

						&:before,
						&:after {
							background: $black;
						}
					}
				}
			}
		}
	}
	&.slim {

		@media screen and (max-width: 1600px) {
			
			.header_toggler.langs {
				padding-right: 28px;
				margin-left: 15px;
			}
			.header_toggler.person {
				padding-right: 30px;
			}
			.create {
				margin-left: 15px;
			}
			
			.main_menu li > a,
			.main_menu li > span {
				margin: 0 10px;
			}
			.right_block .main_menu li.toggler {
				padding-right: 0;

				&:after {
					right: 0;
				}
			}
		}
	}
	&.mobile_filter {

		.mobile_search_button {
			display: none;

			@include mobile {
				display: inline-block;
			}
		}
	}
}
.mobile_menu,
.mobile_submenu,
.mobile_person_menu {

	@media screen and (min-width: 1260px) {
		display: none !important;
	}
	position: fixed;
	width: 100vw;
	height: calc(100vh - 60px);
	top: 60px;
	left: 0;
	background: $blue;
	z-index: 10;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	transition: transform .250s cubic-bezier(.68,-.55,.265,1.55), opacity .250s linear;
	transform: translate3d(-100%,0,0);
	pointer-events: none;
	opacity: 0;

	ul {
		display: block;
		padding: 0;
		margin: 0;
		list-style-type: none;
		padding-bottom: 80px;

		li {
			display: block;
			border-bottom: 1px solid rgba(#fff, .1);

			a,
			span {
				display: block;
				cursor: pointer;
				color: #fff;
				font-size: 16px;
				font-family: $medium;
				text-decoration: none;
				padding: 20px;

				&.active {
					pointer-events: none;
					background: #2c63b6;
				}
			}
			&.mobile_toggler {
				position: relative;

				&:before {
					display: block;
					content: '';
					position: absolute;
					z-index: 1;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 3px 0 3px 4px;
					border-color: transparent transparent transparent #ffffff;
					margin-top: -3px;
					top: 50%;
					right: 20px;
				}
				span {
					padding-right: 44px;
				}
			}
		}
	}
	.mobile_langs {
		padding-bottom: 80px;
		display: block;
		margin: 0 auto;
		text-align: center;
		font-size: 0;

		a {
			display: inline-block;
			vertical-align: top;
			cursor: pointer;
			font-family: $medium;
			font-size: 12px;
			text-transform: uppercase;
			color: #fff;
			height: 42px;
			width: 42px;
			line-height: 40px;
			border: 1px solid rgba(#fff, 0.1);
			transition: color 250ms, background 250ms, border-color 250ms;
			margin: 0 10px;
			text-decoration: none;

			&.active {
				background: #fff;
				border-color: #fff;
				color: $blue;
				pointer-events: none;
			}
		}
	}
}

.mobile_submenu {
	transform: translate3d(100%,0,0);
}

.mobile_person_menu {
	transform: translate3d(0,60px,0);

	a {
		padding-left: 60px !important;
		position: relative;

		&:before {
			display: block;
			position: absolute;
			height: 60px;
			line-height: 60px;
			top: 0;
			left: 0;
			width: 60px;
			text-align: center;
			color: #fff;
			font-size: 21px;
		}
	}
}

.mobile_search {
	@media screen and (min-width: 1260px) {
		display: none !important;
	}
	position: absolute;
	width: 100vw;
	height: 60px;
	background: $blue;
	z-index: 10;
	top: 60px;
	left: 0;
	padding: 15px 20px;
	transition: transform .250s cubic-bezier(.68,-.55,.265,1.55), opacity .250s linear;
	pointer-events: none;
	opacity: 0;
	transform: translate3d(0,60px,0);

	input {
		width: 100%;
		border-bottom: 1px solid #fff;
		height: 30px;
		background: none;
		font-size: 14px;
		color: #fff;
		padding-right: 30px;

		@include placeholder {
			color: #fff;
			opacity: .9;
		}
	}
	.search_button {
		height: 30px;
		position: absolute;
		z-index: 1;
		right: 10px;
		top: 15px;
		width: 30px;
		cursor: pointer;
		@include icon(search);

		&:before {
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			line-height: 30px;
			text-align: right;
			color: #fff;
			font-size: 14px;
			padding-right: 10px;
		}
	}
}
body.open {

	@include burger {

		main {
			pointer-events: none;
		}
		.mobile_menu {
			transform: translate3d(0,0,0);
			pointer-events: all;
			opacity: 1;
		}
		header {
			border-color: $blue;

			.mobile_header {

				.burger {
					background: $blue;

					.plank {
						background: #fff;

						&:nth-child(1) {
							transition-delay: 75ms;
							transform: translate3d(0,6px,0) rotate(135deg);
						}
						&:nth-child(2) {
							transition-delay: 0s;
							opacity: 0;
						}
						&:nth-child(3) {
						    transition-delay: 75ms;
		    				transform: translate3d(0,-6px,0) rotate(-315deg);
						}
					}
				}
				.burger_plus {
					background: $blue;

					.plank {
						background: #fff;
						transition-delay: 75ms;

						&:nth-child(1) {
							transform: translate3d(0,0,0) rotate(45deg);
						}
						&:nth-child(2) {
							transform: translate3d(0,0,0) rotate(-45deg);
						}
					}
				}
				.mobile_login {
					border-right-color: transparent;
				}
			}
		}
	}
}

body.submenu {

	@include burger {

		main {
			pointer-events: none;
		}
		.mobile_submenu {
			transform: translate3d(0,0,0);
			pointer-events: all;
			opacity: 1;
		}
		header {
			border-color: $blue;

			.mobile_header {

				.burger {
					background: $blue;

					.plank {
						background: #fff;

						&:nth-child(1) {
							transition-delay: 75ms;
							transform: translate3d(0,6px,0) rotate(135deg);
						}
						&:nth-child(2) {
							transition-delay: 0s;
							opacity: 0;
						}
						&:nth-child(3) {
						    transition-delay: 75ms;
		    				transform: translate3d(0,-6px,0) rotate(-315deg);
						}
					}
				}
				.burger_plus {
					background: $blue;

					.plank {
						background: #fff;
						transition-delay: 75ms;

						&:nth-child(1) {
							transform: translate3d(0,0,0) rotate(45deg);
						}
						&:nth-child(2) {
							transform: translate3d(0,0,0) rotate(-45deg);
						}
					}
				}
				.mobile_login {
					border-right-color: transparent;
				}
			}
		}
	}
}

body.person {

	@include burger {

		main {
			pointer-events: none;
		}
		.mobile_person_menu {
			transform: translate3d(0,0,0);
			pointer-events: all;
			opacity: 1;
		}
		header {
			border-color: $blue;

			.mobile_header {

				.mobile_person_opener {
					background: $blue;

					&:before {
						color: #fff;
					}
				}
				.mobile_login {
					border-right-color: transparent;
					border-left-color: transparent;
				}
			}
		}
	}
}

body.search {

	@include burger {

		main {
			pointer-events: none;
		}
		.mobile_search {
			transform: translate3d(0,0,0);
			pointer-events: all;
			opacity: 1;
		}
		header {
			border-color: $blue;

			.mobile_header {

				.mobile_search_button {
					background: $blue;

					&:before {
						color: #fff;
					}
				}
				.mobile_login {
					border-left-color: transparent;
				}
			}
		}
	}
}