@font-face {
	font-family: "icons";
	src: url('../media/fonts/icons.eot');
	src: url('../media/fonts/icons.eot?#iefix') format('eot'),
		 url('../media/fonts/icons.woff') format('woff'),
		 url('../media/fonts/icons.ttf') format('truetype');
}

@mixin icon-styles {
	font-family: "icons";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";
	
	@if $filename == arrow_left {
		$char: "\EA01";
	}
	@if $filename == arrow_right {
		$char: "\EA02";
	}
	@if $filename == article {
		$char: "\EA03";
	}
	@if $filename == bird {
		$char: "\EA04";
	}
	@if $filename == camera {
		$char: "\EA05";
	}
	@if $filename == check {
		$char: "\EA06";
	}
	@if $filename == close {
		$char: "\EA07";
	}
	@if $filename == columns {
		$char: "\EA08";
	}
	@if $filename == dates {
		$char: "\EA09";
	}
	@if $filename == download {
		$char: "\EA0A";
	}
	@if $filename == drag {
		$char: "\EA0B";
	}
	@if $filename == fb {
		$char: "\EA0C";
	}
	@if $filename == fb_2 {
		$char: "\EA0D";
	}
	@if $filename == file {
		$char: "\EA0E";
	}
	@if $filename == info {
		$char: "\EA0F";
	}
	@if $filename == info_view {
		$char: "\EA10";
	}
	@if $filename == key {
		$char: "\EA11";
	}
	@if $filename == logo {
		$char: "\EA12";
	}
	@if $filename == logout {
		$char: "\EA13";
	}
	@if $filename == news {
		$char: "\EA14";
	}
	@if $filename == person {
		$char: "\EA15";
	}
	@if $filename == photo {
		$char: "\EA16";
	}
	@if $filename == play {
		$char: "\EA17";
	}
	@if $filename == search {
		$char: "\EA18";
	}
	@if $filename == trash {
		$char: "\EA19";
	}
	@if $filename == yt {
		$char: "\EA1A";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon_arrow_left {
	@include icon(arrow_left);
}
.icon_arrow_right {
	@include icon(arrow_right);
}
.icon_article {
	@include icon(article);
}
.icon_bird {
	@include icon(bird);
}
.icon_camera {
	@include icon(camera);
}
.icon_check {
	@include icon(check);
}
.icon_close {
	@include icon(close);
}
.icon_columns {
	@include icon(columns);
}
.icon_dates {
	@include icon(dates);
}
.icon_download {
	@include icon(download);
}
.icon_drag {
	@include icon(drag);
}
.icon_fb {
	@include icon(fb);
}
.icon_fb_2 {
	@include icon(fb_2);
}
.icon_file {
	@include icon(file);
}
.icon_info {
	@include icon(info);
}
.icon_info_view {
	@include icon(info_view);
}
.icon_key {
	@include icon(key);
}
.icon_logo {
	@include icon(logo);
}
.icon_logout {
	@include icon(logout);
}
.icon_news {
	@include icon(news);
}
.icon_person {
	@include icon(person);
}
.icon_photo {
	@include icon(photo);
}
.icon_play {
	@include icon(play);
}
.icon_search {
	@include icon(search);
}
.icon_trash {
	@include icon(trash);
}
.icon_yt {
	@include icon(yt);
}
