input {
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	transition: border-color 250ms;

	&.error {
		border-color: red;
	}
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.simple_input {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 16px;

	.label {
		color: #202020;
		font-size: 16px;
		margin-bottom: 15px;
	}
	input {
		width: 100%;
		background: #fff;
		border: 1px solid #e5e5e5;
		height: 42px;
		line-height: 40px;
		padding: 0 20px;
		font-size: 14px;
		color: #202020;
		transition: border-color 250ms;

		&.error {
			border-color: red !important;
		}
		@include placeholder {
			color: #bbbbbb;
			opacity: 1;
			font-size: 14px;
		}
	}
}

.checkboxes_box {
	display: inline-block;
	vertical-align: top;

	.label {
		color: #202020;
		font-size: 16px;
		margin-bottom: 15px;
		margin-bottom: 30px;
	}
}

.simple_checkbox {
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	margin-bottom: 12px;
	user-select: none;
	position: relative;

	.name {
		line-height: 30px;
		padding-left: 45px;
		position: relative;
		color: #202020;
		font-size: 14px;
		padding-right: 20px;
		display: inline-block;
		@include icon(check);

		&:before {
			display: block;
			position: absolute;
			width: 30px;
			height: 30px;
			left: 0;
			top: 0;
			text-align: center;
			line-height: 30px;
			font-size: 8px;
			color: $blue;
			transition: transform 250ms;
			transform: translate3d(0,0,0) scale(0);
			z-index: 1;
		}
		&:after {
			display: block;
			position: absolute;
			content: '';
			border: 1px solid #e5e5e5;
			border-radius: 4px;
			width: 30px;
			height: 30px;
			top: 0;
			left: 0;
			transition: border-color 250ms;
		}
		.tooltip {
			display: block;
			position: absolute;
			right: -155px;
			width: 155px;
			background: #f5f5f5;
			z-index: 1;
			padding: 10px 20px;
			top: 0;
			pointer-events: none;
			opacity: 0;
			transform: translate3d(5px,0,0);
			transition: transform 250ms, opacity 250ms;

			&:before {
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 3px 5px 3px 0;
				border-color: transparent #f5f5f5 transparent transparent;
				top: 12px;
				left: -5px;
				display: block;
				position: absolute;
				content: '';
			}
			ul {
				margin: 0;
				padding: 0;
				list-style-type: none;

				li {
					display: block;
					position: relative;
					padding-left: 14px;

					&:before {
						display: block;
						content: '';
						position: absolute;
						height: 6px;
						width: 6px;
						left: 0;
						border-radius: 50%;
						background: $blue;
						top: 12px;
					}
				}
			}
		}
	}
	input[type="checkbox"],
	input[type="radio"] {
		position: absolute;
		visibility: hidden;
		width: 0;
		height: 0;
		pointer-events: none;

		&:checked {

			+ .name {

				&:before {
					transform: translate3d(0,0,0) scale(1);
				}
			}
		}
		&.error {

			+ .name {

				&:after {
					border-color: red;
				}
			}
		}
	}
	&:hover {

		@include no_touch {
			z-index: 2;

			.name {

				.tooltip {
					opacity: 1;
					transform: translate3d(0,0,0);
				}
			}
		}
	}
	&.smaller {

		.name {
			padding-right: 0;
			font-size: 12px;
			color: $grey;
			line-height: 24px;
			padding-left: 35px;

			&:before {
				width: 24px;
				height: 24px;
				line-height: 24px;
			}
			&:after {
				width: 24px;
				height: 24px;
				border-radius: 0;
			}
		}
	}
}

.simple_radio {
	@extend .simple_checkbox;
	
	.name {
		padding-left: 35px;

		&:after {
			width: 24px;
			height: 24px;
			border-radius: 50%;
			top: 2px;
		}
		&:before {
			content: '';
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background: $blue;
			top: 10px;
			left: 8px;
		}
	}
}

.simple_textarea {
	margin-bottom: 12px;

	.label {
		color: #202020;
		font-size: 16px;
		margin-bottom: 15px;
	}
	textarea {
		height: 100px;
		background: #fff;
		border-radius: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border: 1px solid #e5e5e5;
		padding: 12px 20px;
		font-size: 14px;
		color: #202020;
		width: 100%;
		resize: none;
		transition: border-color 250ms;
		
		@include placeholder {
			color: #bbbbbb;
			opacity: 1;
			font-size: 14px;
		}
		&.error {
			border-color: red;
		}
	}
}