.login_page {
	position: relative;
	padding-top: 0;
	padding-bottom: 0;
	
	.flex_holder {
		position: relative;
		display: flex;
	    min-height: calc(100vh - 79px);
	    padding-top: 148px;
	    padding-bottom: 80px;
	}
	@include mobile {
		display: block;
		padding-bottom: 0;	
	}
	&:before {
		display: block;
		position: absolute;
		content: '';
		height: 100%;
		width: 50%;
		right: 0;
		top: 0;
		background: #f9f9f9;

		@include mobile {
			display: none;
		}
	}
	.wrapper {
		position: relative;
		z-index: 1;
		margin: auto auto;
		display: flex;

		@include mobile {
			display: block;
		}
		.left,
		.right {
			display: inline-flex;
			vertical-align: top;
			width: 50%;

			@include mobile {
				display: block;
				width: 100%;
			}
			form {
				display: block;
				width: 100%;

				@include mobile {
					text-align: center;
				}
				h2 {
					margin-top: 0;
					padding-top: 0;
					font-size: 24px;
					color: $black;
					padding-bottom: 60px;

					@include mobile {
						padding-bottom: 40px;
						text-align: center;
					}
				}
				.simple_input {
					display: block;
				}
				input {
					display: block;
					width: 100%;
					height: 60px;
					line-height: 60px;
					font-size: 14px;
					padding: 0 30px;

					@include mobile {
						padding: 0 25px;
					}
					@include placeholder {
						color: #9c9c9c;
						font-size: 12px;
					}
				}
				button.blue {
					width: 100%;
				}
				.forgot {
					color: $blue;
					font-size: 14px;
					text-transform: none;
					margin-top: 16px;
					line-height: 33px;
					height: 33px;

					&:before,
					&:after {
						background: $blue;
					}
				}
			}
		}
		.left {
			margin-right: 72px;

			@include smaller_header {
				margin-right: 40px;
			}
		}
		.right {
			margin-left: 72px;

			@include smaller_header {
				margin-left: 40px;
			}
			@include mobile {
				display: none;
			}
		}
		.mobile_right {
			display: none;

			@include mobile {
				display: block;
				padding: 30px 0;
				border-top: 1px solid #e5e5e5;
				margin-top: 30px;

				.button {
					height: 60px;
					width: 100%;
					line-height: 58px;
					text-align: center;
				}
			}
		}
	}
}