.photos_page {
	
	section.photos {

		.right {

			.photos_holder {

				.photo {
					
					.buttons {

						&.absolute {

							.delete {
								@extend .edit;
								@include icon(trash);
								position: relative;


								&:before {
									position: absolute;
									display: block;
									height: 23px;
									width: 100%;
									color: #fff;
									line-height: 23px;
									font-size: 14px;
									text-align: center;
									top: 0;
									left: 0;
									transition: color 250ms;
								}
								&:hover {

									@include no_touch {

										&:before {
											color: #fff;
										}
									}
								}
							}
						}
					}
					.functional_buttons {
						display: none;
					}
				}
			}
			&.info {

				.photos_holder {

					.photo {
						
						.functional_buttons {
							display: inline-flex;
							vertical-align: top;
							width: 220px;
							padding-left: 40px;

							> span {
								margin: auto;
								display: block;
								text-align: right;
								font-size: 0;

								span {
									display: inline-block;
									vertical-align: top;
									width: 100%;
									text-align: center;
									padding: 0 5px;
									white-space: nowrap;
									font-size: 10px;
									font-family: $medium;
									text-transform: uppercase;
									text-decoration: none;
									cursor: pointer;
									transition: border-color 250ms, background 250ms;
									height: 24px;
									line-height: 24px;
									user-select: none;

									&.edit {
										border: 1px solid $blue;
										color: $blue;
										margin-bottom: 5px;

										&:hover {

											@include no_touch {
												background: #f4f8ff;
											}
										}
									}
									&.delete {
										border: 1px solid #e5e5e5;
										color: $grey;
										margin-left: 0;
										
										&:hover {

											@include no_touch {
												background: #f9f9f9;
												border-color: $grey;
											}
										}
									}
								}
							}
							@include smaller_header {
								width: 118px;
							}
							@include mobile {
								width: 100%;
								padding-left: 0;
								margin-top: 11px;
								order: 3;

								> span span {
									width: 78px;

									&.delete {
										margin-top: 0;
										margin-left: 5px;
									}
									&:first-child {
										margin-right: 5px;
									}
								}
							}
						}
						.name {
							width: calc(100% - 787px);

							@include smaller_header {
								width: calc(100% - 488px);
							}
							@include mobile {
								width: 100%;
							}
						}
						.time_stamp {

							@include smaller_header {
								width: 85px;
								text-align: left;
								line-height: 20px;

								.time {
									margin-left: 0;
								}
							}
							@include mobile {
								width: 100%;
							}
						}
						.tags {

							@include smaller_header {
								width: 130px;
							}
							@include mobile {
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
}