.manager_page {
	
	.simple_input.icon_dates {
		height: 36px;
		position: relative;
		margin-right: 20px;

		&:before {
			display: block;
			position: absolute;
			z-index: 2;
			color: #9c9c9c;
			font-size: 18px;
			height: 100%;
			right: 20px;
			line-height: 35px;
			pointer-events: none;
		}
		input {
			height: 36px;
			line-height: 34px;
			border: 1px solid #efefef;
		    padding-right: 58px;
		}
	}
	section.filter.full {
		
		.search {
			width: calc(100% - 450px);
		}
	}
	.manager_list {
		padding: 0 90px 80px;
		font-size: 0;
		margin: 0 auto;
		max-width: 1020px;

		@include mobile {
			padding: 0px 0px 45px;
		}
		.col {
			display: inline-block;
			vertical-align: top;
			font-size: 14px;
			color: #202020;
			position: relative;
			min-height: 49px;

			@include mobile {
				font-size: 13px;
			}
			&:first-child {
				padding: 16px 20px;
				width: calc((100% - 120px) * 0.37);

				@include mobile {
					width: 33.33%;
					padding: 16px 20px;
				}
			}
			&:nth-child(2) {
				padding: 16px 20px 16px 0;
				width: calc((100% - 120px) * 0.37);

				@include mobile {
					width: 33.33%;
					padding: 16px 20px;
				}
			}
			&:nth-child(3) {
				padding: 16px 20px 16px 0;
				width: calc((100% - 120px) * 0.26);

				@include mobile {
					width: 33.33%;
					padding: 16px 20px;
				}
			}
			&:nth-child(4) {
				padding: 16px 20px;
				width: 120px;

				@include mobile {
					width: 100%;
					text-align: left;
				}
			}
		}
		.heading {
			border-bottom: 1px solid #efefef;

			.col {
				color: $grey;
				
				@include mobile {

					&:nth-child(4) {
						display: none;
					}
				}
			}
		}
		.edit_link {
			position: absolute;
			width: 80px;
			text-align: center;
			right: 20px;
			height: 24px;
			line-height: 22px;
			margin-top: -12px;
			top: 50%;
			display: block;
			border: 1px solid #efefef;
			cursor: pointer;
			text-transform: uppercase;
			text-decoration: none;
			color: $grey;
			font-family: $medium;
			font-size: 10px;
			user-select: none;
			background: #fff;
			transition: background 250ms;

			@include mobile {
				right: auto;
				left: 20px;
				top: 15px;
			}

			&:hover {

				@include no_touch {
					background: #f9f9f9;
				}
			}
		}
		.member {
			border-bottom: 1px solid #efefef;
			transition: background 250ms;

			&.pink {
				background: #fde9e9;

				.col {
					color: #673b3b;

					.edit_link {
						color: #673b3b;
						background: #fde9e9;
						border-color: #e7cfcf;
					}
				}
			}
		}
	}
}