.manager_settings_page {
	
	form .simple_input.icon_dates {
		margin-right: 0;
		height: 42px;
    	line-height: 40px;

    	&:before {
			line-height: 40px;
    	}
    	input[name="subscription_dates"],
    	input[name="archive_dates"],
    	input[name="export_dates"] {
    		height: 42px;
   			line-height: 40px;
   			border-color: #e5e5e5;
    	}
	}
	.deactivate_button_holder {
		height: 46px;
		text-align: left;

		.deactivate {
			display: inline-block;
			text-align: center;
			padding: 0 15px;
			height: 24px;
			line-height: 24px;
			text-transform: uppercase;
			color: #fff;
			font-size: 10px;
			font-family: $medium;
			cursor: pointer;
			user-select: none;
			background: #3574d1;
			transition: background 250ms;

			&:hover {

				@include no_touch {
					background: #2b60ad;
				}
			}
			span.when_active {
				display: none;
			}
			span:not(.when_active) {
				display: inline;
			}
			&.active_account {
				background: #d50000;
				
				&:hover {

					@include no_touch {
						background: #b60101;
					}
				}
				span.when_active {
					display: inline;
				}
				span:not(.when_active) {
					display: none;
				}
			}
		}
	}
	.subscribe_hidder {
		
		.icon_dates {
			position: relative;

			&:before {
				display: block;
				position: absolute;
				z-index: 2;
				color: #9c9c9c;
				font-size: 18px;
				height: 100%;
				right: 20px;
				line-height: 35px;
				pointer-events: none;
			}
		}
	}
	.small_label {
		color: #202020;
		font-family: $bold;
		font-size: 14px;
		margin-bottom: 22px;
	}
	.col.multicheckboxes_holder {
		width: 387px !important;
		padding: 0;
		margin-top: 30px;

		@include mobile {
			width: 280px !important;
		}
	}
	.multicolumn {
		display: inline-block;
		vertical-align: top;
		margin-right: 15px;
		margin-bottom: 18px;

		@include mobile {
			margin-right: 10px;
		}
		&:first-child {
			width: 90px;
			font-size: 14px;
			color: #202020;
			line-height: 24px;

			@include mobile {
				font-size: 12px;
				width: 70px;
			}
		}
		&:nth-child(2) {
			width: 130px;

			@include mobile {
				width: 95px;
			}
		}
		&:nth-child(3) {
			width: 130px;
			margin-right: 0;

			@include mobile {
				width: 95px;
			}
		}
		&.heading_1 {
			margin-bottom: 13px;
			text-align: center;
			color: #202020;
			font-family: $bold;
			font-size: 14px;
		}
		span {
			display: inline-block;
			vertical-align: top;
			text-align: center;
			width: 50%;
			text-align: center;
		}
		&.heading_2 {
			margin-bottom: 13px;

			span {
				font-size: 11px;
				color: #202020;
				text-transform: uppercase;

				@include mobile {
					font-size: 9px;
				}
			}
		}
		label {
			margin-bottom: 0 !important;
			padding-top: 0 !important;
			width: 24px;
			height: 24px;

			.name {
				font-size: 0;
				
			}
		}
	}
	.simple_input.removable {
		position: relative;

		input {
			width: calc(100% - 35px);
		}
		.remove {
			position: absolute;
			right: 0;
			top: 0;
			width: 34px;
			height: 100%;
			cursor: pointer;
			@include icon(close);

			&:before {
				display: block;
				width: 24px;
				height: 24px;
				border-radius: 50%;
				position: absolute;
				right: 0;
				margin-top: -12px;
				top: 50%;
				background: #efefef;
				transition: background 250ms;
				color: #272727;
				line-height: 24px;
				text-align: center;
				font-size: 8px;
			}
			&:hover {

				@include no_touch {

					&:before {
						background: #d3d3d3;
					}
				}
			}
		}
	}
	.hiddeable {

		.simple_input {
			width: calc(50% - 15px) !important;

			@include mobile {
				width: 100% !important;
			}
			&:nth-child(odd) {
				margin-right: 30px;
			}
		}
	}
	.show_press_releases_in_main_list_hiddeable {
		display: none;
	}
	.export_hiddeable,
	.export_photos_hiddeable,
	.email_hiddeable,
	.format_code_hiddeable {
		display: none;
	}
	.export_button {
		margin-bottom: 16px;
		width: 100%;
		text-align: center;
	}
	.simple_input .example {
		color: #bbbbbb;
		font-size: 14px;
		margin-top: 12px;

		strong, 
		b {
			font-family: $bold;
		} 
	}
	.manager_list {
		padding: 10px 0 30px;
		font-size: 0;
		margin: 0 auto;

		.col {
			display: inline-block;
			vertical-align: top;
			font-size: 14px;
			color: #202020;
			position: relative;
			min-height: 49px;

			@include mobile {
				font-size: 13px;
			}
			&:first-child {
				padding: 16px 20px;
				width: calc((100% - 120px) * 0.5);

				@include mobile {
					width: 50%;
					padding: 16px 20px;
				}
			}
			&:nth-child(2) {
				padding: 16px 20px 16px 0;
				width: calc((100% - 120px) * 0.5);

				@include mobile {
					width: 50%;
					padding: 16px 20px;
				}
			}
			&:nth-child(3) {
				padding: 16px 20px;
				width: 120px;

				@include mobile {
					width: 100%;
					text-align: left;
				}
			}
		}
		.heading {
			border-bottom: 1px solid #efefef;

			.col {
				color: $grey;
				
				@include mobile {

					&:nth-child(3) {
						display: none;
					}
				}
			}
		}
		.edit_link {
			position: absolute;
			width: 80px;
			text-align: center;
			right: 20px;
			height: 24px;
			line-height: 22px;
			margin-top: -12px;
			top: 50%;
			display: block;
			border: 1px solid #efefef;
			cursor: pointer;
			text-transform: uppercase;
			text-decoration: none;
			color: $grey;
			font-family: $medium;
			font-size: 10px;
			user-select: none;
			background: #fff;
			transition: background 250ms;

			@include mobile {
				right: auto;
				left: 20px;
				top: 15px;
			}

			&:hover {

				@include no_touch {
					background: #f9f9f9;
				}
			}
		}
		.member {
			border-bottom: 1px solid #efefef;
			transition: background 250ms;

			&.pink {
				background: #fde9e9;

				.col {
					color: #673b3b;

					.edit_link {
						color: #673b3b;
						background: #fde9e9;
						border-color: #e7cfcf;
					}
				}
			}
		}
	}
}