@mixin tablet {
	@media screen and ( max-width: 1024px ) {
		@content;
	}
}
@mixin mobile {
	@media screen and ( max-width: 1000px ) {
		@content;
	}
}
@mixin smallest {
	@media screen and ( max-width: 768px ) {
		@content;
	}
}
@mixin no_touch {
	@media screen and ( min-width: 1025px ) {
		@content;
	}
}
@mixin smaller_header {
	@media screen and ( max-width: 1455px ) {
		@content;
	}
}
@mixin burger {
	@media screen and ( max-width: 1259px ) {
		@content;
	}
}
@mixin wrapper {
	@media screen and ( max-width: 1220px ) {
		@content;
	}
}
@mixin placeholder() {
	&::-webkit-input-placeholder {
		@content;
		transition: transform 250ms, opacity 250ms;
		transform: translate3d(0,0,0);
	}
	&:-moz-placeholder {
		@content;
		transition: transform 250ms, opacity 250ms;
		transform: translate3d(0,0,0);
	}
	&::-moz-placeholder {
		@content;
		transition: transform 250ms, opacity 250ms;
		transform: translate3d(0,0,0);
	}
	&:-ms-input-placeholder {
		@content;
		transition: transform 250ms, opacity 250ms;
		transform: translate3d(0,0,0);
	}
	&:focus::-webkit-input-placeholder {
		transform: translate3d(15px,0,0);
		opacity: 0;
	}
	&:focus:-moz-placeholder {
		transform: translate3d(15px,0,0);
		opacity: 0;
	}
	&:focus::-moz-placeholder {
		transform: translate3d(15px,0,0);
		opacity: 0;
	}
	&:focus:-ms-input-placeholder {
		transform: translate3d(15px,0,0);
		opacity: 0;
	}
}