.news_page {
	@extend .photos_page;
	
	section.filter {

		.auto_checkbox {
			width: 290px;
			margin-right: 10px;
			margin-bottom: 0;
			margin-top: 3px;	

			.name {
				padding-right: 0;
				font-size: 12px;

				&:after {
					border-radius: 0;
				}
				span {
					display: block;
				}
			}
		}
		.simple_dropdown.main_dropdown {
			display: none;
		}
		.detail_search {
			margin-right: 36px;
		}
		.search {
			width: calc(100% - 710px);
		}
		&.calendar {

			.search {
				width: calc(100% - 710px);
			}
			.auto_checkbox {
				display: none;
			}
			.hidden_calendar {
				display: inline-block;
			}
			.full_search_holder {

				.simple_input.icon_dates {
					display: none;
				}
			}
		}
		&.full {

			.search {
				width: calc(100% - 490px);
			}
			&.calendar {

				.search {
					width: calc(100% - 540px);
				}
				.hidden_calendar {
					margin-right: 0;
				}
			}
		}
	}
	section.photos {

		.right.layout {

			.photos_holder {

				.photo {
					min-height: 0;

					.name {

						@include mobile {
							padding-left: 0;
							padding-right: 0;
							padding-top: 0;
							padding-bottom: 8px;
						}					 
					}
					.badges {
						font-size: 0;
						color: #fff;
						text-transform: uppercase;
						
						.badge {
							font-size: 10px;
							padding: 0 8px;
							display: inline-block;
							vertical-align: top;
							line-height: 18px;
							margin-right: 5px;
							margin-top: 5px;
						}
					}
					.time_stamp {
						padding-left: 0;
					}
					.has_photos {
						display: inline-block;
						vertical-align: top;
						margin-left: 9px;
						padding-left: 21px;
						color: $blue;
						font-size: 12px;
						position: relative;
						@include icon(camera);
						margin-top: -1px;

						&:before {
							display: block;
							position: absolute;
							left: 0;
							top: 0;
							color: $grey;
							font-size: 12px;
						}
					}
					&.visited {

						.name {
							color: $grey;
						}
					}
				}
			}
			&.info {
				
				.photos_holder  {
					
					@include mobile {
						padding: 10px 20px 30px;
					}
					.photo {

						@include mobile {
							padding: 10px 0;
							position: relative;
							min-height: 0;
							padding-left: 0;
							display: block;
						}
						.img {
							width: 54px;
							height: 54px;

							@include mobile {
								display: none;
							}
						}
						.name {
							width: calc(100% - 484px);

							@include burger {
								width: calc(100% - 314px);
							}
							@include mobile {
								order: 1;
								display: block;
								width: 100%;
								padding-top: 0;
							}
						}
						&.no_photo {

							.img {
								opacity: 0;
							}
						}
					}
				}
				.side_pop {
					display: none;
				}
			}
			&.columns {
				width: calc((100% - 240px) * 0.43);

				.photos_holder {
					border-right: 1px solid #efefef;
					// min-height: calc(100vh - 254px) ;

					// @include burger {
					// 	min-height: calc(100vh - 231px);
					// }
					.photo {

						.img {
							display: none;
						}
						.name {
							width: calc(100% - 72px);
							padding: 0;
							padding-left: 5px;
							order: 2;
						}
						.tags {
							display: none;
						}
						.time_stamp {
							padding: 0;
							width: 72px;
							order: 1;
							text-align: left;

							> span {
								height: 100%;
								display: flex;
								flex-direction: column;
							}
							.time {
								margin-left: 0;
								order: 1;
								font-family: $bold;
								font-size: 14px;
								display: block;
								margin-bottom: 4px;
							}
							.date {
								font-size: 12px;
								order: 2;
								display: block;
							}
						}
						&.current {
							background: #f9f9f9;

							&.visited {

								.name {
									color: $black;
								}
							}
						}
					}
				}
			}
			&.recycle_bin {
				
				.control_area {
					border-right: 1px solid #efefef;
					border-bottom: 1px solid #efefef;
					padding: 16px 34px 16px 44px;

					@include mobile {
						padding-left: 30px;
						padding-right: 20px;
					}
					.simple_checkbox {
						margin-bottom: 0;
					    font-family: "Roboto-Medium";

					    @include burger {
					    	height: 100%;
					    	padding-top: 6px;
					    }
					}
					.right_buttons {
						float: right;
						padding-top: 6px;
						position: relative;

						@include burger {
							padding-top: 0;
						}
						&:before {
							display: block;
							position: absolute;
							z-index: 2;
							content: '';
							width: 100%;
							height: 100%;
							background: rgba(#fff, 0);
							transition: background 250ms;
							pointer-events: none;
						}
						> div {
							cursor: pointer;
							display: inline-block;
							vertical-align: top;
						    height: 18px;
							line-height: 18px;
							color: #fff;
							text-decoration: none;
							text-transform: uppercase;
							font-family: "Roboto-Medium";
							font-size: 10px;
							display: inline-block;
							vertical-align: top;
							background: #3574d1;
							padding: 0 10px;
							cursor: pointer;
							transition: background 250ms;
							margin-left: 5px;
							user-select: none;

							@include burger {
								display: block;
								margin-left: 0;
								margin-right: 0;
								text-align: center;
							}
							&:hover {

								@include no_touch {
									background: #3f9ee7;
								}
							}
							&.delete {
								background: #d50000;

								&:hover {

									@include no_touch {
										background: #b60101;
									}
								}
								@include burger {
									margin-bottom: 5px;
								}
							}
						}
						&.not_active {
							pointer-events: none;

							&:before {
								background: rgba(#fff, .6);
							}
						}
					}
				}
				.photo {
					user-select: none;
					padding-left: 60px;

					.simple_checkbox {
						position: absolute;
						pointer-events: none;
						left: 10px;

						.name {

							&:after {
								background: #fff;
							}
						}
					}
				}
				.photo.checked {
			    	background: #f9f9f9;

			    	.name {
			    		color: #292929;
			    	}
				}
				&.columns {

					.time_stamp {
						position: relative;
						padding-top: 40px !important;
					}
					.photo {
						padding-left: 10px;

						.simple_checkbox {
							left: auto;
						}
					}
				}
			}
		}
		.side_pop {
			width: calc((100% - 240px) * 0.57);
			transition: height 250ms;
			position: relative;

			.news_high {
				padding: 29px 40px 20px;
				position: relative;
			}
			@include mobile {
				display: none;	
			}
			.event_info {
				margin-bottom: 30px;
				color: $black;
				font-size: 16px;

				.event_info_text {
					font-family: $bold;
					margin-top: 4px;
				}
			}
			.breadcrumbs {
				font-size: 12px;
				color: $grey;
				padding-bottom: 14px;
				margin-bottom: 18px;
				border-bottom: 1px solid #efefef;

				a {
					color: $grey;
					text-decoration: none;
					transition: color 250ms;
					cursor: pointer;

					&:hover {

						@include no_touch {
							color: $blue;
						}
					}
				}
			}
			h2 {
				font-size: 24px;
				padding-top: 0;
				padding-bottom: 16px;
				display: block;
			}
			.files_area {
				font-size: 0;
				margin: -20px -20px 10px;

				.file {
					width: 240px;
					height: 230px;
					display: inline-block;
					vertical-align: top;
					margin: 20px;
					border: 1px solid #efefef;
					position: relative;

					.edit {
						position: absolute;
						right: 12px;
						top: 12px;
						z-index: 1;
					}
					.remove {
						cursor: pointer;
						position: absolute;
						top: 0;
						right: 0;
						width: 23px;
						height: 23px;
						background: #efefef;
						@include icon(close);
						z-index: 1;
						transition: background 250ms;

						&:before {
							display: block;
							width: 23px;
							height: 23px;
							color: $black;
							text-align: center;
							line-height: 23px;
							font-size: 10px;

						}
						&:hover {

							@include no_touch {
								background: #d3d3d3;
							}
						}
					}
					.img_holder {
						width: 200px;
						height: 160px;
						margin-left: 20px;
						margin-top: 48px;

						img {
							max-width: 100%;
							max-height: 100%;
							display: block;
							margin: 0 auto;
						}
					}
					.file_holder {
						width: 240px;
						height: 230px;
						position: absolute;
						top: 0;
						left: 0;
						padding: 136px 24px 24px;
						text-align: center;
						color: $blue;
						font-size: 12px;
						@include icon(file);

						&:before {
							display: block;
							position: absolute;
							width: 100%;
							text-align: center;
							height: 54px;
							line-height: 54px;
							font-size: 54px;
							top: 59px;
							left: 0;
							color: #e5e5e5;
						}
					}
				}
			}
			.copy_text {
				display: inline-block;
				vertical-align: top;
				text-transform: uppercase;
				margin-bottom: 25px;
				cursor: pointer;
				font-family: $medium;
				font-size: 10px;
				color: $grey;
				line-height: 18px;
				height: 18px;
				border: 1px solid $grey;
				padding: 0 6px;
				user-select: none;
				transition: background 250ms;

				&:hover {

					@include no_touch {
						background: #f9f9f9;
					}
				}
			}
			.time_stamp {
				font-size: 14px;
				color: $grey;
				margin-bottom: 36px;

				.date {
					display: inline-block;
					margin-right: 10px;
				}
				.time {
					display: inline-block;

				}
			}
			.heading {
				font-size: 16px;
				font-family: $medium;
				color: $black;
				margin-bottom: 25px;
			}
			.simple_text {
				font-size: 16px;
				color: $black;
				line-height: 151%;
				margin-bottom: 29px;

				> div,
				> p {
					margin-bottom: 24px;
				}
			}
			.author {
				font-size: 16px;
				color: $grey;
				margin-bottom: 40px;
			}
			// .small_clear {
			// 	display: none;

			// 	@include smaller_header {
			// 		display: block;
			// 		clear: both;
			// 	}
			// }
			.edit {
				color: #fff;
				text-decoration: none;
				text-transform: uppercase;
				font-family: $medium;
				font-size: 10px;
				height: 24px;
				line-height: 24px;
				display: inline-block;
				vertical-align: top;
				background: $blue;
				padding: 0 10px;
				cursor: pointer;
				transition: background 250ms;
				margin-left: 5px;

				&.top_button {
					margin-left: 0;
					margin-right: 5px;
					height: 18px;
					line-height: 18px;


						margin-right: 0;
						margin-bottom: 5px;
					
				}
				&:hover {

					@include no_touch {
						background: #3f9ee7;
					}
				}
				&.delete {
					margin-bottom: 25px;
				    background: #d50000;

				    &:hover {

				    	@include no_touch {
							background: #b60101;
				    	}
				    }
				}
			}
			.side_photo_holder {
				position: relative;
				margin-bottom: 30px;
				display: inline-block;
				max-width: 100%;

				img {
					max-width: 100%;
				}
				.buttons {
					position: absolute;
					z-index: 1;
					top: 18px;
					right: 18px;
					font-size: 0;

					&.info {
						display: none;
					}
					&.absolute {
						display: block;
					}
					@include tablet {
						transform: translate3d(0,0,0);
						opacity: 1;
						pointer-events: all;
					}
					.info,
					.download {
						margin-left: 5px;
						display: inline-block;
						vertical-align: top;
						height: 24px;
						width: 24px;
						border: none;
						transition: background 250ms;
						cursor: pointer;
						position: relative;
						@include icon(info);
						z-index: 1;
						background: $blue;

						&:before {
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							line-height: 22px;
							text-align: center;
							color: #fff;
							font-size: 12px;
							transition: color 250ms;
						}
						.tooltip {
							position: absolute;
							background: #f5f5f5;
							font-size: 10px;
							color: #202020;
							line-height: 152%;
							padding: 11px 17px;
							width: 214px;
							cursor: default;
							right: 0;
							top: 35px;
							transition: transform 250ms, opacity 250ms;
							opacity: 0;
							transform: translate3d(0,10px,0);
							pointer-events: none;

							&:before {
								width: 0;
								height: 0;
								border-style: solid;
								border-width: 0 3px 5px 3px;
								border-color: transparent transparent #f5f5f5 transparent;
								display: block;
								position: absolute;
								content: '';
								top: -5px;
								right: 9px;
							}
						}
						&:hover {

							@include no_touch {
								background: #3f9ee7;

								.tooltip {
									opacity: 1;
									transform: translate3d(0,0,0);
								}
							}
						}
						@include tablet {

							&.open {
								background: #3f9ee7;

								.tooltip {
									opacity: 1;
									transform: translate3d(0,0,0);
								}
							}
						}
					}
					.download {
						margin-left: 5px;
						display: inline-block;
						vertical-align: top;
						height: 24px;
						width: 24px;
						transition: background 250ms;
						cursor: pointer;
						position: relative;
						@include icon(download);

						.tooltip {
							width: 150px;
						}
						&:before {
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							line-height: 24px;
							text-align: center;
							color: #fff;
							font-size: 12px;
							transition: color 250ms;
						}
						&:hover {

							@include no_touch {
								background: #3f9ee7;
							}
						}
					}
				}
				.photo_name {
					font-size: 12px;
					color: $grey;
					padding-top: 8px;
				}
			}
			.warning {
				color: $grey;
				border: 1px solid #efefef;
				padding: 10px 20px;
				font-size: 12px;
				margin-bottom: 30px;
			}
			.extra_info_block {
				float: right;
				color: $grey;
				padding-left: 15px;
				margin-bottom: 25px;

				@include burger {
					display: block;
					float: none;
					padding-left: 0;
				}
				.info {
					border-color: #efefef;
					margin-top: -2px;

					&:before {
						color: $grey;
					}
					&:hover {

						@include no_touch {
							border-color: $grey;
							background: #f9f9f9;
						}
					}
				}
			}
			.info {
				margin-left: 5px;
				display: inline-block;
				vertical-align: top;
				height: 24px;
				width: 24px;
				border: 1px solid rgba(#fff, .5);
				transition: border-color 250ms;
				cursor: pointer;
				position: relative;
				@include icon(info);
				z-index: 1;

				&:before {
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					line-height: 22px;
					text-align: center;
					color: #fff;
					font-size: 12px;
					transition: color 250ms;
				}
				.tooltip_holder {
					position: absolute;
					transition: transform 250ms, opacity 250ms;
					opacity: 0;
					transform: translate3d(0,10px,0);
					pointer-events: none;
					padding-top: 10px;
				    right: -1px;
    				top: 0;
				}
				.tooltip {
					background: #f5f5f5;
					color: #202020;
					font-size: 12px;
					line-height: 150%;
					padding: 11px 17px;
					width: 260px;
					cursor: default;
					right: 0;
					position: relative;
					text-align: left;

					&.bigger_tooltip {
						font-size: 14px;
						text-align: right;

						a {
							display: block;
							text-decoration: none;
							color: $blue;

							&:hover {

								@include no_touch {
									text-decoration: underline;
								}
							}
						}
					}
					&:before {
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 0 3px 5px 3px;
						border-color: transparent transparent #f5f5f5 transparent;
						display: block;
						position: absolute;
						content: '';
						top: -5px;
						right: 9px;
					}
				}
				&:hover {

					@include no_touch {
						border-color: rgba(#fff, 1);

						.tooltip_holder {
							pointer-events: all;
							opacity: 1;
							transform: translate3d(0,0,0);
						}
					}
				}
				@include tablet {

					&.open {
						border-color: rgba(#fff, 1);

						.tooltip_holder {
							pointer-events: all;
							opacity: 1;
							transform: translate3d(0,0,0);
						}
					}
				}
			}
		}
	}
}
#invisible_clipboard,
#invisible_clipboard_pop {
	opacity: 0;
	pointer-events: none;
	position: absolute;
	width: 0;
	height: 0;
}