.password_page {
	
	.wrapper {
		display: flex;
		min-height: calc(100vh - 307px);
		text-align: center;

		@include mobile {
			min-height: calc(100vh - 204px);
		}
		.center {
			margin: auto;
			max-width: 478px;
			position: relative;
			width: 100%;

			form {
				display: block;
			}
		}
		h1 {
			color: $black;
			font-size: 24px;
			margin-bottom: 47px;

			@include mobile {
				margin-bottom: 20px;
			}
		}
		.simple_input {
			width: 100%;

			input {
				height: 60px;
				line-height: 58px;
				padding: 0 28px;
				font-size: 14px;

				@include placeholder {
					text-transform: uppercase;
					font-size: 12px;
				}
			}
		}
		.button {
			width: 100%;
		}
	}
}