.past_conference_page {
	
	.conference {
		position: relative;
		min-height: 90px;
		border-bottom: 1px solid #efefef;
		padding: 12px 12px 12px 93px;
		display: flex;
		cursor: pointer;
		transition: background 250ms;

		.img {
			height: 66px;
			width: 66px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			position: absolute;
			top: 12px;
			left: 12px;
		}
		.info {
			margin: auto 0;

			.date {
				color: $grey;
				font-size: 14px;
				margin-bottom: 4px;
			}
			.name {
				font-size: 14px;
				color: $black;
				font-family: $medium;
				line-height: 140%;
			}
		}
		&:hover {

			@include no_touch {
				background: #f9f9f9;
			}
		}
	}
}