.photos_page {
	padding-top: 93px;
	padding-bottom: 0;
	// min-height: calc(100vh - 110px);

	@include burger {
		padding-top: 73px;
		// min-height: calc(100vh - 80px);
	}
	@include mobile {
		padding-top: 60px;
	}
	section.filter {
		padding: 0 40px;
		font-size: 0;
		margin-bottom: 15px;
		position: relative;
		z-index: 3;
		height: 36px;
		transition: height 250ms;

		.full_search_holder {
			padding-top: 12px;
			font-size: 0;
			width: 100%;
			display: none;

			.left_search_side,
			.right_search_side {
				display: inline-block;
				vertical-align: top;
				width: 50%;

				@media screen and (max-width: 1200px) {
					display: block;
					width: 100%;
				}

				.simple_input {
					width: 100%;
					margin-bottom: 12px;

					&:last-child {
						margin-bottom: 0;
					}
					&.icon_dates {
						position: relative;

						&:before {
							display: block;
							position: absolute;
							z-index: 2;
							color: $grey;
							font-size: 18px;
							height: 100%;
							right: 20px;
							line-height: 40px;
							pointer-events: none;
						}
						input {
							padding-right: 58px;
						}
					}
				}
				.simple_dropdown {
					height: 42px;
					margin-bottom: 12px;

					&:before {
						right: 20px;
					}
					&:last-child {
						margin-bottom: 0;
					}
					input {
						height: 42px;
						line-height: 40px;
						text-transform: none;
						font-size: 14px;

						@include placeholder {
							text-transform: none;
						}
					}
					.content {
						top: 42px;

						.option {
							padding: 14px 20px;
							text-transform: none;
							font-size: 14px;
						}
					}
				}
				.simple_checkbox {
					margin-top: 6px;
					margin-bottom: 18px;

					.name {

						&:after {
							border-radius: 0;
						}
					}
				}
			}
			.left_search_side {
				padding-right: 10px;

				@media screen and (max-width: 1200px) {
					margin-bottom: 12px;
					padding-right: 0;
				}
			}
			.right_search_side {
				padding-left: 10px;

				@media screen and (max-width: 1200px) {
					padding-left: 0;
				}
			}
		}
		@include mobile {
			display: none !important;
		}
		.main_dropdown {
			width: 168px;
			margin-right: 12px;
		}
		.search {
			display: inline-block;
			vertical-align: top;
			width: calc(100% - 550px);
			height: auto;
			position: relative;
			max-width: 820px;
			transition: width 250ms, max-width 250ms;

			input[type="text"] {
				line-height: 34px;
				font-size: 14px;
				color: #202020;
				border: 1px solid #efefef;
				width: 100%;
				display: block;

				@include placeholder {
					color: #9c9c9c;
					opacity: 1;
					font-size: 14px;
				}
				&:focus,
				&.focus {

					+ button {
						width: 100px;
					}
				}
				&.search_main_input {
					padding: 0 120px 0 20px;
				}
			}
			.search_info_warning {
				margin-top: 16px;
				background: #f9f9f9;
				font-size: 11px;
				color: $black;
				padding: 15px 53px;
				border-radius: 4px;
				position: relative;
				display: none;

				&:before {
					display: block;
					position: absolute;
					content: '!';
					border-radius: 50%;
					border: 1px solid $blue;
					width: 18px;
					height: 18px;
					line-height: 16px;
					text-align: center;
					color: $blue;
					font-size: 13px;
					left: 25px;
					margin-top: -9px;
					top: 50%;
					font-family: $bold;
				}
			}
			button {
				display: block;
				width: 36px;
				height: 36px;
				position: absolute;
				z-index: 1;
				box-shadow: none;
				border: none;
				background: none;
				top: 0;
				right: 0;
				transition: width 250ms, background 250ms;
				background: $blue;
				overflow: hidden;

				> span {
					display: block;
					height: 100%;
					width: 100px;
					text-align: center;
					color: #fff;
					font-family: $medium;
					font-size: 12px;
					line-height: 36px;
					text-transform: uppercase;
					padding-left: 36px;
					padding-right: 10px;
				}
				&:before {
					position: absolute;
					height: 100%;
					line-height: 36px;
					text-align: center;
					font-size: 15px;
					color: #fff;
					top: 0;
					width: 100%;
					display: block;
					width: 36px;
					left: 0;
				}
				&:hover {

					@include no_touch {
						background: #2b60ad;
					}
				}
			}
		}
		.detail_search {
			font-size: 14px;
			color: $blue;
			letter-spacing: 0;
			text-transform: none;
			line-height: 36px;
			height: 36px;
			margin-left: 20px;
			font-family: $normal;

			&:before,
			&:after {
				background: $blue;
				bottom: 7px;
			}
		}
		.opened_filter_buttons {
			display: inline-block;
			vertical-align: top;
			padding: 0 36px;
			text-align: center;
			width: 185px;
			display: none;

			.close_search {
				font-size: 14px;
				color: $blue;
				letter-spacing: 0;
				text-transform: none;
				line-height: 36px;
				height: 36px;
				font-family: $normal;

				&:before,
				&:after {
					background: $blue;
					bottom: 7px;
				}
			}
			.clear_filters {
				font-size: 14px;
				color: $grey;
				letter-spacing: 0;
				text-transform: none;
				line-height: 36px;
				height: 36px;
				font-family: $normal;

				&:before,
				&:after {
					background: $grey;
					bottom: 7px;
				}
			}
		}
		.right_box {
			height: 36px;
			display: inline-block;
			vertical-align: top;
			float: right;
			position: absolute;
			right: 40px;
			top: 0;

			.label {
				display: inline-block;
				vertical-align: top;
				text-transform: uppercase;
				font-size: 12px;
				color: #202020;
				line-height: 36px;
				margin-right: 20px;
			}
			.view {
				display: inline-block;
				vertical-align: top;
				height: 36px;
				cursor: pointer;

				&:before {
					display: block;
					height: 36px;
					line-height: 36px;
					font-size: 18px;
					transition: color 250ms;
					color: #e5e5e5;
				}
				&[data-view="columns"] {
					margin-right: 10px;
					@include icon(columns);
				}
				&[data-view="info"] {
					@include icon(info_view);
				}
				&.current {
					pointer-events: none;

					&:before {
						color: #202020;
					}
				}
				&:hover {

					@include no_touch {

						&:before {
							color: #202020;
						}
					}
				}
			}
		}
		&.full {
			// height: 252px;

			.search {
				width: calc(100% - 390px);
				max-width: 950px;
			}
			button {
				width: 100px;
			}
		}
		&.auto {
			// height: auto;

			button {
				width: 100px;
			}
		}
		&.another_dropdown {
			
			.search {
				width: calc(100% - 877px);

				@media screen and (max-width: 1300px) {
					width: calc(100% - 737px);
				}
			}
			.simple_dropdown.main_dropdown {
				display: inline-block;
			}
			.detail_search {
				margin-right: 12px;
			}
			.auto_checkbox {
				width: 189px;
				margin-top: -30px;
				height: 96px;
				display: inline-flex;
				margin-right: 10px;

				.name {
					line-height: 140%;
					margin-top: auto;
					margin-bottom: auto;
					font-size: 12px;

					&:before,
					&:after {
						top: 50%;
						margin-top: -15px;
					}
				} 
				+ .head_tabs {
					margin-left: 0;
				} 
			}
			&.full {

				.search {
					width: calc(100% - 575px);
				}
				.simple_dropdown.main_dropdown {
					margin-right: 0;
				}
				.head_tabs {
					overflow: hidden;
					width: 0 !important;
				}
			}
			&.calendar {

				.auto_checkbox {
					display: none;
				}
				.right_box {
					display: none !important;
				}
				.hidden_calendar {
					margin-right: 29px;
				}
				.search {
					width: calc(100% - 753px);
				}
				.simple_dropdown.main_dropdown {
					margin-right: 0;
				}
				&.full {

					.search {
						width: calc(100% - 753px);
					}
				}
			}
		}
		.hidden_calendar {
			display: none;
			vertical-align: top;
			height: 36px;
			font-size: 0;
			margin-right: 36px;

			.simple_input  {
				height: 36px;
				width: 167px;
				position: relative;
				margin-bottom: 0;
				margin-right: 8px;

				&:before {
					display: block;
					position: absolute;
					z-index: 1;
					pointer-events: none;
					color: $grey;
					height: 36px;
					top: 0;
					right: 20px;
					line-height: 34px;
					font-size: 18px;
				}
				input {
					height: 36px;
					line-height: 36px;
					padding-right: 60px;
				}
			}
			.day_button {
				display: inline-block;
				vertical-align: top;
				height: 36px;
				line-height: 34px;
				text-align: center;
				text-transform: uppercase;
				width: 77px;
				color: #202020;
				font-size: 12px;
				transition: background 250ms;
				cursor: pointer;
				border: 1px solid #efefef;
				background: #f9f9f9;
				margin-left: 10px;

				&:hover {

					@include no_touch {
						background: #d7d7d7;
					}
				}
				&.active {
					background: #d7d7d7;
					pointer-events: none;
				}
			}
		}
	}
	section.photos {
		display: flex;
		border-top: 1px solid #efefef;

		@include mobile {
			display: block;
		}
		.mobile_filter_toggler {
			display: none;

			@include mobile {
				display: block;
				background: $blue;
				color: #fff;
				padding: 14px 20px 14px 52px;
				text-transform: uppercase;
				font-size: 12px;
				cursor: pointer;
				position: relative;
				overflow: hidden;

				.icon {
					position: absolute;
					height: 60px;
					cursor: pointer;
					width: 60px;
					left: 0;
					top: -9px;

					.plank {
						height: 2px;
						width: 20px;
						background: #fff;
						left: 20px;
						position: absolute;

						&:nth-child(1) {
							top: 23px;
						    transition: transform .275s cubic-bezier(.68,-.55,.265,1.55);
						}
						&:nth-child(2) {
							top: 29px;
						    transition: opacity .125s ease .275s;
						}
						&:nth-child(3) {
							top: 35px;
						    transition: transform .275s cubic-bezier(.68,-.55,.265,1.55);
						}
					}
				}
				&.open {

					.icon {

						.plank {
							background: #fff;

							&:nth-child(1) {
								transition-delay: 75ms;
								transform: translate3d(0,6px,0) rotate(135deg);
							}
							&:nth-child(2) {
								transition-delay: 0s;
								opacity: 0;
							}
							&:nth-child(3) {
							    transition-delay: 75ms;
			    				transform: translate3d(0,-6px,0) rotate(-315deg);
							}
						}
					}
				}
			}
		}
		.mobile_only.extra_filters {
			display: none;

			@include mobile {
				display: flex;
				height: 54px;
				background: #fff;
				width: 100%;
			    border-bottom: 1px solid #efefef;
			    padding: 0 20px;

				.simple_dropdown.main_dropdown {
					margin-top: 9px;
				}
				.simple_checkbox.auto_checkbox {
					height: 54px;

					span.name {
						line-height: 120%;
						font-size: 11px;
						display: flex;
						height: 100%;

						&:before,
						&:after {
							top: 12px;
						}
						span {
							margin: auto 0;
						}
					}
				}
			}
		}
		.left {
			display: inline-block;
			vertical-align: top;
			width: 240px;
			position: relative;
			// height: 100%;
			// min-height: calc(100vh - 255px);
			background: #f9f9f9;
			border-right: 1px solid #efefef;
			// overflow-x: hidden;
			// overflow-y: auto;
			transition: height 250ms, min-height 250ms;
			
			// &.filter_opened {
			// 	min-height: calc(100vh - 471px);

			// 	@include burger {
			// 		min-height: calc(100vh - 448px);
			// 	}
			// 	@include mobile {
			// 		min-height: 0;
			// 	}
			// }
			// @include burger {
			// 	min-height: calc(100vh - 232px);
			// }
			.simplebar-track {
				opacity: 0 !important;
				pointer-events: none !important;
			}
			@include mobile {
				display: none;
				width: 100%;
				min-height: 0;
				overflow: visible;
				height: auto !important;
			}
			@media screen and (min-width: 1001px) {
				display: inline-block !important;
			}
			.toggler {
				text-transform: uppercase;
				color: #202020;
				font-size: 12px;
				user-select: none;

				.toggler_head {
					border-bottom: 1px solid #efefef;
					position: relative;

					.side_color {
						position: absolute;
						z-index: 2;
						pointer-events: none;
						height: 100%;
						top: 0;
						left: 0;
						width: 15px;
					}
					
					> span {
						display: block;
						width: 100%;
						height: 100%;
						padding: 15px 40px 15px 40px;
						background: #f9f9f9;
						transition: background 250ms, color 250ms;
						cursor: pointer;

						span {
							padding-right: 10px;
						}
						@include mobile {
							padding: 15px 63px 15px 20px;
						}
						&:hover {

							@include no_touch {
								background: #efefef;
							}
						}
					}
					.has_messages {
						display: inline-block;
						background: $blue;
						vertical-align: top;
						color: #fff;
						border-radius: 50%;
						text-align: center;
						height: 18px;
						line-height: 18px;
						padding: 0 6px;
						font-family: $medium;
						font-size: 12px;
						transition: color 250ms, background 250ms;
						margin-top: -3px;
					}
					.opener {
						cursor: pointer;
						position: absolute;
						z-index: 1;
						background: #f9f9f9;
						transition: background 250ms, border-color 250ms;
						border-radius: 50%;
						border: 1px solid #d6d6d6;
						width: 24px;
						height: 24px;
						top: 50%;
						margin-top: -12px;
						right: 15px;

						&:hover {

							@include no_touch {
								background: #efefef;
							}
						}
						&:before {
							display: block;
							position: absolute;
							content: '';
							background: #bbbbbb;
							width: 2px;
							height: 8px;
							top: 50%;
							margin-top: -4px;
							margin-left: -1px;
							left: 50%;
							transition: opacity 250ms, background 250ms;
							opacity: 1;
						}
						&:after {
							display: block;
							position: absolute;
							content: '';
							background: #bbbbbb;
							width: 8px;
							height: 2px;
							top: 50%;
							margin-left: -4px;
							transition: opacity 250ms, background 250ms;
							margin-top: -1px;
							left: 50%;
						}
						@include mobile {

							span {
								display: block;
								position: absolute;
								z-index: 1;
								width: 60px;
								height: 45px;
								top: -12px;
								// background: blue;
								left: -16px;
							}
						}
					}
					&.open {

						> span {
							background: #efefef;
						}
						.opener {
							background: #efefef;

							&:before {
								opacity: 0;
							}
						}
					}
					&.active {

						> span {
							background: $blue;
							color: #fff;
						}
						.has_messages {
							background: #fff;
							color: $blue;
						}
						.opener {
							background: $blue;
							border-color: #fff;

							&:before,
							&:after {
								background: #fff;
							}
							&:hover {

								@include no_touch {
									background: #efefef;

									&:before,
									&:after {
										background: $blue;
									}
								}
							}
						}
					}
				}
				.toggler_body {
					border-bottom: 1px solid #efefef;
					padding: 11px 0;
					background: #efefef;
					display: none;

					.sub_opener {
						cursor: pointer;
						position: absolute;
						z-index: 1;
						background: #f9f9f9;
						transition: background 250ms, border-color 250ms;
						border-radius: 50%;
						border: 1px solid #d6d6d6;
						width: 16px;
						height: 16px;
						margin-top: -8px;
						right: 19px;
						top: 50%;

						&:hover {

							@include no_touch {
								background: #efefef;
							}
						}
						&:before {
							display: block;
							position: absolute;
							content: '';
							background: #bbbbbb;
							width: 2px;
							height: 6px;
							top: 50%;
							margin-top: -3px;
							margin-left: -1px;
							left: 50%;
							transition: opacity 250ms, background 250ms;
							opacity: 1;
						}
						&:after {
							display: block;
							position: absolute;
							content: '';
							background: #bbbbbb;
							width: 6px;
							height: 2px;
							top: 50%;
							margin-left: -3px;
							transition: opacity 250ms, background 250ms;
							margin-top: -1px;
							left: 50%;
						}
						@include mobile {

							span {
								display: block;
								position: absolute;
								z-index: 1;
								width: 60px;
								height: 45px;
								top: -12px;
								// background: blue;
								left: -16px;
							}
						}
					}
					.subsector {
						cursor: pointer;
						position: relative;

						> span { 
							transition: color 250ms, background 250ms;
							padding: 8px 63px 8px 40px;
							display: block;

							@include mobile {
								padding: 8px 20px;
							}
							&:hover {

								@include no_touch {
									color: $blue;
								}
							}
						}
						&.open {

							.sub_opener {
								background: #efefef;

								&:before {
									opacity: 0;
								}
							}
						}
						&.active {

							> span {
								color: #fff;
								background: #3f9ee7;
							}
							.sub_opener {
								background: #3f9ee7;
								border-color: #fff;

								&:before,
								&:after {
									background: #fff;
								}
								&:hover {

									@include no_touch {
										background: #fff;

										&:before,
										&:after {
											background: #3f9ee7;
										}
									}
								}
							}
						}
					}
					.toggler_sub_body {
						padding: 4px 0;
						display: none;
					}
					.sub_subsector {
						transition: color 250ms, background 250ms;
						padding: 4px 25px 4px 63px;
						display: block;
						cursor: pointer;

						@include mobile {
							padding: 8px 20px;
						}
						&:hover {

							@include no_touch {
								color: $blue;
							}
						}
						&.active {
							color: $blue;
						}
					}
				}
			}
		}
		.right {
			display: inline-block;
			vertical-align: top;
			width: calc(100% - 240px);
			transition: height 250ms;

			@include mobile {
				display: block;
				width: 100%;
			}
			.show_more_button {
				text-align: center;
				padding: 20px;
				text-transform: uppercase;
				color: $blue;
				cursor: pointer;
				font-size: 12px;
				font-family: $bold;
				display: block;
				width: 100%;
				transition: background 250ms;

				&:hover {

					@include no_touch {
						background: #f9f9f9;
					}
				}
			}
			.photos_holder {
				// min-height: 100%;
				display: flex;
				flex-wrap: wrap;
				padding: 16px 34px;
				position: relative;
				transition: height 250ms;

				@include mobile {
					overflow: hidden;
					height: auto !important;
					min-height: 0;
					padding: 10px 10px 30px;
				}
				.photo {
					margin: 14px;
					width: 200px;
					position: relative;

					@include mobile {
						margin: 10px;
						margin-bottom: 20px;
						width: calc(25% - 20px);
					}

					.img {
						background-size: cover;
						background-repeat: no-repeat;
						background-position: center;
						height: 155px;
						margin-bottom: 11px;
						cursor: pointer;
						position: relative;
						overflow: hidden;
						display: flex;
						align-items: center;
						background: #e2e2e2;

						img {
							width: auto;
							height: auto;
							max-height: 100%;
							max-width: 100%;
							margin: auto;
						}
						&.empty {
							background: #e2e2e2;

							@include mobile {
								height: 0 !important;
							}
						}

						// &:before {
						// 	display: block;
						// 	position: absolute;
						// 	content: '';
						// 	width: 100%;
						// 	height: 100%;
						// 	left: 0;
						// 	top: 0;
						// 	background: rgba(0,0,0,.36);
						// 	transform: translate3d(0,0,0);
						// 	opacity: 0;
						// 	transition: opacity 250ms;
						// }
					}
					.buttons {
						position: absolute;
						z-index: 1;
						top: 12px;
						right: 12px;
						font-size: 0;
						pointer-events: none;
						opacity: 0;
						transform: translate3d(0,-50%,0);
						transition: transform 250ms, opacity 250ms;

						&.info {
							display: none;
						}
						&.absolute {
							display: block;

							@include mobile {
								display: none;
							}
						}
						@include tablet {
							transform: translate3d(0,0,0);
							opacity: 1;
							pointer-events: all;
						}
						.edit {
							color: #fff;
							text-decoration: none;
							text-transform: uppercase;
							font-family: $medium;
							font-size: 10px;
							height: 24px;
							line-height: 24px;
							display: inline-block;
							vertical-align: top;
							background: $blue;
							padding: 0 10px;
							cursor: pointer;
							transition: background 250ms;
							margin-left: 5px;

							&:hover {

								@include no_touch {
									background: #3f9ee7;
								}
							}
						}
						.info,
						.download,
						.open_link {
							margin-left: 5px;
							display: inline-block;
							vertical-align: top;
							height: 24px;
							width: 24px;
							border: none;
							transition: background 250ms;
							cursor: pointer;
							position: relative;
							@include icon(info);
							z-index: 1;
							background: $blue;

							&:before {
								display: block;
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								line-height: 22px;
								text-align: center;
								color: #fff;
								font-size: 12px;
								transition: color 250ms;
							}
							.tooltip {
								position: absolute;
								background: #f5f5f5;
								font-size: 10px;
								color: #202020;
								line-height: 152%;
								padding: 11px 17px;
								width: 214px;
								cursor: default;
								right: 0;
								top: 35px;
								transition: transform 250ms, opacity 250ms;
								opacity: 0;
								transform: translate3d(0,10px,0);
								pointer-events: none;

								&:before {
									width: 0;
									height: 0;
									border-style: solid;
									border-width: 0 3px 5px 3px;
									border-color: transparent transparent #f5f5f5 transparent;
									display: block;
									position: absolute;
									content: '';
									top: -5px;
									right: 9px;
								}
							}
							&:hover {

								@include no_touch {
									background: #3f9ee7;

									.tooltip {
										opacity: 1;
										transform: translate3d(0,0,0);
									}
								}
							}
							@include tablet {

								&.open {
									background: #3f9ee7;

									.tooltip {
										opacity: 1;
										transform: translate3d(0,0,0);
									}
								}
							}
						}
						.download {
							margin-left: 5px;
							display: inline-block;
							vertical-align: top;
							height: 24px;
							width: 24px;
							transition: background 250ms;
							cursor: pointer;
							position: relative;
							@include icon(download);

							.tooltip {
								width: 150px;
							}
							&:before {
								display: block;
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								line-height: 24px;
								text-align: center;
								color: #fff;
								font-size: 12px;
								transition: color 250ms;
							}
							&:hover {

								@include no_touch {
									background: #3f9ee7;
								}
							}
						}
						.open_link {
							@include icon(news);
						}
					}
					.name {
						font-size: 14px;
						color: $black;
						line-height: 132%;
						margin-bottom: 11px;
						cursor: pointer;
						transition: color 250ms;
						font-family: $medium;
					}
					.tags {
						display: none;
					}
					.time_stamp {
						font-size: 12px;
						color: #9c9c9c;
						cursor: pointer;
						transition: color 250ms;

						.time {
							margin-left: 6px;
						}
					}
					&:hover {

						@include no_touch {
							z-index: 2;

							.name {
								color: $blue;
							}
							.time_stamp {
								color: $blue;
							}
							.img {

								&:before {
									opacity: 1;
								}
							}
							.buttons {
								transform: translate3d(0,0,0);
								opacity: 1;
								pointer-events: all;
							}
						}
					}
				}
			}
			&.info {
				
				.photos_holder {
					display: block;
					
					.photo {
						width: 100%;
						display: flex;
						margin: 0;
						padding: 10px;
						border-bottom: 1px solid #efefef;
						transition: background 250ms;
						background: #fff;
						cursor: pointer;

						@include smallest {
							padding: 10px 0;
							min-height: 120px;
							position: relative;
							flex-wrap: wrap;
							min-height: calc(50vw - 15px);
							padding-left: 50%;
							display: block;
						}
						&:hover {
							
							@include no_touch {
								background: #f9f9f9;
							}
						}
						.img {
							width: 155px;
							height: 155px;
							display: inline-flex;
							vertical-align: top;
							margin-bottom: 0;
							align-items: center;

							@include smallest {
								width: 100%;
								height: calc(100vw - 40px);
								position: static;
								display: inline-flex;
								width: calc(50% - 15px);
								height: calc(50vw - 35px);
								margin-right: 15px;
								float: left;
								align-items: center;
								position: absolute;
								left: 0;
							}
							&:before {
								display: none;
							}
						}
						.name {
							display: inline-flex;
							vertical-align: top;
							padding: 0 40px 0 20px;
							width: calc(100% - 585px);
							font-family: $medium;
							font-size: 14px;
							color: $black;
							margin-bottom: 0;

							@include burger {
								width: calc(100% - 415px);
							}
							@include smallest {
								order: 1;
								display: block;
								width: 100%;
								padding: 11px 0 8px;
							}
							> div {
								margin: auto 0;
							}
						}
						.tags {
							width: 300px;
							display: inline-flex;
							vertical-align: top;
							padding: 0 10px;
							padding-right: 40px;

							@include burger {
								width: 130px;
							}
							@include mobile {
								display: none;
							}
							a {
								display: inline-block;
								vertical-align: top; 
								font-size: 14px;
								margin-right: 7px;
								color: #9c9c9c;
								transition: color 250ms;
								text-decoration: none;

								&:hover {

									@include no_touch {
										color: $blue;
									}
								}
							}
							> span {
								margin: auto 0;
							}
						}
						.time_stamp {
							display: inline-flex;
							vertical-align: top;
							width: 130px;
							padding: 0 10px;
							padding-right: 0;
							text-align: right;
							color: #9c9c9c;
							font-size: 14px;

							@include smallest {
								order: 2;
								display: block;
								width: 100%;
								text-align: left;
								padding: 0;
							}
							> span {
								margin: auto 0;
							}
						}
						.buttons {
							transform: translate3d(0,0,0);
							opacity: 1;
							pointer-events: all;
							right: 10px;
							top: 50px;
							position: static;
							margin-top: 10px;

							&.absolute {
								display: none;
							}
							&.info {
								display: none;
							}
							.edit {
								margin-left: 0;
							}
							@include mobile {
								display: none !important;
							}
							.download {
								border-color: #efefef;

								&:before {
									color: #bbbbbb;
								}
								&:hover {

									@include no_touch {
										border-color: $blue;

										&:before {
											color: $blue;
										}
									}
								}
							}
							.info {
								border-color: #efefef;

								&:before {
									color: #bbbbbb;
								}
								&:hover {

									@include no_touch {
										border-color: $blue;

										&:before {
											color: $blue;
										}
									}
								}
							}
						}
					}
				}	
			}
			&.recycle_bin {
				
				.control_area {
					border-right: 1px solid #efefef;
					border-bottom: 1px solid #efefef;
					padding: 16px 34px 16px 44px;

					@include mobile {
						padding-left: 30px;
						padding-right: 20px;
					}
					.simple_checkbox {
						margin-bottom: 0;
					    font-family: "Roboto-Medium";

					    @include burger {
					    	height: 100%;
					    	padding-top: 6px;
					    }
					}
					.right_buttons {
						float: right;
						padding-top: 6px;
						position: relative;

						@include burger {
							padding-top: 0;
						}
						&:before {
							display: block;
							position: absolute;
							z-index: 2;
							content: '';
							width: 100%;
							height: 100%;
							background: rgba(#fff, 0);
							transition: background 250ms;
							pointer-events: none;
						}
						> div {
							cursor: pointer;
							display: inline-block;
							vertical-align: top;
						    height: 18px;
							line-height: 18px;
							color: #fff;
							text-decoration: none;
							text-transform: uppercase;
							font-family: "Roboto-Medium";
							font-size: 10px;
							display: inline-block;
							vertical-align: top;
							background: #3574d1;
							padding: 0 10px;
							cursor: pointer;
							transition: background 250ms;
							margin-left: 5px;
							user-select: none;

							@include burger {
								display: block;
								margin-left: 0;
								margin-right: 0;
								text-align: center;
							}
							&:hover {

								@include no_touch {
									background: #3f9ee7;
								}
							}
							&.delete {
								background: #d50000;

								&:hover {

									@include no_touch {
										background: #b60101;
									}
								}
								@include burger {
									margin-bottom: 5px;
								}
							}
						}
						&.not_active {
							pointer-events: none;

							&:before {
								background: rgba(#fff, .6);
							}
						}
					}
				}
				.photo {
					user-select: none;
					padding: 10px;
					padding-top: 58px;

					.simple_checkbox {
						position: absolute;
						pointer-events: none;
						left: 10px;
						top: 10px;

						.name {

							&:after {
								background: #fff;
							}
						}
					}
				}
				.photo.checked {
			    	background: #f9f9f9;

			    	.name {
			    		color: #292929;
			    	}
				}
				&.info:not(.columns) {

					.photos_holder {

						.photo {
							padding-left: 56px;

							@include mobile {
								display: block;
							}

							.name {
								width: calc(100% - 421px) !important;

								@include smaller_header {
									width: calc(100% - 360px) !important;
								}
								@include mobile {
									width: 100% !important;
								}
							}
							.img {
								min-width: 155px;

								@include mobile {
									width: calc(100vw - 106px);
									height: calc(100vw - 106px);
								}
							}
						}
					}
				}
			}
			// &.filter_opened {

			// 	.photos_holder {
			// 		height: calc(100vh - 470px);

			// 		@include burger {
			// 			height: calc(100vh - 447px);
			// 		}
			// 		@include mobile {
			// 			height: auto;
			// 		}
			// 	}
			// }
		}
	}
	.head_tabs {
		width: 360px !important;
		margin-right: 12px;
		transition: width 250ms;
		height: 66px;
		margin-top: -15px;
		display: inline-block;
		font-size: 0;
		user-select: none;
		margin-left: 199px;

		@media screen and (max-width: 1300px) {
			width: 220px !important;
		}

		label {
			display: inline-block;
			height: 100%;
			width: 33.33%;
			position: relative;
			cursor: pointer;
    		border-right: 1px solid #efefef;
    		

    		&:first-child {
    			border-left: 1px solid #efefef;
    		}
		}
		.name {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: transparent;
			transition: background 250ms;
			background: #f9f9f9;
			color: #000;
			font-size: 12px;
			text-transform: uppercase;
			text-align: center;
			padding: 0 12px;
			display: flex;

			span {
				margin: auto;
			}
			&:hover {

	    		@include no_touch {
				    background: #efefef;
	    		}
    		}
		}
		input {
			position: absolute;
			visibility: hidden;
			opacity: 0;
			pointer-events: none;
			width: 0;
			height: 0;

			&:checked {
				
				+ .name {
					background: #fff;
					pointer-events: none;

					&:after {
						display: block;
						position: absolute;
						content: '';
						width: 100%;
						height: 1px;
						bottom: -1px;
						left: 0;
						background: #fff;
					}
				}
			}
		}
	}
}