#overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 10;
	left: 0;
	top: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	transition: opacity 250ms;
	pointer-events: none;
	opacity: 0;
	background: rgba(#000, .5);
	padding: 40px;
	transform: translate3d(0,0,0);

	@include mobile {
		padding: 20px;
	}
	&.show {
		opacity: 1;
		pointer-events: all;
	}
	&.overflow {
		overflow: hidden;
		padding: 0;

		@include mobile {
			overflow-x: hidden;
			overflow-y: auto;
			padding: 0;
		}
	}
	.buttons_for_mobile_filter {
		display: none;
	}
	.add_another,
	.add_another_removable {
		height: 24px;
		line-height: 22px;
		text-align: center;
		padding: 0 13px;
		text-transform: uppercase;
		font-size: 10px;
		color: $blue;
		border: 1px solid $blue;
		cursor: pointer;
		transition: background 250ms;
		display: inline-block;
		margin-bottom: 16px;
		margin-top: 10px;
		font-family: $medium;
		user-select: none;

		&:hover {

			@include no_touch {
				background: #f4f8ff;
			}
		}
	}
	.event_info {
		margin-bottom: 30px;
		color: $black;
		font-size: 16px;
		text-align: left;

		.event_info_text {
			font-family: $bold;
			margin-top: 4px;
		}
	}
	form,
	.form {
		display: block;
		width: 100%;
		margin: 0 auto;
		position: relative;
		text-align: left;

		.label {
			font-size: 16px;
			color: #202020;
			margin-bottom: 12px;
			font-family: $medium;

			&.naming {
				margin-bottom: 22px;
			}
		}
		.line {
			margin: 6px 0 22px;
			height: 1px;
			width: 100%;
			background: #e5e5e5;

			&.big_gap {
				margin-bottom: 85px;
			}
		}
		.simple_input {
			width: 100%;

			&.inline {
				display: inline-block;
			}
		}
		.postpone {
			display: inline-block;
			width: 200px;
			padding-right: 15px;
			margin-bottom: 22px;
		}
		.simple_dropdown {

		}
		.simple_radio,
		.simple_checkbox {
			padding-top: 6px;
			margin-bottom: 22px;

			&.block {
				display: block;
			}
			&.smaller_bottom {
				margin-bottom: 6px;
			}
			&.minus_margin {
				margin-top: -10px;
			}
		}
		.multicheckboxes {
			display: none;
			padding: 0 48px 20px;

			.smaller_bottom {
				margin-bottom: 0;
			}
			.simple_checkbox .name {
				padding-left: 28px;

				&:after {
					width: 18px;
					border-radius: 2px;
					height: 18px;
					top: 5px;
				}
				&:before {
					font-size: 7px;
					width: 18px;
					height: 18px;
					line-height: 18px;
					top: 6px;
				}
			}
		}
		.time_pickers {
			display: inline-block;
			vertical-align: top;
			width: calc(100% - 205px);
			font-size: 0;

			> div {
				display: none;
			}
			.simple_input {
				display: inline-block;
				vertical-align: top;
				margin-right: 12px;

				&.icon_dates {
					width: 190px;
					position: relative;

					input {
						padding-right: 65px;
					}
					&:before {
						display: block;
						position: absolute;
						right: 20px;
						pointer-events: none;
						color: $grey;
						font-size: 24px;
						top: 8px;
					}
				}
				&.timer {
					width: 88px;
					position: relative;	

					input {
						padding-right: 50px;
					}
					> span {
						color: $grey;
						font-size: 14px;
						line-height: 44px;
						position: absolute;
						z-index: 1;
						pointer-events: none;
						right: 17px;
					}
				}
			}
		}
		.checkboxes_box {
			width: calc(50% - 15px);

			&:first-child {
				margin-right: 30px;
			}
			&.small_paddings {

				.simple_checkbox .name {
					padding-right: 18px;
					padding-left: 41px;
				}
			}
		}
		.editor {
			margin-bottom: 22px;
		}
		.row {
			font-size: 0;

			.col {
				width: calc(50% - 15px);
				display: inline-block;
				vertical-align: top;

				@include mobile {
					display: block;
					width: 100%;
				}
				&:first-child {
					margin-right: 30px;

					@include mobile {
						margin-right: 0px;
					}
				}
			}
			&.full {
				width: 100%;
				display: block;

				.checkboxes_box {
					display: block;
					width: 100%;
					margin-right: 0;
				}
			}
		}
		.form_buttons {
			font-size: 0;
			text-align: right;

			> *:not(.error_message) {
				display: inline-block;
				vertical-align: top;
				margin-left: 12px;

				&.blue,
				&.white {
					width: auto;
					padding: 0 40px;
					height: 48px;
					line-height: 46px;
				}
				&.delete {
					padding: 0 8px;
					line-height: 48px;
					cursor: pointer;
					font-size: 12px;
					color: #d50000;
					font-family: $bold;
					text-transform: uppercase;
					user-select: none;

					&:hover {

						@include no_touch {
							text-decoration: underline;
						}
					}
				}
			}
			.simple_checkbox.inline {
				 padding-top: 9px !important;
				 float: left;
				 margin-left: 0;
			}
		}
	}
	.pop {
		transition: transform 250ms;
		transform: translate3d(0,100px,0);
		pointer-events: none;
		display: none;
		background: #fff;

		&.show {
			pointer-events: all;
			transform: translate3d(0,0,0);
		}
		.close {
			position: absolute;
			width: 40px;
			height: 40px;
			cursor: pointer;
			top: 6px;
			right: 6px;
			@include icon(close);

			@include mobile {
				top: 0;
				right: 0;
			}	
			&:before {
				display: block;
				position: absolute;
				line-height: 40px;
				height: 40px;
				width: 40px;
				text-align: 40px;
				font-size: 17px;
				color: #202020;
				transition: color 250ms;
			}
			&:hover {

				@include no_touch {

					&:before {
						color: $blue;
					}
				}
			}
		}
		&.photos,
		&.one_photo,
		&.one_video,
		&.photos_download {
			width: 100%;
			height: 100vh;
			background: #fff;
			min-height: 500px;
			position: relative;

			@include mobile {
				min-height: 100vh;
				height: auto;
				padding-bottom: 100px;
			}
			.photos_pop_head {
				border-bottom: 1px solid #efefef;
				padding: 18px 270px 18px 40px;
				position: absolute;
				top: 0;
				width: 100%;
				left: 0;
				z-index: 2;
				background: #fff;

				@include mobile {
					padding: 0;
					position: relative;
					display: flex;
					flex-wrap: wrap;
					transition: height 250ms;
				}
				.name {
					font-size: 14px;
					color: #202020;
					font-family: $medium;
					display: inline-block;
					vertical-align: top;
					line-height: 18px;
					margin-right: 30px;

					@include mobile {
						order: 2;
						padding: 15px 20px;
						margin-right: 0;
						width: 100%;
						line-height: 120%;
					}
				}
				.time_stamp {
					display: inline-block;
					vertical-align: top;
					font-size: 12px;
					color: #9c9c9c;
					line-height: 18px;

					@include mobile {
						order: 3;
						padding: 16px 20px;
						width: 130px;
						float: right;
						text-align: right;
						line-height: 120%;
						position: absolute;
						top: 0;
						right: 54px;
					}
				}
				.right_box {
					position: absolute;
					height: 100%;
					right: 0;
					top: 0;

					@include mobile {
						width: 100%;
						order: 1;
						height: 60px;
						border-bottom: 1px solid #efefef;
						padding-bottom: 20px;
						position: static;
					}

					.edit {
						color: #fff;
						text-decoration: none;
						text-transform: uppercase;
						font-family: $medium;
						font-size: 10px;
						height: 24px;
						line-height: 24px;
						display: inline-block;
						vertical-align: top;
						background: $blue;
						padding: 0 10px;
						cursor: pointer;
						transition: background 250ms;
						margin-left: 5px;
						margin-top: 15px;

						&:hover {

							@include no_touch {
								background: #3f9ee7;
							}
						}
						@include mobile {
							margin-left: 20px;
							margin-top: 18px;
						}
					}
					.delete {
						@extend .edit;
						background: transparent;
						border: 1px solid #e5e5e5;
						transition: border-color 250ms, background 250ms;
						color: $grey;

						@include mobile {
							margin-left: 5px;
						}
						&:hover {

							@include no_touch {
								border-color: $grey;
								background: #f9f9f9;
							}
						}
					}
					.download {
						margin-left: 5px;
						display: inline-block;
						vertical-align: top;
						height: 24px;
						width: 24px;
						border: 1px solid #e5e5e5;
						transition: border-color 250ms;
						cursor: pointer;
						margin-top: 15px;
						position: relative;
						@include icon(download);

						&:before {
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							line-height: 24px;
							text-align: center;
							color: #9c9c9c;
							font-size: 12px;
							transition: color 250ms;
						}
						&:hover {

							@include no_touch {
								border-color: $blue;

								&:before {
									color: $blue;
								}
							}
						}
						@include mobile {
							margin-top: 18px;
						}
					}
					.close_box {
						height: 100%;
						width: 80px;
						border-left: 1px solid #efefef;
						display: inline-block;
						vertical-align: top;
						margin-left: 18px;
						cursor: pointer;
						background: #fff;
						transition: background 250ms;
						@include icon(close);

						@include mobile {
							width: 60px;
							height: 60px;
							float: right;
							border-bottom: 1px solid #efefef;
						}
						&:hover {

							@include no_touch {
								background: #efefef;
							}
						}
						&:before {
							display: block;
							position: absolute;
							color: #202020;
							font-size: 17px;
							top: 19px;
							right: 30px;

							@include mobile {
								right: 11px;
								height: 60px;
								width: 60px;
								text-align: center;
								top: 0;
								right: 0;
								line-height: 60px;
							}
						}
					}
				}
			}
			.slider_box {
				height: 100%;
				padding: 100px 100px 27px 100px;

				@include mobile {
					padding: 20px 20px 20px 20px;
					height: auto;
				}
				.swiper-container {
					width: 100%;
					height: 100%;
					overflow: visible;

					@include mobile {
						height: auto;
					}
					.swiper-slide {
						display: inline-flex;
						flex-direction: column;
						background: #fff;
						width: calc(100vw - 200px) !important;

						@include mobile {
							width: calc(100vw - 40px) !important;
							display: inline-block;
						}
						.img_holder {
							flex-grow: 1;
							overflow: hidden;
							user-select: none;
							position: relative;

							@include mobile {
								display: block;
								height: auto;
							}
							img {
								position: absolute;
								transform: translate3d(-50%,-50%,0);
								max-height: 100%;
								max-width: 100%;
								left: 50%;
								top: 50%;

								@include mobile {
									width: 100%;
									position: static;
									transform: translate3d(0,0,0);
								}
							}
						}
						.simple_text {
							color: #202020;
							font-size: 14px;
							padding-top: 27px;
							line-height: 133%;
						}
						.name,
						.time_stamp {
							display: none;
						}
					}
				}
				.swiper-button-next,
				.swiper-button-prev {
					position: absolute;
					height: 100vh;
					width: 100px;
					top: -78px;
					z-index: 1px;
					cursor: pointer;
					background: transparent;
					transition: background 250ms, opacity 250ms;

					@include mobile {
						height: 40px;
						width: 40px;
						top: 22px;
						background: rgba(#000, 0.1);
					}
					&:before {
						display: block;
						position: absolute;
						color: #bbbbbb;
						font-size: 44px;
						line-height: 44px;
						height: 44px;
						text-align: center;
						width: 24px;
						margin-left: -12px;
						margin-top: -22px;
						top: 50%;
						left: 50%;
						transition: transform 250ms;
						transform: translate3d(0,0,0) scale(0.5);

						@include mobile {
							color: #fff;
						}
					}
					&:hover {

						@include no_touch {

							&:before {
								transform: translate3d(0,0,0) scale(1);
							}
						}
					}
					&.swiper-button-disabled {
						opacity: 0;
					}
				}
				.swiper-button-next {
					right: -100px;
					left: auto;
					@include icon(arrow_right);

					@include mobile {
						right: 0;
					}
				}
				.swiper-button-prev {
					left: -100px;
					right: auto;
					@include icon(arrow_left);

					@include mobile {
						left: 0;
					}
				}
			}
		}
		&.one_photo,
		&.one_video {
			
			.photos_pop_head {
				height: 56px;

				@include mobile {
					height: 60px;
				}
			}
			.slider_box {
				padding: 83px 100px 27px 100px;

				@include mobile {
					padding: 20px;
				}
			}
		}
		&.one_video {

			@include mobile {
				padding-bottom: 0;
			}
			.img_holder {
				display: flex;

				@include mobile {
					display: flex !important;
					min-height: calc(100vh - 100px);
				}
				iframe,
				video {
					display: block;
					width: 100%;
					margin: auto;
					height: calc((100vw - 200px) * 0.417);

					@media screen and (min-width: 1200px) {
						width: 1000px;
						height: 417px;
					}
					@include mobile {
						height: calc((100vw - 40px) * 0.417);
					}
				}
			}
		}
		&.new,
		.text_container {
			margin: auto;
			max-width: 915px;
			width: 100%;
			background: #fff;
			padding: 45px 100px 55px;
			position: relative;
			text-align: center;

			@include mobile {
				padding: 35px 20px;
			}
			h2 {
				padding-top: 5px;
				display: block;
				margin: 0 auto;
				width: 100%;
				max-width: 540px;
				text-align: center;
				padding-bottom: 15px;
				font-family: $medium;
				font-size: 30px;
				color: #202020;

				@include mobile {
					font-size: 22px;
				}
			}
			.edit {
			    color: #fff;
				text-decoration: none;
				text-transform: uppercase;
				font-family: "Roboto-Medium";
				font-size: 10px;
				height: 24px;
				line-height: 24px;
				display: inline-block;
				vertical-align: top;
				background: #3574d1;
				padding: 0 10px;
				cursor: pointer;
				-webkit-transition: background 250ms;
				-o-transition: background 250ms;
				transition: background 250ms;
				margin-left: 5px;
				position: absolute;
				right: 12px;
				top: 12px;
				z-index: 1;

				&:hover {

					@include no_touch {
						background: #3f9ee7;
					}
				}
				&.top_button {
					position: static;
					margin-left: 0;
					margin-right: 5px;
					font-size: 10px;
					height: 18px;
					line-height: 18px;

					@include mobile {
						margin-bottom: 10px;
					}
				}
			}
			.additionals {
				text-align: left;
			}
			.side_photo_holder {
				position: relative;
				margin-bottom: 30px;
				display: inline-block;
				max-width: 100%;

				img {
					max-width: 100%;
				}
				.buttons {
					position: absolute;
					z-index: 1;
					top: 18px;
					right: 18px;
					font-size: 0;

					&.info {
						display: none;
					}
					&.absolute {
						display: block;
					}
					.edit {
						position: static;
					}
					@include tablet {
						transform: translate3d(0,0,0);
						opacity: 1;
						pointer-events: all;
					}
					.info,
					.download {
						margin-left: 5px;
						display: inline-block;
						vertical-align: top;
						height: 24px;
						width: 24px;
						border: none;
						transition: background 250ms;
						cursor: pointer;
						position: relative;
						@include icon(info);
						z-index: 1;
						background: $blue;

						&:before {
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							line-height: 22px;
							text-align: center;
							color: #fff;
							font-size: 12px;
							transition: color 250ms;
						}
						.tooltip {
							position: absolute;
							background: #f5f5f5;
							font-size: 10px;
							color: #202020;
							line-height: 152%;
							padding: 11px 17px;
							width: 214px;
							cursor: default;
							right: 0;
							top: 13px;
							transition: transform 250ms, opacity 250ms;
							opacity: 0;
							transform: translate3d(0,10px,0);
							pointer-events: none;

							&:before {
								width: 0;
								height: 0;
								border-style: solid;
								border-width: 0 3px 5px 3px;
								border-color: transparent transparent #f5f5f5 transparent;
								display: block;
								position: absolute;
								content: '';
								top: -5px;
								right: 9px;
							}
						}
						&:hover {

							@include no_touch {
								background: #3f9ee7;

								.tooltip {
									opacity: 1;
									transform: translate3d(0,0,0);
								}
							}
						}
						@include tablet {

							&.open {
								background: #3f9ee7;

								.tooltip {
									opacity: 1;
									transform: translate3d(0,0,0);
								}
							}
						}
					}
					.download {
						margin-left: 5px;
						display: inline-block;
						vertical-align: top;
						height: 24px;
						width: 24px;
						transition: background 250ms;
						cursor: pointer;
						position: relative;
						@include icon(download);

						.tooltip {
							width: 150px;
						}
						&:before {
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							line-height: 24px;
							text-align: center;
							color: #fff;
							font-size: 12px;
							transition: color 250ms;
						}
						&:hover {

							@include no_touch {
								background: #3f9ee7;
							}
						}
					}
				}
				.photo_name {
					font-size: 12px;
					color: $grey;
					padding-top: 8px;
				}
			}
			.warning {
				color: $grey;
				border: 1px solid #efefef;
				padding: 10px 20px;
				font-size: 12px;
				margin-bottom: 30px;
				text-align: left;
			}
			.extra_info_block {
				float: right;
				color: $grey;
				padding-left: 15px;
				margin-bottom: 25px;

				@include burger {
					display: block;
					float: none;
					padding-left: 0;
				}
				.info {
					border-color: #efefef;
					margin-top: -2px;

					&:before {
						color: $grey;
					}
					&:hover {

						@include no_touch {
							border-color: $grey;
							background: #f9f9f9;
						}
					}
				}
			}
			.info {
				margin-left: 5px;
				display: inline-block;
				vertical-align: top;
				height: 24px;
				width: 24px;
				border: 1px solid rgba(#fff, .5);
				transition: border-color 250ms;
				cursor: pointer;
				position: relative;
				@include icon(info);
				z-index: 1;

				&:before {
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					line-height: 22px;
					text-align: center;
					color: #fff;
					font-size: 12px;
					transition: color 250ms;
				}
				.tooltip_holder {
					position: absolute;
					transition: transform 250ms, opacity 250ms;
					opacity: 0;
					transform: translate3d(0,10px,0);
					pointer-events: none;
					padding-top: 10px;
				    right: -1px;
    				top: 22px;
				}
				.tooltip {
					background: #f5f5f5;
					color: #202020;
					font-size: 12px;
					line-height: 150%;
					padding: 11px 17px;
					width: 260px;
					cursor: default;
					right: 0;
					position: relative;
					text-align: left;

					&.bigger_tooltip {
						font-size: 14px;
						text-align: right;

						a {
							display: block;
							text-decoration: none;
							color: $blue;

							&:hover {

								@include no_touch {
									text-decoration: underline;
								}
							}
						}
					}
					&:before {
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 0 3px 5px 3px;
						border-color: transparent transparent #f5f5f5 transparent;
						display: block;
						position: absolute;
						content: '';
						top: -5px;
						right: 9px;
					}
				}
				&:hover {

					@include no_touch {
						border-color: rgba(#fff, 1);

						.tooltip_holder {
							pointer-events: all;
							opacity: 1;
							transform: translate3d(0,0,0);
						}
					}
				}
				@include tablet {

					&.open {
						border-color: rgba(#fff, 1);

						.tooltip_holder {
							pointer-events: all;
							opacity: 1;
							transform: translate3d(0,0,0);
						}
					}
				}
			}
			.files_area {
				font-size: 0;
				margin: -20px -20px 10px;
				text-align: left;

				.file {
					width: 240px;
					height: 230px;
					display: inline-block;
					vertical-align: top;
					margin: 20px;
					border: 1px solid #efefef;
					position: relative;

					
					.remove {
						cursor: pointer;
						position: absolute;
						top: 0;
						right: 0;
						width: 23px;
						height: 23px;
						background: #efefef;
						@include icon(close);
						z-index: 1;
						transition: background 250ms;

						&:before {
							display: block;
							width: 23px;
							height: 23px;
							color: $black;
							text-align: center;
							line-height: 23px;
							font-size: 10px;

						}
						&:hover {

							@include no_touch {
								background: #d3d3d3;
							}
						}
					}
					.img_holder {
						width: 200px;
						height: 160px;
						margin-left: 20px;
						margin-top: 48px;

						img {
							max-width: 100%;
							max-height: 100%;
							display: block;
							margin: 0 auto;
						}
					}
					.file_holder {
						width: 240px;
						height: 230px;
						position: absolute;
						top: 0;
						left: 0;
						padding: 136px 24px 24px;
						text-align: center;
						color: $blue;
						font-size: 12px;
						@include icon(file);

						&:before {
							display: block;
							position: absolute;
							width: 100%;
							text-align: center;
							height: 54px;
							line-height: 54px;
							font-size: 54px;
							top: 59px;
							left: 0;
							color: #e5e5e5;
						}
					}
				}
			}
			.dates {
				font-size: 0;

				.date_line {
					display: inline-block;
					vertical-align: top;
					color: $grey;
					font-size: 14px;
					margin-bottom: 25px;
					padding: 0 25px;

					@include mobile {
						display: block;
						padding: 0;
					}
					&:nth-child(2) {
						border-left: 1px solid $grey;

						@include mobile {
							border: none;
							margin-bottom: 5px;
						}
					}
				}
			}
			.copy_text_pop {
				display: inline-block;
				vertical-align: top;
				text-transform: uppercase;
				margin-bottom: 15px;
				cursor: pointer;
				font-family: $medium;
				font-size: 10px;
				color: $grey;
				line-height: 18px;
				height: 18px;
				border: 1px solid $grey;
				padding: 0 6px;
				user-select: none;
				transition: background 250ms;

				&:hover {

					@include no_touch {
						background: #f9f9f9;
					}
				}
			}
			.heading {
				font-size: 16px;
				color: $black;
				font-family: $medium;
				text-align: left;
				margin-bottom: 26px;

				@include mobile {
					font-size: 14px;
				}
			}
			.simple_text {
				font-size: 16px;
				color: $black;
				line-height: 151%;
				margin-bottom: 29px;
				text-align: left;

				> div,
				> p {
					margin-bottom: 24px;
				}

				@include mobile {
					font-size: 14px;
				}
			}
			.author {
				font-size: 16px;
				color: $grey;
				text-align: left;
				margin-bottom: 30px;

				@include mobile {
					font-size: 14px;
				}
			}
		} 
		&.history {
			margin: auto;
			max-width: 915px;
			width: 100%;
			background: #fff;
			padding: 65px 100px 55px;
			position: relative;
			text-align: center;

			@include mobile {
				padding: 35px 20px;
			}
			.row {
				border-bottom: 1px solid #efefef;
				font-size: 0;
				text-align: left;

				.col {
					display: inline-block;
					vertical-align: top;
					font-size: 14px;
					color: #202020;
					padding: 16px;
					padding-left: 0;

					@include mobile {
						font-size: 11px;
					}
					&:first-child {
						width: 26.5%;

						@include mobile {
							width: 25%;
							padding-right: 16px;
						}
					}	
					&:nth-child(2) {
						width: 26.5%;

						@include mobile {
							width: 25%;
							padding-right: 16px;
						}
					}
					&:nth-child(3) {
						width: 33%;

						@include mobile {
							width: 25%;
							padding-right: 16px;
						}
					}
					&:last-child {
						width: 12%;
						padding-right: 0;

						@include mobile {
							width: 25%;
						}
					}
				}
				&.head_row {

					.col {
						color: $grey;
					}
				}
			}
		}
		&.add_manager {
			margin: auto;
			max-width: 550px;
			width: 100%;
			background: #fff;
			padding: 45px 80px 35px;
			position: relative;
			text-align: center;

			@include mobile {
				padding: 35px 20px;
			} 
			.label {
				font-size: 16px;
				color: #202020;
				margin-bottom: 12px;
				font-family: $medium;

				
				text-align: left;
			}
			.simple_dropdown {
				transition: opacity 250ms;
			}
			.option {
				text-align: left;
			}
			.button.blue {
				height: 42px;
				line-height: 42px;
				width: 100%;
				margin-bottom: 5px;
			}
			.cancel {
				text-transform: uppercase;
				color: $grey;
				font-family: $bold;
				font-size: 12px;
				cursor: pointer;
				height: 40px;
				line-height: 40px;

				&:hover {

					@include no_touch {
						text-decoration: underline;
					}
				}
			}
			.not_active {
				pointer-events: none;
				opacity: .5;
			}
		}
		&.select_photo,
		&.add_news,
		&.edit_photo,
		&.edit_photo_photographer_upload,
		&.edit_news_photo {
			margin: auto;
			max-width: 1015px;
			width: 100%;
			background: #fff;
			padding: 75px 100px 50px;
			position: relative;
			text-align: center;


			@include mobile {
				padding: 55px 20px;
			}
			section.filter {
				font-size: 0;
				margin-bottom: 30px;
				position: relative;
				z-index: 3;
				transition: height 250ms;
				text-align: left;

				@include mobile {
					display: none;
				}

				.full_search_holder {
					padding-top: 12px;
					font-size: 0;
					width: 100%;
					display: none;

					.left_search_side,
					.right_search_side {
						display: inline-block;
						vertical-align: top;
						width: 50%;

						.simple_input {
							width: 100%;
							margin-bottom: 12px;

							&:last-child {
								margin-bottom: 0;
							}
							&.icon_dates {
								position: relative;

								&:before {
									display: block;
									position: absolute;
									z-index: 2;
									color: $grey;
									font-size: 18px;
									height: 100%;
									right: 20px;
									line-height: 40px;
									pointer-events: none;
								}
								input {
									padding-right: 58px;
								}
							}
						}
						.simple_dropdown {
							height: 42px;
							margin-bottom: 12px;

							&:before {
								right: 20px;
							}
							&:last-child {
								margin-bottom: 0;
							}
							input {
								height: 42px;
								line-height: 40px;
								text-transform: none;
								font-size: 14px;

								@include placeholder {
									text-transform: none;
								}
							}
							.content {
								top: 42px;

								.option {
									padding: 14px 20px;
									text-transform: none;
									font-size: 14px;
								}
							}
						}
						.simple_checkbox {
							margin-top: 6px;
							margin-bottom: 18px;

							.name {

								&:after {
									border-radius: 0;
								}
							}
						}
					}
					.left_search_side {
						padding-right: 10px;
					}
					.right_search_side {
						padding-left: 10px;
					}
				}
				.main_dropdown {
					width: 188px;
					margin-right: 12px;
				}
				.search {
					display: inline-block;
					vertical-align: top;
					width: calc(100% - 149px);
					height: auto;
					position: relative;
					transition: width 250ms, max-width 250ms, height 250ms;

					input[type="text"] {
						line-height: 34px;
						font-size: 14px;
						color: #202020;
						border: 1px solid #efefef;
						padding: 0 120px 0 20px;
						width: 100%;
						display: block;

						@include placeholder {
							color: #9c9c9c;
							opacity: 1;
							font-size: 14px;
						}
						&:focus,
						&.focus {

							+ button {
								width: 100px;
							}
						}
					}
					.search_info_warning {
						margin-top: 16px;
						background: #f9f9f9;
						font-size: 11px;
						color: $black;
						padding: 15px 53px;
						border-radius: 4px;
						position: relative;
						display: none;

						&:before {
							display: block;
							position: absolute;
							content: '!';
							border-radius: 50%;
							border: 1px solid $blue;
							width: 18px;
							height: 18px;
							line-height: 16px;
							text-align: center;
							color: $blue;
							font-size: 13px;
							left: 25px;
							margin-top: -9px;
							top: 50%;
							font-family: $bold;
						}
					}
					button {
						display: block;
						width: 36px;
						height: 36px;
						position: absolute;
						z-index: 1;
						box-shadow: none;
						border: none;
						background: none;
						top: 0;
						right: 0;
						transition: width 250ms, background 250ms;
						background: $blue;
						overflow: hidden;

						> span {
							display: block;
							height: 100%;
							width: 100px;
							text-align: center;
							color: #fff;
							font-family: $medium;
							font-size: 12px;
							line-height: 36px;
							text-transform: uppercase;
							padding-left: 36px;
							padding-right: 10px;
						}
						&:before {
							position: absolute;
							height: 100%;
							line-height: 36px;
							text-align: center;
							font-size: 15px;
							color: #fff;
							top: 0;
							width: 100%;
							display: block;
							width: 36px;
							left: 0;
						}
						&:hover {

							@include no_touch {
								background: #2b60ad;
							}
						}
					}
				}
				.detail_search {
					font-size: 14px;
					color: $blue;
					letter-spacing: 0;
					text-transform: none;
					line-height: 36px;
					height: 36px;
					font-family: $normal;
					text-align: center;

					&:before,
					&:after {
						background: $blue;
						bottom: 7px;
					}
				}
				.slide_buttons {
					display: inline-block;
					vertical-align: top;
					padding: 0 0 0 36px;
					text-align: center;
					width: 149px;
					position: relative;
				}
				.opened_filter_buttons {
					display: inline-block;
					vertical-align: top;
					display: none;
					position: absolute;
					left: 36px;

					.close_search {
						font-size: 14px;
						color: $blue;
						letter-spacing: 0;
						text-transform: none;
						line-height: 36px;
						height: 36px;
						font-family: $normal;

						&:before,
						&:after {
							background: $blue;
							bottom: 7px;
						}
					}
					.clear_filters {
						font-size: 14px;
						color: $grey;
						letter-spacing: 0;
						text-transform: none;
						line-height: 36px;
						height: 36px;
						font-family: $normal;

						&:before,
						&:after {
							background: $grey;
							bottom: 7px;
						}
					}
				}
				.right_box {
					height: 36px;
					display: inline-block;
					vertical-align: top;
					float: right;

					.label {
						display: inline-block;
						vertical-align: top;
						text-transform: uppercase;
						font-size: 12px;
						color: #202020;
						line-height: 36px;
						margin-right: 20px;
					}
					.view {
						display: inline-block;
						vertical-align: top;
						height: 36px;
						cursor: pointer;

						&:before {
							display: block;
							height: 36px;
							line-height: 36px;
							font-size: 18px;
							transition: color 250ms;
							color: #e5e5e5;
						}
						&[data-view="columns"] {
							margin-right: 10px;
							@include icon(columns);
						}
						&[data-view="info"] {
							@include icon(info_view);
						}
						&.current {
							pointer-events: none;

							&:before {
								color: #202020;
							}
						}
						&:hover {

							@include no_touch {

								&:before {
									color: #202020;
								}
							}
						}
					}
				}
				&.full {
					// height: 252px;

					button {
						width: 100px;
					}
				}
				&.auto {
					// height: auto;

					button {
						width: 100px;
					}
				}
			}
			.line {
				width: 100%;
				background: #efefef;
				height: 1px;
				margin-top: 0;
				margin-bottom: 45px;

				@include mobile {
					margin-bottom: 25px;
				}
			}
			.functional_buttons {
				text-align: right;
				font-size: 0;

				.button.blue {
					margin-left: 10px;
					height: 42px;
					line-height: 42px;

					@include mobile {
						margin-left: 0;
						margin-bottom: 10px;
						width: 100%;
						text-align: center;
					}
				}
				.button {
					width: 220px;
					text-align: center;

					@include mobile {
						margin-left: 0;
						width: 100%;
						margin-bottom: 10px;
					}
				}
			}
			.added_photos {
				display: flex;
				flex-wrap: wrap;
				margin: 0 -20px;
				text-align: left;

				.photo_block {
					display: inline-block;
					vertical-align: top;
					width: 240px;
					margin: 0 20px 20px 20px;
					cursor: pointer;
					user-select: none;

					.photo_holder {
						width: 100%;
						height: 230px;
						border: 1px solid #efefef;
						position: relative;
						transition: border-color 250ms;

						&.add_photo {
							display: flex;
							user-select: none;
							cursor: pointer;
							transition: background 250ms;
							margin-bottom: 20px;

							> span {
								display: block;
								margin: auto;
								font-size: 12px;
								color: $grey;
								font-family: $bold;
								text-transform: uppercase;
								padding-top: 90px;
								position: relative;

								&:before {
									display: block;
									border-radius: 50%;
									position: absolute;
									content: '+';
									height: 72px;
									width: 72px;
									margin-left: -36px;
									left: 50%;
									background: #e5e5e5;
									color: #bbbbbb;
									line-height: 72px;
									text-align: center;
									font-size: 18px;
									top: 0;
								}
							}
							&:hover {

								@include no_touch {
									background: #f9f9f9;
								}
							}
						}
						.img_holder {
							width: 200px;
							height: 160px;
							margin-left: 20px;
							margin-top: 48px;

							img {
								max-width: 100%;
								max-height: 100%;
								display: block;
								margin: 0 auto;
							}
							&.not_img {
								position: relative;
								@include icon(file);
								margin-top: 29px;

								&:before {
									display: block;
									position: absolute;
									width: 100%;
									text-align: center;
									height: 54px;
									line-height: 54px;
									font-size: 54px;
									top: 59px;
									left: 0;
									color: #e5e5e5;
								}
							}
						}
						.remove {
							cursor: pointer;
							position: absolute;
							top: 0;
							right: 0;
							width: 23px;
							height: 23px;
							background: #efefef;
							@include icon(close);
							transition: background 250ms;

							&:before {
								display: block;
								width: 23px;
								height: 23px;
								color: $black;
								text-align: center;
								line-height: 23px;
								font-size: 10px;

							}
							&:hover {

								@include no_touch {
									background: #d3d3d3;
								}
							}
						}
						.buttons {
							position: absolute;
							top: 12px;
							right: 12px;

							.info {
								display: inline-block;
								vertical-align: top;
								height: 24px;
								width: 24px;
								border: 1px solid #efefef;
								transition: border-color 250ms, background 250ms;
								cursor: pointer;
								position: relative;
								@include icon(info);
								z-index: 1;

								&:before {
									display: block;
									position: absolute;
									top: 0;
									left: 0;
									width: 100%;
									height: 100%;
									line-height: 22px;
									text-align: center;
									color: $grey;
									font-size: 12px;
									transition: color 250ms;
								}
								.tooltip {
									position: absolute;
									background: #f5f5f5;
									font-size: 10px;
									color: #202020;
									line-height: 152%;
									padding: 11px 17px;
									width: 216px;
									cursor: default;
									right: -1px;
									top: 35px;
									transition: transform 250ms, opacity 250ms;
									opacity: 0;
									transform: translate3d(0,10px,0);
									pointer-events: none;

									&:before {
										width: 0;
										height: 0;
										border-style: solid;
										border-width: 0 3px 5px 3px;
										border-color: transparent transparent #f5f5f5 transparent;
										display: block;
										position: absolute;
										content: '';
										top: -5px;
										right: 9px;
									}
								}
								&:hover {

									@include no_touch {
										border-color: $grey;
										background: #f9f9f9;

										.tooltip {
											opacity: 1;
											transform: translate3d(0,0,0);
										}
									}
								}
								@include tablet {

									&.open {
										border-color: $grey;
										background: #f9f9f9;

										.tooltip {
											opacity: 1;
											transform: translate3d(0,0,0);
										}
									}
								}
							}
							.edit {
								color: #fff;
								text-decoration: none;
								text-transform: uppercase;
								font-family: $medium;
								font-size: 10px;
								height: 24px;
								line-height: 24px;
								display: inline-block;
								vertical-align: top;
								background: $blue;
								padding: 0 10px;
								cursor: pointer;
								transition: background 250ms;
								margin-left: 2px;

								&.top_button {
									margin-left: 0;
									margin-right: 10px;
									height: 18px;
									line-height: 18px;
								}
								&:hover {

									@include no_touch {
										background: #3f9ee7;
									}
								}
							}
						}
					}
					.name {
						font-size: 12px;
						color: $grey;
						padding-top: 13px;
					}
					.checked {
						position: absolute;
						width: 24px;
						height: 24px;
						top: 12px;
						left: 12px;
						background: $blue;
						@include icon(check);
						transition: transform 250ms;
						transform: translate3d(0,0,0) scale(0);

						&:before {
							display: block;
							width: 100%;
							height: 100%;
							line-height: 24px;
							text-align: center;
							color: #fff;
							font-size: 8px;
						}
					}
					&:hover {

						@include no_touch {

							.photo_holder {
								border-color: $blue;
							}
						}
					}
					&.checked {

						.photo_holder {
							border-color: $blue;
						}
						.checked {
							transform: translate3d(0,0,0) scale(1);
						}
					}
				}
			}
		}
		&.edit_news_photo {

			.added_photos {
				pointer-events: none !important;
			}
		}
    &.confirm,
    &.info,
    &.confirm_download,
    &.order_pressrelease_service {
			max-width: 450px;
			margin: auto;
			width: 100%;
			background: #fff;
			padding: 60px 80px 65px;
			position: relative;
			text-align: center;

			@include mobile {
				padding: 35px 20px;
			}
			.heading {
				font-size: 24px;
				font-family: $medium;
				color: $black;	
				margin-bottom: 25px;
			}
			.simple_text {
				margin-top: -10px;
				margin-bottom: 20px;
			}
			.functional_buttons {
				font-size: 0;

				.button {
					display: inline-block;
					vertical-align: top;
					width: 115px;
					margin: 0 5px;

					@include mobile {
						width: 106px;
					}
					&.blue {
						height: 42px;
						line-height: 42px;
					}
				}
			}
		}
		&.info {
			max-width: 590px;

			.heading {
				position: relative;
				margin-bottom: 19px;
				padding-top: 112px;

				&:before {
					display: block;
					position: absolute;
					content: '!';
					top: 0;
					width: 97px;
					height: 97px;
					line-height: 95px;
					text-align: center;
					margin-left: -48px;
					left: 50%;
					border-radius: 50%;
					border: 1px solid $blue;
					color: $blue;
					font-size: 45px;
				}
			}
			.comment {
				font-size: 14px;
				color: $grey;

				.blue {
					font-family: $bold;
					color: $blue;
				}
			}
		}
		&.mobile_detail_filter {
			width: 100%;
			min-height: 100%;
			background: #fff;
			padding: 90px 20px;

			@include mobile {
				padding-bottom: 150px;
			}
			@media screen and (min-width: 1001px) {
				display: none !important;
			}

			&:before {
				display: block;
				position: absolute;
				top: 60px;
				width: 100%;
				left: 0;
				height: 1px;
				content: '';
				background: #efefef;
			}
			.close {
				top: 10px;
			}
			.icon_search {
				display: none;
			}
			.search_info_warning {
				display: none !important;
			}
			.search_main_input {
				width: 100%;
				background: #fff;
				border: 1px solid #e5e5e5;
				height: 42px;
				line-height: 40px;
				padding: 0 20px;
				font-size: 14px;
				color: #202020;
				transition: border-color 250ms;
				margin-bottom: 16px;

				&.error {
					border-color: red !important;
				}
				@include placeholder {
					color: #bbbbbb;
					opacity: 1;
					font-size: 14px;
				}
			}
			.full_search_holder {
				display: block;
			}
			.left_search_side {
				display: block;
				width: 100%;
			}
			.simple_input,
			.simple_dropdown {
				width: 100%;
				display: block;
				margin-bottom: 12px;
				height: 42px;

				input {
					height: 42px;
					line-height: 40px;
				}
				.content {
					top: 42px;
				}
				.option {
					padding: 14px 20px;
				}
				&.icon_dates {
					position: relative;

					&:before {
						display: block;
						position: absolute;
						z-index: 2;
						color: #9c9c9c;
						font-size: 18px;
						height: 100%;
						right: 20px;
						line-height: 40px;
						pointer-events: none;
					}
				}
			}
			.buttons_for_mobile_filter {
				display: none;
				text-align: center;

				@include mobile {
					display: block !important;
				}
				.icon_search {
					display: block;
					width: 100%;
					height: 42px;
					-webkit-box-shadow: none;
					box-shadow: none;
					border: none;
					background: #3574d1;
					overflow: hidden;
					position: relative;
					margin-bottom: 12px;

					&:before {
						display: none;
					}
					span {
						height: 100%;
						text-align: center;
						color: #fff;
						font-family: "Roboto-Medium";
						font-size: 12px;
						line-height: 42px;
						text-transform: uppercase;
						padding-left: 36px;
						padding-right: 10px;
						position: relative;
						@include icon(search);

						&:before {
							position: absolute;
							height: 100%;
							line-height: 36px;
							text-align: center;
							font-size: 15px;
							color: #fff;
							top: -11px;
							width: 100%;
							display: block;
							width: 36px;
							left: 0;
						}
					}
				}
				.clear_filters {
					font-size: 14px;
					color: #9c9c9c;
					letter-spacing: 0;
					text-transform: none;
					line-height: 36px;
					height: 36px;
					font-family: "Roboto-Regular";

					&:before {
						display: block;
						position: absolute;
						left: 0;
						height: 1px;
						width: 100%;
						content: '';
						background: #9c9c9c;
						bottom: 7px;
					}
				}
			}
		}
		&.add_news {
			text-align: left;

			.heading {
				font-size: 16px;
				color: #202020;
				font-family: $medium;
				margin-bottom: 16px;
			}
			.text_container {
				padding: 15px 40px;
				border: 1px solid #efefef;
				max-height: 422px;
				position: relative;
				margin-bottom: 30px;

				@include mobile {
					display: none;
				}
			}
			.button.blue,
			.cancel_button {
				width: 100%;
				max-width: 390px;
				height: 42px;
				line-height: 42px;
				text-align: center;
			}
			.cancel_button {
				text-transform: uppercase;
				color: $grey;
				font-size: 12px;
				font-family: $bold;
				cursor: pointer;
				margin-top: 10px;
				display: inline-block;

				&:hover {

					@include no_touch {
						text-decoration: underline;
					}
				}
			}
			.buttons_block {
				text-align: center;
			}
			.edit {
			    color: #fff;
				text-decoration: none;
				text-transform: uppercase;
				font-family: "Roboto-Medium";
				font-size: 10px;
				height: 24px;
				line-height: 24px;
				display: inline-block;
				vertical-align: top;
				background: #3574d1;
				padding: 0 10px;
				cursor: pointer;
				-webkit-transition: background 250ms;
				-o-transition: background 250ms;
				transition: background 250ms;
				margin-left: 5px;
				position: absolute;
				right: 12px;
				top: 12px;
				z-index: 1;

				&:hover {

					@include no_touch {
						background: #2b60ad;
					}
				}
			}
			.additionals {
				text-align: left;
			}
			.side_photo_holder {
				position: relative;
				margin-bottom: 30px;
				display: inline-block;
				max-width: 100%;

				img {
					max-width: 100%;
				}
				.buttons {
					position: absolute;
					z-index: 1;
					top: 18px;
					right: 18px;
					font-size: 0;

					&.info {
						display: none;
					}
					&.absolute {
						display: block;
					}
					.edit {
						position: static;
						margin-right: 4px;
					}
					@include tablet {
						transform: translate3d(0,0,0);
						opacity: 1;
						pointer-events: all;
					}
					.download {
						margin-left: 5px;
						display: inline-block;
						vertical-align: top;
						height: 24px;
						width: 24px;
						border: 1px solid rgba(#fff, .5);
						transition: border-color 250ms;
						cursor: pointer;
						position: relative;
						@include icon(download);

						&:before {
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							line-height: 24px;
							text-align: center;
							color: #fff;
							font-size: 12px;
							transition: color 250ms;
						}
						&:hover {

							@include no_touch {
								border-color: rgba(#fff, 1);
							}
						}
					}
				}
				.photo_name {
					font-size: 12px;
					color: $grey;
					padding-top: 8px;
				}
			}
			.warning {
				color: $grey;
				border: 1px solid #efefef;
				padding: 10px 20px;
				font-size: 12px;
				margin-bottom: 30px;
				text-align: left;
			}
			.extra_info_block {
				float: right;
				color: $grey;
				padding-left: 15px;
				margin-bottom: 25px;

				@include burger {
					display: block;
					float: none;
					padding-left: 0;
				}
				.info {
					border-color: #efefef;
					margin-top: -2px;

					&:before {
						color: $grey;
					}
					&:hover {

						@include no_touch {
							border-color: $grey;
							background: #f9f9f9;
						}
					}
				}
			}
			.info {
				margin-left: 5px;
				display: inline-block;
				vertical-align: top;
				height: 24px;
				width: 24px;
				border: 1px solid rgba(#fff, .5);
				transition: border-color 250ms;
				cursor: pointer;
				position: relative;
				@include icon(info);
				z-index: 1;

				&:before {
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					line-height: 22px;
					text-align: center;
					color: #fff;
					font-size: 12px;
					transition: color 250ms;
				}
				.tooltip_holder {
					position: absolute;
					transition: transform 250ms, opacity 250ms;
					opacity: 0;
					transform: translate3d(0,10px,0);
					pointer-events: none;
					padding-top: 10px;
				    right: -1px;
    				top: 22px;
				}
				.tooltip {
					background: #f5f5f5;
					font-size: 14px;
					color: #202020;
					line-height: 152%;
					padding: 11px 17px;
					width: 260px;
					cursor: default;
					right: 0;
					position: relative;
					text-align: right;
					
					&:before {
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 0 3px 5px 3px;
						border-color: transparent transparent #f5f5f5 transparent;
						display: block;
						position: absolute;
						content: '';
						top: -5px;
						right: 9px;
					}
					a {
						display: block;
						text-decoration: none;
						color: $blue;

						&:hover {

							@include no_touch {
								text-decoration: underline;
							}
						}
					}
				}
				&:hover {

					@include no_touch {
						border-color: rgba(#fff, 1);

						.tooltip_holder {
							pointer-events: all;
							opacity: 1;
							transform: translate3d(0,0,0);
						}
					}
				}
				@include tablet {

					&.open {
						border-color: rgba(#fff, 1);

						.tooltip_holder {
							pointer-events: all;
							opacity: 1;
							transform: translate3d(0,0,0);
						}
					}
				}
			}
			.files_area {
				font-size: 0;
				margin: -20px -20px 10px;
				text-align: left;

				.file {
					width: 240px;
					height: 230px;
					display: inline-block;
					vertical-align: top;
					margin: 20px;
					border: 1px solid #efefef;
					position: relative;

					
					.remove {
						cursor: pointer;
						position: absolute;
						top: 0;
						right: 0;
						width: 23px;
						height: 23px;
						background: #efefef;
						@include icon(close);
						z-index: 1;
						transition: background 250ms;

						&:before {
							display: block;
							width: 23px;
							height: 23px;
							color: $black;
							text-align: center;
							line-height: 23px;
							font-size: 10px;

						}
						&:hover {

							@include no_touch {
								background: #d3d3d3;
							}
						}
					}
					.img_holder {
						width: 200px;
						height: 160px;
						margin-left: 20px;
						margin-top: 48px;

						img {
							max-width: 100%;
							max-height: 100%;
							display: block;
							margin: 0 auto;
						}
					}
					.file_holder {
						width: 240px;
						height: 230px;
						position: absolute;
						top: 0;
						left: 0;
						padding: 136px 24px 24px;
						text-align: center;
						color: $blue;
						font-size: 12px;
						@include icon(file);

						&:before {
							display: block;
							position: absolute;
							width: 100%;
							text-align: center;
							height: 54px;
							line-height: 54px;
							font-size: 54px;
							top: 59px;
							left: 0;
							color: #e5e5e5;
						}
					}
				}
			}
			.news_holder {
				padding: 15px 40px;
				border: 1px solid #efefef;
				user-select: none;
				max-height: 422px;
				position: relative;
				margin-bottom: 30px;

				@include mobile {
					max-height: none;
					padding: 0;

					.ps__rail-y {
						display: none !important;
					}
				}

				.new {
					border-bottom: 1px solid #efefef;
					padding: 10px;
					position: relative;
					min-height: 55px;
					transition: background 250ms;
					cursor: pointer;

					&:hover {
						
						@include no_touch {
							background: #f9f9f9;
						}
					}
					&.selected {
						background: rgba(#dfdfdf, .7);
					}
					.time_stamp {
						width: 72px;
						display: inline-block;
						vertical-align: top;
						color: $grey;
						margin-right: 19px;
						position: absolute;

						.time {
							font-size: 14px;
							display: block;
							margin-bottom: 0;
							font-family: $bold;
						}
						.date {
							font-size: 12px;
							line-height: 1;
						}
					}
					.name {
						padding-left: 85px;
						font-size: 14px;
						font-family: $medium;

						@include mobile {
							padding-left: 0;
							padding-top: 50px;
						}
					}
					.has_photos {
						margin-top: 1px;
					} 
					.badges {			
						font-size: 0;
						color: #fff;
						text-transform: uppercase;

						.badge {
							font-size: 10px;
							padding: 0 8px;
							display: inline-block;
							vertical-align: top;
							line-height: 18px;
							margin-right: 5px;
							margin-top: 5px;
						}
					}
				}
				.show_more_button {
					text-align: center;
					padding: 20px;
					text-transform: uppercase;
					color: $blue;
					cursor: pointer;
					font-size: 12px;
					font-family: $bold;
					display: block;
					width: 100%;
					transition: background 250ms;

					&:hover {

						@include no_touch {
							background: #f9f9f9;
						}
					}
				}
			}
		}
		&.edit_photo,
		&.edit_photo_photographer_upload {
			padding-bottom: 100px;

			.added_photos {
				pointer-events: none;
			}
			.line {
				margin: 6px 0 22px;
			}
			.simple_input.inline.icon_dates {
				width: 160px;
				position: relative;

				&:before {
					display: block;
					position: absolute;
					z-index: 1;
					pointer-events: none;
					color: #9c9c9c;
					height: 36px;
					top: 0;
					right: 20px;
					line-height: 42px;
					font-size: 18px;
				}
			}
			.simple_textarea {
				margin-bottom: 16px;
			}
		} 
	}
}