.registration_page {
	
	.simple_text.grey {
		font-size: 16px;
		color: #9c9c9c;
		margin-bottom: 39px;
		line-height: 132%;

		@include mobile {
			text-align: center;
		}
	}
	h1 {
		padding-bottom: 39px;
	}
	form {
		display: block;
		font-size: 0;

		.simple_input {
			width: calc(50% - 12px);

			@include mobile {
				width: 100%;
			}
			&.first {
				margin-right: 24px;

				@include mobile {
					margin-right: 0;
				}
			}
		}
		.radio_boxes {
			margin-bottom: 17px;

			.label {
				font-size: 16px;
				margin-bottom: 12px;
			}
		}
	}
	.line {
		margin: 17px 0 33px;
		height: 1px;
		width: 100%;
		background: #e5e5e5;
	}
	.checkboxes_box {
		width: calc(50% - 12px);
		margin-bottom: 6px;

		@include mobile {
			width: 100%;
		}
		&.left {
			margin-right: 24px;

			@include mobile {
				margin-right: 0;
				margin-bottom: 30px;
			}
		}
		.simple_checkbox {
			width: 50%;

			@include mobile {
				width: 100%;
			}
		}
	}
	.simple_textarea {
		margin-bottom: 33px;
	}
	.rules {
		
		.label {
			color: #202020;
			font-size: 16px;
			margin-bottom: 15px;
		}
		.simple_text {
			font-size: 14px;
			margin-bottom: 19px;

			@include mobile {
				text-align: left;
			}
		}
	}
	.submit_holder {
		text-align: right;

		@include mobile {

			.button {
				width: 100%;
			}
		}
	}
}