.services_page {
	position: relative;

	.shadow {
		width: 100%;
		position: absolute;
		background: #f9f9f9;
	}
	.wrapper {
		max-width: 1000px;
		position: relative;
		z-index: 1;
	}
	h1 {
		padding-bottom: 28px;

		@include mobile {
			padding-bottom: 24px;
		}
	}
	h3 {
		margin-bottom: 24px;
	}
	.price_list {

		.price {
			margin-top: 15px;
			font-size: 14px;

			.label {
				text-transform: uppercase;
				font-size: 12px;
				color: $black;
				font-family: $medium;
			}
		}
	}
	.service {
		display: flex;
		margin-bottom: 78px;

		@include mobile {
			margin-bottom: 40px;
			flex-wrap: wrap;
		}

		&:last-child {
			margin-bottom: 0;
		}
		.left,
		.right {
			display: inline-flex;
			vertical-align: top;
			min-height: 462px;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;

			@include mobile {
				min-height: 0;
				display: block;
				width: 100%;
			}
			.text_box {
				margin: auto 0;
			}
			.simple_text {
				font-size: 16px;
				color: $black;
				line-height: 153%;
			}
		}
		.button.underlined {
			color: $blue;
			margin-top: 15px;

			&:before,
			&:after {
				background: $blue;
			}
		}
		&.img_left {

			.right {
				padding-left: 110px;
				width: 52%;

				@include mobile {
					width: 100%;
					padding-left: 0;
				}
			}
			.left {
				width: 48%;

				@include mobile {
					width: 100%;
					padding-left: 0;
					height: calc((100vw - 40px) * 1.04);
					margin-bottom: 22px;
				}
			}
		}
		&.img_right {

			.left {
				padding-right: 110px;
				width: 52%;

				@include mobile {
					width: 100%;
					padding-right: 0;
					order: 2;
				}
			}
			.right {
				width: 48%;

				@include mobile {
					width: 100%;
					padding-left: 0;
					order: 1;
					height: calc((100vw - 40px) * 1.04);
					margin-bottom: 22px;
				}
			}
		}
	}
}