.shared_photo_page {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 10;
	left: 0;
	top: 0;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	transition: opacity 250ms;
	background: rgba(#000, .5);
	padding: 0px;
	transform: translate3d(0,0,0);
	opacity: 1;
	pointer-events: all;

	@include mobile {
		overflow-x: hidden;
		overflow-y: auto;
		padding: 0;
	}
	.shared_photo_holder {
		background: #fff;
		width: 100%;
		height: 100vh;
		min-height: 500px;
		position: relative;

		@include mobile {
			min-height: 100vh;
			height: auto;
			padding-bottom: 100px;
		}

		.photos_pop_head {
			border-bottom: 1px solid #efefef;
			padding: 18px 270px 18px 40px;
			position: absolute;
			top: 0;
			width: 100%;
			left: 0;
			z-index: 2;
			background: #fff;

			@include mobile {
				padding: 0;
				position: relative;
				display: flex;
				flex-wrap: wrap;
				transition: height 250ms;
			}

			.name {
				font-size: 14px;
				color: #202020;
				font-family: $medium;
				display: inline-block;
				vertical-align: top;
				line-height: 18px;
				margin-right: 30px;

				@include mobile {
					order: 2;
					padding: 15px 20px;
					margin-right: 0;
					width: 100%;
					line-height: 120%;
				}
			}

			.time_stamp {
				display: inline-block;
				vertical-align: top;
				font-size: 12px;
				color: #9c9c9c;
				line-height: 18px;

				@include mobile {
					order: 3;
					padding: 16px 20px;
					width: 130px;
					float: right;
					text-align: right;
					line-height: 120%;
					position: absolute;
					top: 0;
					right: 54px;
				}
			}

			.right_box {
				position: absolute;
				height: 100%;
				right: 0;
				top: 0;

				@include mobile {
					width: 100%;
					order: 1;
					height: 60px;
					border-bottom: 1px solid #efefef;
					padding-bottom: 20px;
					position: static;
				}

				.edit {
					color: #fff;
					text-decoration: none;
					text-transform: uppercase;
					font-family: $medium;
					font-size: 10px;
					height: 24px;
					line-height: 24px;
					display: inline-block;
					vertical-align: top;
					background: $blue;
					padding: 0 10px;
					cursor: pointer;
					transition: background 250ms;
					margin-left: 5px;
					margin-top: 15px;

					&:hover {

						@include no_touch {
							background: #3f9ee7;
						}
					}

					@include mobile {
						margin-left: 20px;
						margin-top: 18px;
					}
				}

				.delete {
					@extend .edit;
					background: transparent;
					border: 1px solid #e5e5e5;
					transition: border-color 250ms, background 250ms;
					color: $grey;

					@include mobile {
						margin-left: 5px;
					}

					&:hover {

						@include no_touch {
							border-color: $grey;
							background: #f9f9f9;
						}
					}
				}

				.download {
					margin-left: 5px;
					display: inline-block;
					vertical-align: top;
					height: 24px;
					width: 24px;
					border: 1px solid #e5e5e5;
					transition: border-color 250ms;
					cursor: pointer;
					margin-top: 15px;
					position: relative;
					@include icon(download);

					&:before {
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						line-height: 24px;
						text-align: center;
						color: #9c9c9c;
						font-size: 12px;
						transition: color 250ms;
					}

					&:hover {

						@include no_touch {
							border-color: $blue;

							&:before {
								color: $blue;
							}
						}
					}

					@include mobile {
						margin-top: 18px;
					}
				}

				.close_box {
					height: 100%;
					width: 80px;
					border-left: 1px solid #efefef;
					display: inline-block;
					vertical-align: top;
					margin-left: 18px;
					cursor: pointer;
					background: #fff;
					transition: background 250ms;
					@include icon(close);

					@include mobile {
						width: 60px;
						height: 60px;
						float: right;
						border-bottom: 1px solid #efefef;
					}

					&:hover {

						@include no_touch {
							background: #efefef;
						}
					}

					&:before {
						display: block;
						position: absolute;
						color: #202020;
						font-size: 17px;
						top: 19px;
						right: 30px;

						@include mobile {
							right: 11px;
							height: 60px;
							width: 60px;
							text-align: center;
							top: 0;
							right: 0;
							line-height: 60px;
						}
					}
				}
			}
		}
		.slider_box {
			height: 100%;
			padding: 100px 100px 27px 100px;

			@include mobile {
				padding: 20px 20px 20px 20px;
				height: auto;
			}
			.swiper-container {
				width: 100%;
				height: 100%;
				overflow: visible;

				@include mobile {
					height: auto;
				}
				.swiper-slide {
					display: inline-flex;
					flex-direction: column;
					background: #fff;
					width: calc(100vw - 200px) !important;

					@include mobile {
						width: calc(100vw - 40px) !important;
						display: inline-block;
					}
					.img_holder {
						flex-grow: 1;
						overflow: hidden;
						user-select: none;
						position: relative;

						@include mobile {
							display: block;
							height: auto;
						}
						img {
							position: absolute;
							transform: translate3d(-50%,-50%,0);
							max-height: 100%;
							max-width: 100%;
							left: 50%;
							top: 50%;

							@include mobile {
								width: 100%;
								position: static;
								transform: translate3d(0,0,0);
							}
						}
					}
					.simple_text {
						color: #202020;
						font-size: 14px;
						padding-top: 27px;
						line-height: 133%;
					}
					.name,
					.time_stamp {
						display: none;
					}
				}
			}
		}
	}
}