.sidebar_layout {
	@extend .photos_page;

	.right.layout,
	.side_pop {
		position: relative;
		min-height: calc(100vh - 254px);

		@include mobile {
			min-height: 0;
		}

		> form {
			padding: 70px 100px 65px;
			display: block;
			width: 100%;
			margin: 0 auto;
			max-width: 1005px;
			position: relative;

			@include mobile {
				padding: 25px 20px 40px;
			}
			.label {
				font-size: 16px;
				color: #202020;
				margin-bottom: 12px;
				font-family: $medium;

				&.naming {
					margin-bottom: 22px;
				}
			}
			.icon_dates {
				position: relative;

				&:before {
					display: block;
					position: absolute;
					z-index: 2;
					color: #9c9c9c;
					font-size: 18px !important;
					height: 100%;
					right: 20px;
					line-height: 40px;
					pointer-events: none;
					top: 0 !important;
				}
			}
			.line {
				margin: 6px 0 22px;
				height: 1px;
				width: 100%;
				background: #e5e5e5;

				&.big_gap {
					margin-bottom: 85px;
				}
			}
			.simple_input {
				width: 100%;

				&.inline {
					display: inline-block;
				}
			}
			.postpone {
				display: inline-block;
				width: 200px;
				padding-right: 15px;
				margin-bottom: 22px;
			}
			.simple_dropdown {

			}
			.simple_radio,
			.simple_checkbox {
				padding-top: 6px;
				margin-bottom: 22px;

				&.block {
					display: block;
				}
				&.smaller_bottom {
					margin-bottom: 6px;
				}
				&.minus_margin {
					margin-top: -10px;
				}
			}
			.multicheckboxes {
				display: none;
				padding: 0 48px 20px;

				@include mobile {

					.simple_checkbox {
						display: block;
					}
				}

				.smaller_bottom {
					margin-bottom: 0;
				}
				.simple_checkbox .name {
					padding-left: 28px;

					&:after {
						width: 18px;
						border-radius: 2px;
						height: 18px;
						top: 5px;
					}
					&:before {
						font-size: 7px;
						width: 18px;
						height: 18px;
						line-height: 18px;
						top: 6px;
					}
				}
			}
			.time_pickers {
				display: inline-block;
				vertical-align: top;
				width: calc(100% - 205px);
				font-size: 0;

				@include mobile {
					display: block;
					width: 100%;
				}
				> div {
					display: none;
				}
				.simple_input {
					display: inline-block;
					vertical-align: top;
					margin-right: 12px;

					&.icon_dates {
						width: 190px;
						position: relative;

						@include mobile {
							width: 188px;
							display: block;
						}

						input {
							padding-right: 65px;
						}
						&:before {
							display: block;
							position: absolute;
							right: 20px;
							pointer-events: none;
							color: $grey;
							font-size: 24px;
							top: 8px;
						}
					}
					&.timer {
						width: 88px;
						position: relative;	

						input {
							padding-right: 50px;
						}
						> span {
							color: $grey;
							font-size: 14px;
							line-height: 44px;
							position: absolute;
							z-index: 1;
							pointer-events: none;
							right: 17px;
						}
					}
				}
			}
			.checkboxes_box {
				width: calc(50% - 15px);

				@include mobile {
					display: block;
					width: 100%;
				}
				&:first-child {
					margin-right: 30px;

					@include mobile {
						margin-right: 0;
					}
				}
				&.small_paddings {

					.simple_checkbox .name {
						padding-right: 18px;
						padding-left: 41px;
					}
				}
			}
			.editor {
				margin-bottom: 22px;
			}
			.row {
				font-size: 0;

				.col {
					width: calc(50% - 15px);
					display: inline-block;
					vertical-align: top;

					&:first-child {
						margin-right: 30px;
					}
					@include mobile {
						display: block;
						width: 100%;

						&:first-child {
							margin-right: 0px;
						}
					}
				}
				&.mb20 {
					margin-bottom: 20px;

					&:nth-last-child(2) {
						margin-bottom: 0;
					}
				}
				&.full {
					width: 100%;
					display: block;

					.checkboxes_box {
						display: block;
						width: 100%;
						margin-right: 0;
					}
				}
			}
		}
	}
	&.no_filter {
		padding-top: 78px;
		min-height: calc(100vh - 79px);

		@include burger {
			padding-top: 60px;
		}
		section.filter {
			display: none;
		}
		section.photos {
			border-top: none;

			// .left {
			// 	min-height: calc(100vh - 157px);

			// 	@include burger {
			// 		min-height: calc(100vh - 139px);
			// 	}
			// }
			// .right {
			// 	height: calc(100vh - 157px);

			// 	@include burger {
			// 		height: calc(100vh - 139px);
			// 	}
			// 	@include mobile {
			// 		height: auto;
			// 	}
			// }
		}
	}
	.added_photos {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -20px;

		.photo_block {
			display: inline-block;
			vertical-align: top;
			width: 240px;
			margin: 0 20px 20px 20px;

			.photo_holder {
				width: 100%;
				height: 230px;
				border: 1px solid #efefef;
				position: relative;

				&.add_photo {
					display: flex;
					user-select: none;
					cursor: pointer;
					transition: background 250ms;
					margin-bottom: 20px;

					> span {
						display: block;
						margin: auto;
						font-size: 12px;
						color: $grey;
						font-family: $bold;
						text-transform: uppercase;
						padding-top: 90px;
						position: relative;

						&:before {
							display: block;
							border-radius: 50%;
							position: absolute;
							content: '+';
							height: 72px;
							width: 72px;
							margin-left: -36px;
							left: 50%;
							background: #e5e5e5;
							color: #bbbbbb;
							line-height: 72px;
							text-align: center;
							font-size: 18px;
							top: 0;
						}
					}
					&:hover {

						@include no_touch {
							background: #f9f9f9;
						}
					}
				}
				.img_holder {
					width: 200px;
					height: 160px;
					margin-left: 20px;
					margin-top: 48px;

					img {
						max-width: 100%;
						max-height: 100%;
						display: block;
						margin: 0 auto;
					}
				}
				.remove {
					cursor: pointer;
					position: absolute;
					top: 0;
					right: 0;
					width: 23px;
					height: 23px;
					background: #efefef;
					@include icon(close);
					transition: background 250ms;

					&:before {
						display: block;
						width: 23px;
						height: 23px;
						color: $black;
						text-align: center;
						line-height: 23px;
						font-size: 10px;

					}
					&:hover {

						@include no_touch {
							background: #d3d3d3;
						}
					}
				}
				.buttons {
					position: absolute;
					top: 12px;
					left: 12px;

					.info {
						margin-right: 5px;
						display: inline-block;
						vertical-align: top;
						height: 24px;
						width: 24px;
						border: 1px solid #efefef;
						transition: border-color 250ms, background 250ms;
						cursor: pointer;
						position: relative;
						@include icon(info);
						z-index: 1;

						&:before {
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							line-height: 22px;
							text-align: center;
							color: $grey;
							font-size: 12px;
							transition: color 250ms;
						}
						.tooltip {
							position: absolute;
							background: #f5f5f5;
							font-size: 10px;
							color: #202020;
							line-height: 152%;
							padding: 11px 17px;
							width: 216px;
							cursor: default;
							left: -1px;
							top: 35px;
							transition: transform 250ms, opacity 250ms;
							opacity: 0;
							transform: translate3d(0,10px,0);
							pointer-events: none;

							&:before {
								width: 0;
								height: 0;
								border-style: solid;
								border-width: 0 3px 5px 3px;
								border-color: transparent transparent #f5f5f5 transparent;
								display: block;
								position: absolute;
								content: '';
								top: -5px;
								left: 9px;
							}
						}
						&:hover {

							@include no_touch {
								border-color: $grey;
								background: #f9f9f9;

								.tooltip {
									opacity: 1;
									transform: translate3d(0,0,0);
								}
							}
						}
						@include tablet {

							&.open {
								border-color: $grey;
								background: #f9f9f9;

								.tooltip {
									opacity: 1;
									transform: translate3d(0,0,0);
								}
							}
						}
					}
					.edit {
						color: #fff;
						text-decoration: none;
						text-transform: uppercase;
						font-family: $medium;
						font-size: 10px;
						height: 24px;
						line-height: 24px;
						display: inline-block;
						vertical-align: top;
						background: $blue;
						padding: 0 10px;
						cursor: pointer;
						transition: background 250ms;
						margin-left: 2px;

						&.top_button {
							margin-left: 0;
							margin-right: 10px;
							height: 18px;
							line-height: 18px;
						}
						&:hover {

							@include no_touch {
								background: #3f9ee7;
							}
						}
					}
				}
			}
			.name {
				font-size: 12px;
				color: $grey;
				padding-top: 13px;
			}
		}
	}
	.form_buttons {
		font-size: 0;
		text-align: right;

		@include mobile {
			text-align: center;
			display: flex;
			flex-direction: column;
		}
		> *:not(.error_message) {
			display: inline-block;
			vertical-align: top;
			margin-left: 12px;

			@include mobile {
				width: 100% !important;
				margin-bottom: 12px;
				margin-left: 0;
			}
			&.blue {
				width: auto;
				padding: 0 40px;
				height: 48px;
				line-height: 46px;
				order: 1;
			}
			&.delete {
				padding: 0 8px;
				line-height: 48px;
				cursor: pointer;
				font-size: 12px;
				color: #d50000;
				font-family: $bold;
				text-transform: uppercase;
				user-select: none;

				@include mobile {
					order: 3;
				}

				&:hover {

					@include no_touch {
						text-decoration: underline;
					}
				}
			}
		}
		.simple_checkbox.inline {
			 padding-top: 9px !important;
			 float: left;
			 margin-left: 0;
		}
	}
	.add_another,
	.add_another_removable {
		height: 24px;
		line-height: 22px;
		text-align: center;
		padding: 0 13px;
		text-transform: uppercase;
		font-size: 10px;
		color: $blue;
		border: 1px solid $blue;
		cursor: pointer;
		transition: background 250ms;
		display: inline-block;
		margin-bottom: 16px;
		margin-top: 10px;
		font-family: $medium;
		user-select: none;

		&:hover {

			@include no_touch {
				background: #f4f8ff;
			}
		}
		&.minus_margin {
			margin-top: -20px;
		}
	}
	.subheader {
		position: absolute;
		top: 26px;
		right: 100px;

		@include mobile {
			top: 18px;
			right: auto;
			left: 20px;
			position: static;
			margin-bottom: 20px;
		}
		.history {
			height: 30px;
			line-height: 30px;
			color: $grey;
			text-transform: uppercase;
			letter-spacing: 0;

			@include mobile {
				
			}
			&:before,
			&:after {
				background: $grey;
				bottom: 4px;
			}
		}
		.add_manager_holder {
			display: inline-block;
			vertical-align: top;
			margin-left: 20px;
			position: relative;
			height: 50px;

			@include mobile {
				margin-left: 0;
				margin-top: 12px;
				display: block;
			}
		}
		.add_manager {
			height: 30px;
			line-height: 30px;
			padding: 0 13px;
			width: auto;
		}
		.added_manager {
			position: absolute;
			bottom: 0;
			font-size: 11px;
			color: #bbbbbb;
			display: none;
		}
	}
	.drag_and_drop {

		label {
			display: block;
			position: relative;
			cursor: pointer;
			overflow: hidden;
			padding: 50px;
			border: 1px dashed #efefef;
			margin-bottom: 43px;
			transition: background 250ms;

			@include mobile {
				padding: 20px;
			}
			&:hover {
				
				@include no_touch {
					background: #f9f9f9;
				}
			}
			&.hidden {
				max-height: 0 !important;
				padding: 0;
				border: none;
				margin: 0;
			}
			input {
				position: absolute;
				display: block;
				width: 200%;
				height: 200%;
				top: -50%;
				left: -50%;
				opacity: 0;
				cursor: pointer;
			}
			.texts {
				display: block;
				margin: 0 auto;
				max-width: 320px;
				padding-top: 65px;
				text-align: center;
				@include icon(drag);
				position: relative;
				pointer-events: none;

				&:before {
					display: block;
					position: absolute;
					font-size: 48px;
					line-height: 48px;
					width: 100%;
					text-align: center;
					top: 0;
					color: #efefef;
				}
				.big {
					font-size: 30px;
					color: $grey;
					font-family: $medium;
					display: block;
					margin-bottom: 15px;
				}
				.small {
					display: block;
					font-size: 14px;
					color: $grey;
					line-height: 177%;

					.blue {
						color: $blue;
						text-decoration: underline;
					}
				}
			}
		}
		.uploaded_area {
			font-size: 0;
			margin: -20px -20px 0;

			.file {
				width: 240px;
				display: inline-block;
				vertical-align: top;
				margin: 20px;
				
				.border {
					width: 240px;
					height: 230px;
					border: 1px solid #efefef;
					position: relative;
				}
				.buttons {
					position: absolute;
					top: 12px;
					left: 12px;
					z-index: 2;

					.info {
						margin-right: 5px;
						display: inline-block;
						vertical-align: top;
						height: 24px;
						width: 24px;
						border: 1px solid #efefef;
						transition: border-color 250ms, background 250ms;
						cursor: pointer;
						position: relative;
						@include icon(info);
						z-index: 1;

						&:before {
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							line-height: 22px;
							text-align: center;
							color: $grey;
							font-size: 12px;
							transition: color 250ms;
						}
						.tooltip {
							position: absolute;
							background: #f5f5f5;
							font-size: 10px;
							color: #202020;
							line-height: 152%;
							padding: 11px 17px;
							width: 216px;
							cursor: default;
							left: -1px;
							top: 35px;
							transition: transform 250ms, opacity 250ms;
							opacity: 0;
							transform: translate3d(0,10px,0);
							pointer-events: none;

							&:before {
								width: 0;
								height: 0;
								border-style: solid;
								border-width: 0 3px 5px 3px;
								border-color: transparent transparent #f5f5f5 transparent;
								display: block;
								position: absolute;
								content: '';
								top: -5px;
								left: 9px;
							}
						}
						&:hover {

							@include no_touch {
								border-color: $grey;
								background: #f9f9f9;

								.tooltip {
									opacity: 1;
									transform: translate3d(0,0,0);
								}
							}
						}
						@include tablet {

							&.open {
								border-color: $grey;
								background: #f9f9f9;

								.tooltip {
									opacity: 1;
									transform: translate3d(0,0,0);
								}
							}
						}
					}
					.edit {
						color: #fff;
						text-decoration: none;
						text-transform: uppercase;
						font-family: $medium;
						font-size: 10px;
						height: 24px;
						line-height: 24px;
						display: inline-block;
						vertical-align: top;
						background: $blue;
						padding: 0 10px;
						cursor: pointer;
						transition: background 250ms;
						margin-left: 2px;

						&.top_button {
							margin-left: 0;
							margin-right: 10px;
							height: 18px;
							line-height: 18px;
						}
						&:hover {

							@include no_touch {
								background: #3f9ee7;
							}
						}
					}
				}
				.name {
					font-size: 12px;
					color: #9c9c9c;
					padding-top: 13px;
				}
				.remove {
					cursor: pointer;
					position: absolute;
					top: 0;
					right: 0;
					width: 23px;
					height: 23px;
					background: #efefef;
					@include icon(close);
					z-index: 1;
					transition: background 250ms;

					&:before {
						display: block;
						width: 23px;
						height: 23px;
						color: $black;
						text-align: center;
						line-height: 23px;
						font-size: 10px;

					}
					&:hover {

						@include no_touch {
							background: #d3d3d3;
						}
					}
				}
				.img_holder {
					width: 200px;
					height: 160px;
					margin-left: 20px;
					margin-top: 48px;

					img {
						max-width: 100%;
						max-height: 100%;
						display: block;
						margin: 0 auto;
					}
				}
				.file_holder {
					width: 240px;
					height: 230px;
					position: absolute;
					top: 0;
					left: 0;
					padding: 136px 24px 24px;
					text-align: center;
					color: $blue;
					font-size: 12px;
					@include icon(file);

					&:before {
						display: block;
						position: absolute;
						width: 100%;
						text-align: center;
						height: 54px;
						line-height: 54px;
						font-size: 54px;
						top: 59px;
						left: 0;
						color: #e5e5e5;
					}
				}
			}
		}
	}
	.scrollable_container {
		padding: 20px 60px 20px 37px; 
		border: 1px solid #efefef;
		height: 330px;
		color: #202020;
		font-size: 16px;
		line-height: 120%;
		overflow-x: hidden;
		overflow-y: auto;
		position: relative;
		margin-bottom: 22px;

		p {
			padding: 1.2em 0;
		}
	}
	.disabled_fields {
		position: relative;

		&:after {
			position: absolute;
			display: block;
			top: -70px;
			left: 0;
			height: calc(100% + 70px);
			width: 100%;
			content: '';
			z-index: 2;
			background: rgba(#fff, .6);
			pointer-events: all;
		}
		.subheader {
			margin-top: -70px;
			margin-right: -100px;

			.button.blue {
				background: #f0f0f0;
			}
		}
		input {
			background: #f0f0f0;
		}
		.simple_checkbox .name,
		.simple_radio .name {

			&:after {
				background: #f0f0f0;
			}
		}
		* {
			pointer-events: none;
			user-select: none;
		}
	}
	&.no_sidebar section.photos {

		.left {
			display: none !important;
		}
		.right {
			width: 100%;
		}
		.mobile_filter_toggler {
			display: none !important;
		}
	}
	.copy_text {
		display: inline-block;
		vertical-align: top;
		text-transform: uppercase;
		margin-bottom: 25px;
		cursor: pointer;
		font-family: $medium;
		font-size: 10px;
		color: $grey;
		line-height: 18px;
		height: 18px;
		border: 1px solid $grey;
		padding: 0 6px;
		user-select: none;
		transition: background 250ms;

		&:hover {

			@include no_touch {
				background: #f9f9f9;
			}
		}
	}
	textarea[name="clipboard"] {
		opacity: 0;
		pointer-events: none;
		width: 0;
		height: 0;
		position: absolute;
	}
}
.predefined_page .time_pickers > div {
	display: block !important;
}
.translator_new_page input[name="name_read"],
.translator_new_page input[name="keywords_read"] {
	margin-bottom: 12px;
}
.translator_photo_page {
	@extend .translator_new_page;

	.added_photos {

		.photo_block .photo_holder .buttons {
			left: auto;
			right: 12px;
		}
	}
}

.inner_user_page,
.manager_settings_page {
	
	section.filter.full {
		
		.search {
			width: calc(100% - 450px);
		}
	}
	.simple_textarea {
		margin-bottom: 16px;

		textarea {
			height: 132px;
		}
	}
	.form_buttons {

		.button.blue {
			width: 240px;
		}
	}
}
.redactor_page,
.translator_new_page,
.guide_page {

	.col.aligned {

		label {
			width: 33.33%;

			@include mobile {
				width: 50%;
			}
		}
	}
	.button_space {
		height: 46px;
		text-align: right;

		.add_more_news {
			display: inline-block;
			text-align: center;
			padding: 0 15px;
			height: 24px;
			line-height: 24px;
			text-transform: uppercase;
			color: #fff;
			font-size: 10px;
			font-family: $medium;
			cursor: pointer;
			user-select: none;
			background: $blue;
			transition: background 250ms;

			&:hover {

				@include no_touch {
					background: #2b60ad;
				}
			}
		}
	}
	.tv_hiddeable {
		display: none;
	}
}
.press_release_page {

	.right.layout > form .calendar_hideable {
		display: none;
		
		.simple_input {
			display: inline-block;
			vertical-align: top;
			margin-right: 12px;

			&.icon_dates {
				width: 186px;
				position: relative;

				@include mobile {
					width: 188px;
					display: block;
				}

				input {
					padding-right: 65px;
				}
				&:before {
					display: block;
					position: absolute;
					right: 20px;
					pointer-events: none;
					color: $grey;
					font-size: 24px;
					top: 8px;
				}
			}
			&.timer {
				width: 88px;
				position: relative;	

				input {
					padding-right: 50px;
				}
				&.minutes {
					margin-right: 0;
				}
				> span {
					color: $grey;
					font-size: 14px;
					line-height: 44px;
					position: absolute;
					z-index: 1;
					pointer-events: none;
					right: 17px;
				}
			}
		}
	}
}