.simple_tooltip {
	display: inline-block;
	width: 24px;
	height: 24px;
	border: 1px solid #efefef;
	@include icon(info);
	position: relative;
	margin-left: 6px;
	margin-bottom: -6px;
	cursor: pointer;
	transition: border-color 250ms;

	&:before {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		line-height: 22px;
		text-align: center;
		font-size: 14px;
		transition: color 250ms;
		color: #9c9c9c;
	}
	.content {
		position: absolute;
		background: $blue;
		width: 130px;
		bottom: 36px;
		right: -9px;
		color: #fff;
		padding: 8px 16px;
		font-size: 10px;
		line-height: 150%;
		pointer-events: none;
		transition: opacity 250ms, transform 250ms;
		opacity: 0;
		transform: translate3d(0,-10px,0);

		&:before {
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 6px 4px 0 4px;
			border-color: #3574d1 transparent transparent transparent;
			content: '';
			bottom: -6px;
			right: 16px;
			position: absolute;
		}
	}
	&:hover {

		@include no_touch {
			border-color: $blue;
			z-index: 1;

			&:before {
				color: $blue;
			}
			.content {
				opacity: 1;
				transform: translate3d(0,0,0);
			}
		}
	}
	@media screen and (max-width: 1024px) {
		
		&.open {
			border-color: $blue;
			z-index: 1;

			&:before {
				color: $blue;
			}
			.content {
				opacity: 1;
				transform: translate3d(0,0,0);
			}
		}
	}
}