.simple_pager {
	margin: 27px auto 50px;
	display: block;
	font-size: 0;
	user-select: none;

	@include mobile {
		margin-bottom: 25px;
	}

	.page_link {
		display: inline-block;
		vertical-align: top;
		margin: 0 5px;
		cursor: pointer;
		text-decoration: none;
		height: 42px;
		line-height: 40px;
		border: 1px solid #e5e5e5;
		transition: border-color 250ms, color 250ms;
		color: $grey;
		text-align: center;
		padding: 0 15px;
		font-size: 16px;
		font-family: $medium;

		&:hover {

			@include no_touch {
				color: $blue;
				border-color: $blue;
			}
		}
		&.current {
			color: $blue;
			border-color: $blue;
			pointer-events: none;
		}
	}
	> span {
		width: 30px;
		display: inline-block;
		text-align: center;
		font-size: 18px;
		color: $grey;
		margin-top: 9px;
	}
}
.pager_holder {
	text-align: center;
	display: block;
	width: 100%;
}