.subscribe_page {
	@extend .registration_page;
	
	.wrapper {
		max-width: 830px;
	}
	.simple_text.grey {
		text-align: center;
	}
	.simple_dropdown {
		height: 42px;
		margin-bottom: 12px;

		input {
			line-height: 40px;
			height: 42px;
		    border: 1px solid #e5e5e5;
		}
		.content {
			border-color: #e5e5e5;
			top: 42px;

			.option {
				border-color: #e5e5e5;
				padding: 14px 20px;
			}
		}
	}
	.keywords_hider {
		display: none;
		padding-top: 12px;
	}
	.add_another,
	.add_another_removable {
		height: 24px;
		line-height: 22px;
		text-align: center;
		padding: 0 13px;
		text-transform: uppercase;
		font-size: 10px;
		color: $blue;
		border: 1px solid $blue;
		cursor: pointer;
		transition: background 250ms;
		display: inline-block;
		margin-bottom: 16px;
		margin-top: 10px;
		font-family: $medium;
		user-select: none;

		&:hover {

			@include no_touch {
				background: #f4f8ff;
			}
		}
		&.minus_margin {
			margin-top: -20px;
		}
	}
	.row {
		font-size: 0;
		// min-height: 58px;

		@include mobile {
			margin: 12px 0;
		}

		.col {
			display: inline-block;
			vertical-align: top;

			@include mobile {
				display: block;
				width: 100% !important;
				padding-right: 0 !important;
			}
			> * {
				width: 100%;
			}
			&:first-child {
				width: 50%;
				padding-right: 10px;

				@include mobile {
					padding-right: 0;
				}
			}
			&:nth-child(2) {
				width: 50%;
				padding-left: 10px;

				@include mobile {
					padding-left: 0;
				}
			}
		}
		&.bottom {
			
			@include mobile {
				margin-bottom: 0;
				min-height: 0;

				.simple_checkbox {
					margin-bottom: 0;
				}
			}
			.col {

				&:first-child {
					width: 66%;
					padding-top: 0;
					padding-right: 12px;
				}
				&:nth-child(2) {
					width: 34%;
					padding-right: 0;
				}
			}
		}
	}
}