.success_page {
	
	.wrapper {
		display: flex;
		min-height: calc(100vh - 307px);
		text-align: center;

		@include mobile {
			min-height: calc(100vh - 204px);
		}
		.center {
			margin: auto;
			max-width: 700px;
			padding-top: 132px;
			position: relative;
			@include icon(check);

			@include mobile {
				padding-top: 109px;
			}

			&:before {
				display: block;
				position: absolute;
				width: 96px;
				height: 96px;
				margin-left: -48px;
				left: 50%;
				text-align: center;
				line-height: 96px;
				top: 0;
				color: $blue;
				font-size: 20px;
			}
			&:after {
				display: block;
				position: absolute;
				top: 0;
				width: 96px;
				height: 96px;
				margin-left: -48px;
				left: 50%;
				border: 1px solid $blue;
				border-radius: 50%;
				content: '';
			}
			.heading {
				color: $black;
				font-family: $medium;
				font-size: 24px;
				margin-bottom: 22px;
			}
			.simple_text {
				font-size: 16px;
				color: #9c9c9c;
				line-height: 160%;
				margin-bottom: 31px;
			}
			.button {
				color: $blue;
				letter-spacing: 0;
				text-transform: none;
				font-size: 14px;

				&:before,
				&:after {
					background: $blue;
				}
			}
		}
	}
}