.simple_table {
	margin: 20px 0;

	@include mobile {
		width: 100%;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}
	table {
		min-width: 100%;
	}
	tr {
		
		th {
			border: 1px solid rgba(#292929, .5);
			padding: 16px 20px;
			text-align: left;
		}
		td {
			border: 1px solid #efefef;
			padding: 16px 20px;
			text-align: left;
		}
		&:nth-child(odd) {
			
			td {
				background: #f9f9f9;
			}
		}
	}
}