.text_page {
	
	h1 {
		padding-bottom: 28px;
	}
	h2 {
		padding-top: 0;
	}
	.simple_text,
	p {
		color: $black;
		font-size: 16px;
		line-height: 153%;
		margin-bottom: 40px;

		@include mobile {
			margin-bottom: 30px;
		}
		a {
			text-decoration: none;
			color: $blue;

			&:hover {
				text-decoration: underline;
			}
		}
	}
	.gallery-top {
		height: 420px;
		width: 100%;
		position: relative;

		@include mobile {
			height: calc((100vw - 40px) * 0.6);
		}
		.swiper-slide {
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}
		// &:before {
		// 	display: block;
		// 	position: absolute;
		// 	z-index: 2;
		// 	width: 100%;
		// 	top: 0;
		// 	left:0;
		// 	height: 100%;
		// 	content: '';
		// 	background: -moz-linear-gradient(left,  rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,0) 70%, rgba(0,0,0,0.6) 100%); /* FF3.6-15 */
		// 	background: -webkit-linear-gradient(left,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,0) 70%,rgba(0,0,0,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
		// 	background: linear-gradient(to right,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,0) 70%,rgba(0,0,0,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		// }
		.swiper-button-next,
		.swiper-button-prev {
			position: absolute;
			z-index: 3;
			bottom: 0;
			top: auto;
			height: 100%;
			width: 74px;
			cursor: pointer;
			background-size: 37px 22px;

			&.swiper-button-disabled {
				opacity: 0;
			}
			@include mobile {
				height: 40px;
				width: 40px;
				top: 22px;
				background: rgba(#000, 0.1);

				&:before {
					display: block;
					position: absolute;
					color: #fff;
					font-size: 44px;
					line-height: 44px;
					height: 44px;
					text-align: center;
					width: 24px;
					margin-left: -12px;
					margin-top: -22px;
					top: 50%;
					left: 50%;
					transition: transform 250ms;
					transform: translate3d(0,0,0) scale(0.5);
				}
			}
		}
		.swiper-button-next {
			right: 0;
			left: auto;

			@include mobile {
				@include icon(arrow_right);
			}
		}
		.swiper-button-prev {
			left: 0;
			right: auto;

			@include mobile {
				@include icon(arrow_left);
			}
		}
	}
	.gallery-thumbs {
		height: 120px;
		background: #292929;
		padding: 12px;
		margin-bottom: 40px;

		@include mobile {
			height: 100px;
		}
		.swiper-wrapper {
			height: 100%;

			.swiper-slide {
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				width: 140px;
				position: relative;
				cursor: pointer;

				@include mobile {
					width: 100px;
				}
				&:before {
					display: block;
					position: absolute;
					content: '';
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					background: rgba(0,0,0,.3);
					transition: background 250ms;
				}
				&:after {
					display: block;
					position: absolute;
					content: '';
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					border: 4px solid $blue;
					box-sizing: border-box;
					opacity: 0;
					transition: opacity 250ms;
				}
				&:hover {
					
					@include no_touch {

						&:before {
							background: rgba(0,0,0,0);
						}
					}
				}
				&.swiper-slide-active {

					&:before {
						background: rgba(0,0,0,0);
					}
					&:after {
						opacity: 1;
					}
				}
			}
		}
	}
	table {
		width: 100%;
		text-align: left;
		font-size: 12px;
		color: #292929;
		font-family: $medium;
		margin-bottom: 40px;

		tr {

			td {
				border-top: 1px solid #efefef;
				padding: 25px 20px 25px 0;
			}
			&:last-child {

				td {
					border-bottom: 1px solid #efefef;
					padding-right: 0;
				}
			}
		}
	}
	ul {
		margin: 0;
		padding: 0;
		margin-bottom: 40px;
		list-style-type: none;
		color: $black;
		
		li {
			padding: 9px 0;
			padding-right: 30px;
			padding-left: 17px;
			position: relative;
			font-size: 14px;
			line-height: 132%;

			&:before {
				display: block;
				position: absolute;
				left: 0;
				content: '';
				width: 8px;
				height: 8px;
				background: $blue;
				border-radius: 50%;
				top: 12px;
			}
		}
	}
	.qoute {
		font-size: 30px;
		font-family: $medium;
		color: #202020;
		text-align: center;
		margin: 65px auto;
		line-height: 120%;
		padding: 20px 0;
		position: relative;

		@include mobile {
			font-size: 24px;
			padding-bottom: 0;
			margin: 45px auto;
		}
		span {
			position: relative;
			z-index: 1;
		}
		&:before {
			display: block;
			content: '';
			position: absolute;
			height: 100%;
			top: 0;
			width: 100%;
			left: 0;
			background: url('../media/images/qoute.svg') no-repeat center;
			background-size: contain;

			@include mobile {
				width: 120px;
				height: 90px;
				margin-left: -60px;
				left: 50%;
			}
		}
	}
	.clients_grid {
		font-size: 0;
		margin-bottom: 40px;
		text-align: center;

		@include mobile {
			text-align: left;
			margin-bottom: 20px;
			margin-top: 30px;
		}
		.img_holder {
			display: inline-flex;
			vertical-align: top;
			margin: 10px;
			width: 145px;
			height: 100px;

			@include mobile {
				width: calc(33.33% - 7px);
				height: 55px;
				margin: 0;
				margin-bottom: 10px;

				&:nth-child(3n + 2) {
					margin-left: 10px;
					margin-right: 10px;
				}
			}
			img {
				max-width: 95px;
				max-height: 45px;
				width: auto;
				height: auto;
				margin: auto;

				@include mobile {
					max-width: 85%;
				}
			}
		}
	}
	.history_grid {
		margin-top: 25px;

		@include mobile {
			margin-top: 10px;
		}
		.history {
			height: 96px;
			margin-bottom: 102px;
			position: relative;
			font-size: 0;

			@include mobile {
				height: auto;
				margin-bottom: 85px;
			}

			&:after {
				height: 78px;
				width: 1px;
				content: '';
				display: block;
				position: absolute;
				background: #efefef;
				top: 108px;
				left: 48px;

				@include mobile {
					top: auto;
					bottom: -66px;
					left: 50%;
					height: 42px;
				}
			}
			&:last-child {
				margin-bottom: 0;

				&:after {
					display: none;
				}
			}
			.years {
				border-radius: 50%;
				border: 1px solid #efefef;
				width: 96px;
				height: 96px;
				line-height: 96px;
				text-align: center;
				color: #9c9c9c;
				font-size: 16px;
				position: relative;
				display: inline-block;
				vertical-align: top;

				@include mobile {
					margin: 0 auto 20px;
					display: block;
				}
				&:before {
					position: absolute;
					z-index: -1;
					border-radius: 50%;
					top: 5px;
					left: 5px;
					width: 84px;
					height: 84px;
					content: '';
					display: block;
					background: #efefef;
				}
			}
			.simple_text {
				width: calc(100% - 137px);
				display: inline-flex;
				vertical-align: top;
				margin: 0;
				margin-left: 39px;
				height: 100%;

				@include mobile {
					margin-left: 0;
					height: auto;
					display: block;
					width: 100%;
					text-align: center;
				}
				span {
					display: block;
					margin: auto 0;
				}
			}
		}
	}
	&.conference_page {
		
		ul {
			margin-bottom: 0;
			font-size: 0;

			li {
				display: inline-block;
				vertical-align: top;
				width: 50%;

				@include mobile {
					width: 100%;
					display: block;
				}
			}
		}
	}
	img {
		max-width: 100%;
		margin: 0 auto 40px;
		display: block;

		@include mobile {
			margin-bottom: 30px;
		}
	}
	&.about_page {
		position: relative;

		.wrapper {
			position: relative;
			z-index: 1;
		}
		.shadow {
			background: #f9f9f9;
			position: absolute;
			width: 100%;
			left: 0;
		}
	}
	section.video {
		padding-bottom: 40px;

		@include mobile {
			padding-bottom: 20px;
		}
		.wrapper {
			position: relative;
		}
		.poster {
			position: relative;
			padding-top: 58%;
			cursor: pointer;

			&:after {
				display: block;
				position: absolute;
				content: '';
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				z-index: 2;
				background: rgba(0,0,0,.35);
				transition: background 300ms;
			}
			.img {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}
			.play {
				position: absolute;
				width: 70px;
				height: 70px;
				margin-top: -35px;
				margin-left: -35px;
				top: 50%;
				left: 50%;
				pointer-events: none;
				border: 2px solid #fff;
				z-index: 3;
				border-radius: 50%;

				&:after {
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 5px 0 5px 6px;
					border-color: transparent transparent transparent #ffffff;
					display: block;
					content: '';
					position: absolute;
					left: 31px;
					top: 50%;
					margin-top: -5px;
				}
			}
			&:hover {

				@include no_touch {
					
					&:after {
						background: rgba(0,0,0,.45);
					}
				}	
			}
		}
	}
}