.title_page {
	padding-top: 0;
	padding-bottom: 0;
	position: relative;

	h2 {
		padding-bottom: 60px;
		padding-top: 80px;
		font-size: 36px;

		@include mobile {
			font-size: 24px;
			padding-top: 38px;
			padding-bottom: 30px;
		}
		&.name_after_video {
			padding-top: 40px;

			@include mobile {
				padding-top: 20px;
			}
		}
	}
	&:before {
		display: block;
		position: absolute;
		content: '';
		width: 100%;
		height: 100vh;
		background: #000;
		top: 0;
		left: 0;
	}
	section {
		position: relative;
		z-index: 1;
	}
	section.hero {
		height: 100vh;
		min-height: 600px;
		position: relative;
		background: #000;
		transition: opacity 3s;
		opacity: 0;

		&.opacity {
			opacity: 1;
		}
		@include mobile {
			min-height: 100vh;
		}

		.visuals,
		.texts {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			transition: opacity 500ms;
			opacity: 1;

			&.gone {
				opacity: 0;
			}
			.swiper-slide {
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
				display: inline-flex;

				.text_holder {
					margin: auto 0 auto 128px;
					color: #fff;
					max-width: 450px;
					padding: 100px 0;

					@include mobile {
						margin: auto 0;
						padding: 50px 20px;
					}
					.name {
						font-family: $medium;
						font-size: 60px;
						margin-bottom: 17px;

						@include mobile {
							font-size: 36px;
							margin-bottom: 12px;
						}
					}
					.simple_text {
						font-size: 16px;
						line-height: 160%;
						margin-bottom: 26px;

						@include mobile {
							font-size: 16px;
							margin-bottom: 18px;
						}
					}
				}
			}
			.swiper-pagination {
				width: auto;
				left: 128px;
				bottom: 17px;

				@include mobile {
					left: 50%;
					transform: translate3d(-50%,0,0);
				}
			}
			.swiper-pagination-bullet {
				margin: 0;
				background: none;
				position: relative;
				opacity: 1;
				padding: 5px;
				width: 18px;
				height: 18px;

				&:after {
					position: absolute;
					display: block;
					content: '';
					background: rgba(255, 255, 255, 0.3);
					transition: background 250ms;
					border-radius: 50%;
					width: 8px;
					height: 8px;
				}
				&:before {
					display: block;
					position: absolute;
					z-index: 1;
					border: 2px solid #fff;
					border-radius: 50%;
					content: '';
					width: 12px;
					height: 12px;
					margin-top: -6px;
					margin-left: -6px;
					top: 50%;
					left: 50%;
					transition: transform 250ms;
					transform: translate3d(0,0,0) scale(0);
				}
				&:hover {

					@include no_touch {

						&:before {
							transform: translate3d(0,0,0) scale(1);
						}
						&:after {
							background: rgba(255, 255, 255, 0);
						}
					}
				}
				&.swiper-pagination-bullet-active {

					&:before {
						transform: translate3d(0,0,0) scale(1);
					}
					&:after {
						background: rgba(255, 255, 255, 0);
					}
				}
			}
		}
		.visuals {

			.swiper-slide {
				position: relative;

				&:before {
					display: block;
					position: absolute;
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
					content: '';
					background: rgba(0,0,0,.4);
				}
			}
		}
		.texts {

			.swiper-wrapper {
				transition-timing-function: cubic-bezier(.18,1,.34,1.07) !important;

				.swiper-slide {
					transition: opacity 2s;
					opacity: 0;

					&.swiper-slide-active {
						opacity: 1;
					}
				}
			}
		}
	}
	section.video {
		padding-top: 80px;
		padding-bottom: 40px;

		@include mobile {
			padding-top: 40px;
			padding-bottom: 20px;
		}
		.wrapper {
			position: relative;
		}
		.poster {
			position: relative;
			padding-top: 42%;
			cursor: pointer;

			&:after {
				display: block;
				position: absolute;
				content: '';
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				z-index: 2;
				background: rgba(0,0,0,.35);
				transition: background 300ms;
			}
			.img {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}
			&:hover {

				@include no_touch {
					
					&:after {
						background: rgba(0,0,0,.45);
					}
				}	
			}
		}
		h2 {
			color: #fff;
			z-index: 3;
			position: absolute;
			display: block;
			height: 154px;
			top: 50%;
			margin: 0;
			padding: 0;
			margin-top: -77px;
			padding: 40px;	
			text-align: center;
			width: calc(100% - 80px);
			pointer-events: none;

			span {
				position: relative;
				padding-left: 98px;
				line-height: 74px;

				&:before {
					position: absolute;
					left: 0;
					top: -16px;
					border: 2px solid #fff;
					border-radius: 50%;
					width: 72px;
					height: 72px;
					display: block;
					content: '';
				}
				&:after {
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 5px 0 5px 6px;
					border-color: transparent transparent transparent #ffffff;
					display: block;
					content: '';
					position: absolute;
					left: 33px;
					top: 50%;
					margin-top: -5px;
				}
			}
			@include mobile {
				height: 114px;
				margin-top: -57px;
				padding: 20px;
				width: calc(100% - 40px);
				font-size: 12px;

				span {
					padding-left: 70px;

					&:before {
						width: 50px;
						height: 50px;
						margin-top: -25px;
						top: 50%;
					}
					&:after {
						left: 23px;
					}
				}
			}
		}
	}
	section.numbers {
		text-align: center;
		font-size: 0;
		padding: 55px 0;

		.number_block {
			text-align: left;
			display: inline-block;
			vertical-align: top;
			margin: 35px;
			width: 260px;
			padding-left: 68px;
			position: relative;

			@include mobile {
				width: 100%;
				margin: 0;
				margin-bottom: 35px;
			}
			&:first-child {
				margin-left: 0;
				padding-left: 55px;

				@include mobile {
					padding-left: 68px;
				}
			}
			&:last-child {
				margin-right: 0;

				@include mobile {
					margin-bottom: 0;
				}
			}
			&:before {
				display: block;
				position: absolute;
				color: #d7d7d7;
				font-size: 48px;
				top: 0;
				left: 0;
			}
			.number {
				font-family: $bold;
				color: #202020;
				font-size: 30px;
			}
			.label {
				font-size: 16px;
				color: #9c9c9c;
			}
		}
	}
	section.subscription {
		background: #f9f9f9;
		position: relative;
		min-height: 638px;

		.outer_box {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			font-size: 0;

			@include mobile {
				display: none;
			}
			.left,
			.right {
				display: inline-block;
				vertical-align: top;
				width: 50%;
				height: 100%;
			}
			.left {
				background: $blue;
				position: relative;
				overflow: hidden;
				z-index: 2;

				@include mobile {
					z-index: auto;
				}
				img {
					position: absolute;
					top: 0;
					right: 0;
					max-width: 100%;
					display: block !important;
				}
			}
		}
		.wrapper {
			display: flex;
			position: relative;
			z-index: 1;

			@include mobile {
				display: block;
			}
		}
		.left {
			width: 50%;
			display: inline-block;
			vertical-align: top;
			padding: 437px 40px 80px 0;

			img {
				display: none;
			}
			@include mobile {
				width: 100%;
				position: relative;
				padding: 280px 0 40px 0;
				display: block;

				&:before {
					display: block;
					position: absolute;
					content: '';
					width: calc(100% + 40px);
					left: -20px;
					top: 0;
					height: 100%;
					background: $blue;
				}
				img {
					display: block;
					position: absolute;
					max-width: 100%;
					top: 0;
					right: -20px;
					max-height: 100%;
				}
			}
			.text_box {
				max-width: 364px;
				width: 100%;
				color: #fff;

				@include mobile {
					position: relative;
					z-index: 1;
				}
				.name {
					font-size: 36px;
					font-family: $medium;
					margin-bottom: 13px;
				}
				.simple_text {
					font-size: 16px;
					line-height: 120%;
					margin-bottom: 24px;
				}
			}
		}
		.right {
			width: 50%;
			display: inline-block;
			vertical-align: top;
			padding: 68px 0 85px 58px;
			position: relative;

			@include mobile {
				width: 100%;
				display: block;
				padding: 37px 0 78px 0;
			}
			.name {
				color: #202020;
				font-size: 24px;
				font-family: $medium;
				margin-bottom: 56px;

				@include mobile {
					margin-bottom: 20px;
				}
			}
			.read_more {
				position: absolute;
				right: 0;
				top: 68px;
				color: $blue;

				&:before,
				&:after {
					background: $blue;
				}
				@include mobile {
					right: auto;
					left: 50%;
					transform: translate3d(-50%,0,0);
					bottom: 27px;
					top: auto;
				}
			}
			.news {

				.new {
					font-size: 0;
					border-bottom: 1px solid #e2e2e2;
					padding: 14px;
					cursor: pointer;
					display: block;
					text-decoration: none;
					background: #f9f9f9;
					transition: background 250ms;

					@include mobile {
						padding: 14px 0;
					}
					.date_box {
						display: inline-block;
						vertical-align: top;
						width: 124px;

						@include mobile {
							display: block;
							margin-bottom: 7px;
						}
						.time {
							color: #9c9c9c;
							font-size: 18px;
							font-family: $medium;
							margin-bottom: 2px;
						}
						.before {
							color: #9c9c9c;
							font-size: 12px;
							text-transform: uppercase;
							padding-right: 10px;
						}
					}
					.simple_text {
						font-size: 16px;
						color: $black;
						display: inline-block;
						vertical-align: top;
						width: calc(100% - 124px);
						transition: color 250ms;

						@include mobile {
							width: 100%;
							display: block;
						}
					}
					&:hover {

						@include no_touch {

							background: #fff;
						}
					}
				}
			}
		}
	}
	section.themes {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		padding-bottom: 78px;
		position: relative;

		&:before {
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			content: '';
			background: rgba(0,0,0,.7);
		}
		.wrapper {
			position: relative;
			z-index: 1;
		}
		@include mobile {
			padding-bottom: 20px;
		}
		h2 {
			color: #fff;
		}
		.themes_holder {
			display: flex;
			flex-wrap: wrap;
			margin: -20px;

			@include mobile {
				margin: 0;
				display: block;
			}
		}
		.theme {
			display: inline-flex;
			vertical-align: top;
			margin: 20px;
			border: 1px solid rgba(255, 255, 255, .2);
			font-size: 0;
			width: calc(50% - 40px);
			text-decoration: none;

			@include mobile {
				margin: 0;
				margin-bottom: 20px;
				display: block;
				width: 100%;
			}
			.img_holder {
				width: 120px;
				height: 110px;
				display: inline-flex;
				margin: auto 0;

				@include mobile {
					display: flex;
					width: 72px;
					height: 72px;
					margin-left: 20px;
				}
				img {
					margin: auto;
					width: auto;
					height: auto;
					max-width: 60%;
					max-height: 57%;

					@include mobile {
						margin: auto 0;
					}
				}
			}
			.text_holder {
				display: inline-block;
				vertical-align: top;
				width: calc(100% - 120px);
				padding: 20px 20px 20px 0;
				margin: auto 0;

				@include mobile {
					padding: 0 20px 20px 20px;
					display: block;
					width: 100%;
				}

				.name {
					font-size: 24px;
					font-family: $medium;
					color: #fff;
					margin-bottom: 7px;
					transition: color 250ms;

					@include mobile {
						font-size: 18px;
					}
				}
				.simple_text {
					font-size: 14px;
					color: #fff;
					line-height: 131%;
					transition: color 250ms;
				}
			}
		}
	}
	.add {
		height: 342px;
		background: #f9f9f9;
		padding-top: 80px;
		font-size: 16px;

		@include mobile {
			height: 313px;
			padding-top: 40px;
		}
		.wrapper {
			height: 100%;

			> div {
				height: 100%;
				width: 100%;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
			}
		}
		&.full_add {
			height: auto !important;

			.mobile_only {
				display: none;

				@include smallest {
					display: block;
				}
			}
			.desktop_only {
				display: block;

				@include smallest {
					display: none;
				}
			}
			img {
				height: auto;
				width: 100%;
			}
		}
	}
	section.important {
		position: relative;
		overflow: hidden;

		.background {
			position: absolute;
			width: 100%;
			height: 900%;
			z-index: 1;
			top: -400%;
			left: 0;
			transform: translate3d(0,0,0) rotateZ(-45deg);

			&:before {
				position: absolute;
				content: '';
				display: block;
				width: 50%;
				top: 0;
				left: 0;
				background: #f9f9f9;
				height: 100%;
			}
			&:after {
				position: absolute;
				content: '';
				display: block;
				width: 50%;
				top: 0;
				right: 0;
				background: #f5f5f5;
				height: 100%;
			}
		}
		&:before {
			position: absolute;
			content: '';
			display: block;
			width: 50%;
			top: 0;
			left: 0;
			background: #f9f9f9;
			height: 100%;
		}
		&:after {
			position: absolute;
			content: '';
			display: block;
			width: 50%;
			top: 0;
			right: 0;
			background: #f5f5f5;
			height: 100%;
		}
		.wrapper {
			position: relative;
			z-index: 2;
			padding-top: 75px;
			padding-bottom: 75px;
			max-width: 780px;

			@include mobile {
				padding-top: 50px;
				padding-bottom: 50px;
			}
			.name {
				color: #202020;
				font-family: $medium;
				font-size: 24px;
				line-height: 131%;
				margin-bottom: 20px;

				.badge {
					display: inline-block;
					vertical-align: middle;
					margin-left: 10px;
					height: 18px;
					line-height: 18px;
					padding: 0 8px;
					background: #03ae50;
					color: #fff;
					text-transform: uppercase;
					font-family: $medium;
					font-size: 10px;
				}
			}
			.simple_text {
				color: $black;
				font-size: 16px;
				line-height: 120%;
				margin-bottom: 20px;
			}
			.button {
				color: $blue;

				&:before,
				&:after {
					background: $blue;
				}
			}
		}
	}
	section.hot_news {
		padding-bottom: 78px;
		background: #f9f9f9;

		@include mobile {
			padding-bottom: 43px;
		}
		.wrapper {
			font-size: 0;
		}
		.left {	
			display: inline-block;
			vertical-align: top;
			width: calc(50% + 20px);
			text-decoration: none;
			margin: -10px;

			@include mobile {
				margin: 0;
				width: 100%;
				display: block;
			}
			.new {
				margin: 10px;
				width: calc(50% - 20px);
				height: 217px;
				display: inline-block;
				vertical-align: top;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				position: relative;
				overflow: hidden;
				padding: 20px;
				user-select: none;

				@include mobile {
					margin: 0;
					margin-bottom: 20px;
					width: 100%;
					display: block;
					height: calc((100vw - 40px) * 0.775);

					&:last-child {
						margin-bottom: 0;
					}
				}
				&:before {
					background: -webkit-linear-gradient(rgba(#000000, 0) 25%, rgba(#000000, .35) 50%, rgba(#000000, .35) 100%);
					background: -o-linear-gradient(rgba(#000000, 0) 25%, rgba(#000000, .35) 50%, rgba(#000000, .35) 100%);
					background: linear-gradient(rgba(#000000, 0) 25%, rgba(#000000, .35) 50%, rgba(#000000, .35) 100%);
					display: block;
					position: absolute;
					width: 100%;
					height: 200%;
					content: '';
					left: 0;
					top: 0;
					left: 0;
					transform: translate3d(0,0,0);
					transition: transform 250ms;
				}
				&:hover {

					@include no_touch {

						&:before {
							transform: translate3d(0,-50%,0);
						}
					}
				}
				.tag {
					position: absolute;
					z-index: 1;
					display: block;
					top: 20px;
					right: 20px;
					color: #fff;
					font-size: 10px;
					font-family: $medium;
					padding: 0 9px;
					height: 24px;
					line-height: 24px;
					text-transform: uppercase;
				}
				.content {
					position: absolute;
					z-index: 1;
					display: block;
					width: calc(100% - 40px);
					bottom: 20px;
					left: 20px;
					color: #fff;

					.date {
						font-size: 14px;
						margin-bottom: 14px;
						display: block;
					}
					.name {
						display: block;
						font-size: 18px;
						font-family: $medium;
						line-height: 136%;
					}
				}
			}
		}
		.right {
			display: inline-block;
			vertical-align: top;
			width: 50%;
			padding-left: 27px;

			@include mobile {
				width: 100%;
				padding-left: 0;
				display: block;
				margin-top: 30px;
			}
			.news {

				.new {
					font-size: 0;
					border-bottom: 1px solid #e2e2e2;
					padding: 14px;
					cursor: pointer;
					display: block;
					text-decoration: none;
					background: #f9f9f9;
					transition: background 250ms;

					@include mobile {
						padding: 14px 0;
					}

					.date_box {
						display: inline-block;
						vertical-align: top;
						width: 124px;

						@include mobile {
							margin-bottom: 7px;
							display: block;
						}

						.time {
							color: #9c9c9c;
							font-size: 18px;
							font-family: $medium;
							margin-bottom: 2px;
						}
						.before {
							color: #9c9c9c;
							font-size: 12px;
							text-transform: uppercase;
							padding-right: 10px;
						}
					}
					.simple_text {
						font-size: 16px;
						color: $black;
						display: inline-block;
						vertical-align: top;
						width: calc(100% - 124px);
						transition: color 250ms;

						@include mobile {
							width: 100%;
							display: block;
						}
					}
					&:hover {

						@include no_touch {
							background: #fff;
						}
					}
				}
			}
		}
	}
	section.photos {
		font-size: 0;
		padding-bottom: 78px;

		@include mobile {
			padding-bottom: 0;
		}
		.add {
			margin-top: 48px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			height: 278px;
			padding-top: 0;
			font-size: 16px;

			&.mobile_only {
				display: none;
			}
			@include wrapper {
				height: calc((100vw - 80px) * 0.2439);
			}
			@include mobile {
				margin-top: 43px;
			}
			@include smallest {

				&.desktop_only {
					display: none;
				}
				&.mobile_only {
					display: block;
					width: 100%;
					position: relative;
					padding: 280px 0 40px 0;
					display: block;
					height: auto;

					&:before {
						display: block;
						position: absolute;
						content: '';
						width: calc(100% + 40px);
						left: -20px;
						top: 0;
						height: 100%;
						background: #3574d1;
					}
					img {
						display: block;
						position: absolute;
						max-width: 100%;
						top: 0;
						right: -20px;
						max-height: 100%;
					}
					.text_box {
						max-width: 364px;
						width: 100%;
						color: #fff;
						position: relative;
   						z-index: 1;

   						.name {
							font-size: 36px;
							font-family: "Roboto-Medium";
							margin-bottom: 13px;
   						}
   						.simple_text {
							font-size: 16px;
							line-height: 120%;
							margin-bottom: 24px;
   						}
					}
				}
			}
		}
		.left {
			display: inline-block;
			vertical-align: top;
			width: 50%;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			height: 450px;
			position: relative;
			overflow: hidden;

			@include mobile {
				display: block;
				width: 100%;
				height: calc((100vw - 40px) * 0.775);
				margin-bottom: 20px;
			}
			&:before {
				background: -webkit-linear-gradient(rgba(#000000, 0) 25%, rgba(#000000, .35) 50%, rgba(#000000, .35) 100%);
				background: -o-linear-gradient(rgba(#000000, 0) 25%, rgba(#000000, .35) 50%, rgba(#000000, .35) 100%);
				background: linear-gradient(rgba(#000000, 0) 25%, rgba(#000000, .35) 50%, rgba(#000000, .35) 100%);
				display: block;
				position: absolute;
				width: 100%;
				height: 200%;
				content: '';
				left: 0;
				top: 0;
				left: 0;
				transform: translate3d(0,0,0);
				transition: transform 250ms;
			}
			&:hover {

				@include no_touch {

					&:before {
						transform: translate3d(0,-50%,0);
					}
				}
			}
			.content {
				position: absolute;
				z-index: 1;
				display: block;
				width: calc(100% - 60px);
				bottom: 30px;
				left: 30px;
				color: #fff;

				@include mobile {
					width: calc(100% - 40px);
					left: 20px;
					bottom: 20px;
				}
				.date {
					font-size: 14px;
					margin-bottom: 14px;
					display: block;
				}
				.name {
					display: block;
					font-size: 24px;
					font-family: $medium;
					line-height: 136%;

					@include mobile {
						font-size: 18px;
					}
				}
			}
		}
		.right {
			display: inline-block;
			vertical-align: top;
			width: 50%;
			margin: -15px;
			margin-left: 15px;

			@include mobile {
				margin: 0;
				display: block;
				width: 100%;
			}
			a {
				height: 210px;
				display: inline-block;
				margin: 15px;
				width: calc(50% - 30px);
				vertical-align: top;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				position: relative;
				overflow: hidden;

				@include mobile {
					height: calc((100vw - 40px) * 0.775);
					width: 100%;
					display: block;
					margin: 0;
					margin-bottom: 20px;
				}

				&:before {
					background: -webkit-linear-gradient(rgba(#000000, 0) 25%, rgba(#000000, .35) 50%, rgba(#000000, .35) 100%);
					background: -o-linear-gradient(rgba(#000000, 0) 25%, rgba(#000000, .35) 50%, rgba(#000000, .35) 100%);
					background: linear-gradient(rgba(#000000, 0) 25%, rgba(#000000, .35) 50%, rgba(#000000, .35) 100%);
					display: block;
					position: absolute;
					width: 100%;
					height: 200%;
					content: '';
					left: 0;
					top: 0;
					left: 0;
					transform: translate3d(0,0,0);
					transition: transform 250ms;
				}
				&:hover {

					@include no_touch {

						&:before {
							transform: translate3d(0,-50%,0);
						}
					}
				}
				.content {
					position: absolute;
					z-index: 1;
					display: block;
					width: calc(100% - 40px);
					bottom: 20px;
					left: 20px;
					color: #fff;

					.date {
						font-size: 14px;
						margin-bottom: 14px;
						display: block;
					}
					.name {
						display: block;
						font-size: 18px;
						font-family: $medium;
						line-height: 136%;
					}
				}
			}
		}
	}
}