@font-face {
	font-family: "icons";
	src: url('../../assets/fonts/icons.eot');
	src: url('../../assets/fonts/icons.eot?#iefix') format('eot'),
		 url('../../assets/fonts/icons.woff') format('woff'),
		 url('../../assets/fonts/icons.ttf') format('truetype')
}

@mixin icon-styles {
	font-family: "icons";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";
	
	@if $filename == Hotel {
		$char: "\EA01";
	}
	@if $filename == apartments {
		$char: "\EA02";
	}
	@if $filename == apocalyptic {
		$char: "\EA03";
	}
	@if $filename == business {
		$char: "\EA04";
	}
	@if $filename == list {
		$char: "\EA05";
	}
	@if $filename == logo {
		$char: "\EA06";
	}
	@if $filename == next {
		$char: "\EA07";
	}
	@if $filename == others {
		$char: "\EA08";
	}
	@if $filename == prev {
		$char: "\EA09";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon_Hotel {
	@include icon(Hotel);
}
.icon_apartments {
	@include icon(apartments);
}
.icon_apocalyptic {
	@include icon(apocalyptic);
}
.icon_business {
	@include icon(business);
}
.icon_list {
	@include icon(list);
}
.icon_logo {
	@include icon(logo);
}
.icon_next {
	@include icon(next);
}
.icon_others {
	@include icon(others);
}
.icon_prev {
	@include icon(prev);
}
