html {
  max-width: 100%;
  overflow-x: hidden;
}
.main_editor {
  width: 100%;
  max-width: 1140px;
  border: 1px solid #e5e5e5;
  border-bottom: none;
  font-size: 16px;
  min-height: 633px;
  padding-top: 131px;

  @include mobile {
    min-height: 0;
    padding-top: 0;
  }
  .editor_scroller {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;

    @include mobile {
      width: 100%;
      overflow-x: initial;
      overflow-y: initial;
      height: auto;
    }
  }
  .toolbar {
    border-bottom: 1px solid #e5e5e5;
    background: #f0f0f0;
    padding: 5px;
    width: 100%;
    max-width: 1140px;
    top: 0;
    left: 0;
    z-index: 2;
    height: 131px;
    position: fixed;

    @include mobile {
      height: auto;
      position: static;
    }

    .link_pop,
    .image_pop {
      background: #f0f0f0;
      border: 1px solid #e5e5e5;
      position: absolute;
      z-index: 2;
      width: 200px;
      top: 36px;
      left: -78px;
      padding: 15px;
      transform: translate3d(0, 10px, 0);
      transition: transform 250ms, opacity 250ms;
      pointer-events: none;
      opacity: 0;

      &.open {
        transform: translate3d(0, 0, 0);
        pointer-events: all;
        opacity: 1;
      }

      &:before {
        display: block;
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        border-left: 1px solid #e5e5e5;
        border-top: 1px solid #e5e5e5;
        transform: rotateZ(45deg);
        top: -6px;
        background: #f0f0f0;
        left: 50%;
        margin-left: -7px;
      }
      input {
        display: block;
        width: 100%;
        border-color: #e5e5e5;
        -webkit-appearance: none;
        appearance: none;
        box-shadow: none;
        border-radius: 0;
        border: 1px solid #e5e5e5;
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        margin-bottom: 15px;
      }
      .checkbox {
        padding-left: 30px;
        position: relative;
        cursor: pointer;
        font-size: 14px;
        user-select: none;

        &:before {
          display: block;
          position: absolute;
          content: "";
          width: 20px;
          height: 20px;
          position: absolute;
          border: 1px solid #e5e5e5;
          left: 0;
          top: 0;
          background: #fff;
        }
        &:after {
          display: block;
          position: absolute;
          content: "";
          width: 12px;
          height: 12px;
          position: absolute;
          background: #3574d1;
          left: 4px;
          top: 4px;
          z-index: 2;
          transition: transform 250ms;
          transform: translate3d(0, 0, 0) scale(0);
        }
        &.checked {
          &:after {
            transform: translate3d(0, 0, 0) scale(1);
          }
        }
      }
    }
    .image_pop {
      left: 5px;
      margin-left: 0;

      &:before {
        left: 16px;
      }
    }
    .button {
      display: inline-block;
      vertical-align: top;
      margin: 5px 5px;
      min-width: 30px;
      min-height: 30px;
      user-select: none;
      transition: opacity 250ms;
      -webkit-appearance: none;
      appearance: none;
      box-shadow: none;
      border: none;
      background: none;
      position: relative;

      > div {
        svg {
          width: 20px;
          height: auto;
        }
      }
      .explain_pop,
      + .explain_pop {
        background: #f0f0f0;
        border: 1px solid #e5e5e5;
        position: absolute;
        z-index: 2;
        width: 120px;
        top: 36px;
        left: 50%;
        margin-left: -60px;
        padding: 10px;
        transform: translate3d(0, 10px, 0);
        transition: transform 250ms, opacity 250ms;
        pointer-events: none;
        opacity: 0;
        font-size: 14px;
        color: #000;

        &:before {
          display: block;
          position: absolute;
          content: "";
          width: 10px;
          height: 10px;
          border-left: 1px solid #e5e5e5;
          border-top: 1px solid #e5e5e5;
          transform: rotateZ(45deg);
          top: -6px;
          background: #f0f0f0;
          left: 50%;
          margin-left: -5px;
        }
      }
      &.active {
        color: #3574d1;
      }
      &.inactive {
        opacity: 0.4 !important;
        pointer-events: none !important;

        .icon svg * {
          fill: #000 !important;
        }
      }
      &.undo {
        .explain_pop {
          left: 0;
          margin-left: 0;

          &:before {
            left: 16px;
          }
        }
      }
      &.numbered,
      &.bulleted,
      &.quote,
      &.link {
        > div {
          svg {
            margin-top: -2px;
          }
        }
      }
      &.headingOne {
        > div {
          svg {
            width: 20px !important;
            height: 20px !important;
          }
        }
      }
      &.headingTwo {
        > div {
          svg {
            width: 17px !important;
            height: 17px !important;
          }
        }
      }
      &.headingThree {
        > div {
          svg {
            width: 14px !important;
            height: 14px !important;
          }
        }
      }
      &.headingFour {
        > div {
          svg {
            width: 11px !important;
            height: 11px !important;
          }
        }
      }
      &.big {
        > div {
          svg {
            width: 20px !important;
            height: 20px !important;
          }
        }
      }
      &.medium {
        > div {
          svg {
            width: 17px !important;
            height: 17px !important;
          }
        }
      }
      &.default {
        > div {
          svg {
            width: 14px !important;
            height: 14px !important;
          }
        }
      }
      &.small {
        > div {
          svg {
            width: 11px !important;
            height: 11px !important;
          }
        }
      }
      &.onInsertColumn {
        > div {
          svg {
            transform: rotateZ(90deg);
          }
        }
      }
      &.onRemoveColumn {
        > div {
          svg {
            transform: rotateZ(90deg);
          }
        }
      }
      &.left,
      &.center,
      &.justify,
      &.right {
        > div {
          svg {
            width: 15px;
            height: auto;
            margin-top: -2px;
          }
        }
      }
      &.float_right,
      &.float_left,
      &.block,
      &.imagesmall,
      &.imageFull,
      &.imageThird,
      &.imageHalf {
        .icon {
          svg {
            width: 18px;
            height: auto;
            margin-top: 0px;

            * {
              transition: fill 250ms;
            }
          }
        }
        &:hover {
          @include no_touch {
            .icon svg * {
              fill: #3574d1;
            }
          }
        }
        &.active {
          .icon svg * {
            fill: #3574d1;
          }
        }
      }
      &.onInsertTable,
      &.onInsertColumn,
      &.onRemoveColumn,
      &.onInsertRow,
      &.onRemoveRow,
      &.onRemoveTable,
      &.removeStyle {
        > div {
          svg {
            width: 16px;
            height: auto;
          }
        }
      }
      &.onInsertTable {
        .explain_pop {
          left: 0;
          margin-left: -2px;

          &:before {
            left: 16px;
          }
        }
      }
      &.onBorderClear {
        > div {
          svg {
            width: 19px;
            height: auto;
            margin-bottom: -1px;
          }
        }
      }
      &.onInsertColumn,
      &.onRemoveColumn,
      &.onInsertRow,
      &.onRemoveRow,
      &.agree,
      &.disagree {
        > div {
          svg {
            width: 14px;
            height: auto;
          }
        }
      }
      &.trimRows {
        > div {
          svg {
            width: 16px;
            height: auto;
          }
        }
      }
      &.quotes {
        > div {
          svg {
            width: 16px;
            height: auto;
          }
        }
      }
      &.uppercase {
        > div {
          svg {
            width: 16px;
            height: auto;
            margin-top: -4px;
          }
        }
      }
      &.disagree {
        margin-right: -7px;
      }
      &:hover {
        @include no_touch {
          color: #3574d1;

          .explain_pop,
          + .explain_pop {
            transform: translate3d(0, 0, 0);
            opacity: 1;
          }
        }
      }
    }
    label.button {
      display: inline-block;
      vertical-align: top;
      margin: 5px 5px;
      width: 30px;
      height: 30px;
      user-select: none;
      transition: opacity 250ms;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      -webkit-appearance: none;
      appearance: none;

      input {
        top: -1000px;
        left: -1000px;
        position: absolute;
        opacity: 0;
      }
      div {
        position: absolute;
        width: 16px;
        height: 18px;
        margin-top: -12px;
        margin-left: -8px;
        left: 50%;
        top: 50%;
      }
      > div {
        svg {
          width: 16px;
          height: auto;
        }
      }
      // + .explain_pop {
      // 	margin-left: -120px;
      // 	top: 41px;
      // }
      + .explain_pop {
        left: 0;
        margin-left: 3px;

        &:before {
          left: 16px;
        }
      }
    }
    .buttons_block {
      display: inline-block;
      vertical-align: top;
      margin-right: 10px;
      position: relative;

      &.right {
        text-align: right;
        display: block;
        margin-right: 0;
      }
      &.inactive {
        .button {
          opacity: 0.4 !important;
          pointer-events: none !important;
        }
      }
    }
  }
  blockquote {
    padding: 10px 20px;
    background: rgba(#bebebe, 0.3);
    position: relative;
  }
  .image_holder {
    img {
      display: inline-block;
      max-width: 100% !important;
      transition: border 250ms;
      border: 0px solid #3574d1;
    }
    &.selected {
      position: relative;

      img {
        border: 5px solid #3574d1;
      }
    }
    &.right_img {
      text-align: right;
    }
    &.center_img {
      text-align: center;
    }
    &.left_img {
      text-align: left;
    }
  }
  .free_image {
    transition: border 250ms;
    border: 0px solid #3574d1;
    position: relative;
    z-index: 2;

    &.selected {
      border: 5px solid #3574d1;
    }
  }
  td > p:first-child {
    margin-top: 0;
  }

  td > p:last-child {
    margin-bottom: 0;
  }
  *[data-slate-editor] {
    padding: 20px;
    min-height: 502px;

    div[data-key] {
      line-height: 151%;
      margin-bottom: 24px;
    }

    @include mobile {
      min-height: 0;
    }
  }
  ul,
  ol {
    padding-left: 21px;
  }
}
.quill {
  position: absolute !important;
  visibility: hidden !important;
  pointer-events: none !important;
  opacity: 0 !important;
  width: 0 !important;
  height: 0 !important;
}
.hider {
  width: 0;
  height: 0;
  overflow: hidden;
  position: relative;
}
#html_holder {
  opacity: 0;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden;
  position: absolute;
  visibility: hidden;
}
*::-moz-selection {
  background: rgba(#3574d1, 0.6);
}
*::selection {
  background: rgba(#3574d1, 0.6);
}
