// @font-face {
//   font-family: 'FoundersGrotesk-Light';
//   src: url('../../assets/fonts/FoundersGroteskLight/FoundersGrotesk-Light.eot?#iefix') format('embedded-opentype'),  url('../../assets/fonts/FoundersGroteskLight/FoundersGrotesk-Light.otf')  format('opentype'),
// 	     url('../../assets/fonts/FoundersGroteskLight/FoundersGrotesk-Light.woff') format('woff'), url('../../assets/fonts/FoundersGroteskLight/FoundersGrotesk-Light.ttf')  format('truetype'), url('../../assets/fonts/FoundersGroteskLight/FoundersGrotesk-Light.svg#FoundersGrotesk-Light') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

// $GroLight: 'FoundersGrotesk-Light';

