@mixin smaller {
	@media screen and ( max-width: 1140px ) {
		@content;
	}
}
@mixin tablet {
	@media screen and ( max-width: 1024px ) {
		@content;
	}
}
@mixin tablet_portrait {
	@media screen and ( max-width: 1000px ) {
		@content;
	}
}
@mixin mobile {
	@media screen and ( max-width: 800px ) {
		@content;
	}
}
@mixin no_touch {
	@media screen and ( min-width: 801px ) {
		@content;
	}
}
@mixin placeholder() {
	&::-webkit-input-placeholder {
		@content;
	}
	&:-moz-placeholder {
		@content;
	}
	&::-moz-placeholder {
		@content;
	}
	&:-ms-input-placeholder {
		@content;
	}
	&:focus::-webkit-input-placeholder {
		text-indent: -9999px;
		font-size: 0;
	}
	&:focus:-moz-placeholder {
		text-indent: -9999px;
		font-size: 0;
	}
	&:focus::-moz-placeholder {
		text-indent: -9999px;
		font-size: 0;
	}
	&:focus:-ms-input-placeholder {
		text-indent: -9999px;
		font-size: 0;
	}
}